<div class="my-account-menu one-fourth medium-down--one-whole">
  <div class="medium-down--flex">
    <div class="lower-menu">
      <div class="goto flex-1">
        <button class="trigger hide medium-down--show medium-down--flex align-items-center">Go to... {% include 'icons', icon: 'arrow-down' %}</button>
        <div class="links">
          <a href="/account">My Account</a>
          <a href="/account/addresses">Address Book</a>
          <a href="/account?view=orders" class="scroll">My Orders</a>
        </div>
      </div>
    <div class="logout"><a href="/account/logout"><div class="btn">Logout</div></a></div>
    </div>
  </div>
</div>