<!--{{ template }}-->
{%- unless template == 'index' -%}
    {%- if settings.layout_show_breadcrumbs -%}
        <div class="breadcrumbs pt-15">
            <div class="page-width">
                <ul class="list-unstyled d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <li><a href="/" >{% include 'icon-arrow-left' %}{{ 'layout.breadcrumbs.home' | t }}</a></li>
                    {%- if template contains 'page' -%}
                        <li><span>{{ page.title }}</span></li>
                    {%- elsif template contains 'product' -%}
                        {%- if collection.url -%}
                            <li><a href="{{ collection.url }}">{{ collection.title }}</a></li>
                        {%- endif -%}
                        <li><span>{{ product.title }}</span></li>
                    {%- elsif template contains 'collection' and collection.handle -%}
                        {%- if current_tags -%}
                            {%- assign exceptions_filters = 'custom-filter|only_available=|page=' | split: '|' -%}
                            {%- assign correct_filters = 'page=|tag=|vendor=|type=|title=|price=' | split: '|' -%}
                            {%- assign filtered_current_tags = '' -%}
                            {%- for tag in current_tags -%}
                                {%- assign changed_tag = tag -%}
                                {%- for filter in exceptions_filters -%}
                                    {%- if changed_tag contains filter -%}
                                        {%- assign changed_tag = null -%}
                                        {%- break -%}
                                    {%- endif -%}
                                {%- endfor -%}
                                {%- for filter in correct_filters -%}
                                    {%- if changed_tag contains filter -%}
                                        {%- assign changed_tag = changed_tag | remove: filter -%}
                                        {%- break -%}
                                    {%- endif -%}
                                {%- endfor -%}
                                {%- if changed_tag != null -%}
                                    {% capture filtered_current_tags %}{{ filtered_current_tags }}{% if filtered_current_tags != '' %}|{% endif %}{{ changed_tag }}{% endcapture %}
                                {%- endif -%}
                            {%- endfor -%}
                            {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
                            <li>{{ collection.title | link_to: url }}</li>
                            {%- if filtered_current_tags != '' -%}
                                {%- assign filtered_current_tags = filtered_current_tags | split: '|' -%}
                                <li><span>{{ filtered_current_tags | join: ' + ' }}</span></li>
                            {%- endif -%}
                        {%- else -%}
                            <li><span>{{ collection.title }}</span></li>
                        {%- endif -%}
                    {%- elsif template == 'blog' -%}
                        {%- if current_tags -%}
                            <li>{{ blog.title | link_to: blog.url }}</li>
                            <li><span>{{ current_tags | join: ' + '}}</span></li>
                        {%- else -%}
                            <li><span>{{ blog.title }}</span></li>
                        {%- endif -%}
                    {%- elsif template == 'article' -%}
                        <li>{{ blog.title | link_to: blog.url }}</li>
                        <li><span>{{ article.title }}</span></li>
                    {%- else -%}
                        <li><span>{{ page_title }}</span></li>
                    {%- endif -%}
                </ul>
            </div>
        </div>
    {%- endif -%}
{%- endunless -%}