{% assign option1_selected = option1_selected %}
{% assign option2_selected = option2_selected %}
{% if product.variants.size > 1 %}
  <div class="card__swatches">
    {% assign choose = 'Color' %}
    {% if product.handle == 'gift-card' %}
      {% assign choose = 'Value' %}
    {% elsif product.title contains 'Walrus' %}
      {% assign choose = 'Care Product' %}
    {% elsif product.handle == 'custom-engraving' %}
      {% assign choose = 'Engraving Style' %}
    {% endif %}
    <ul class="swatches">
      {% for variant in product.variants %}       
            {% assign variant_handle = variant.title | remove: ' ' | remove: '|' %}
            {% assign variant_handle = variant_handle | downcase %}
            {% case variant_handle %}            
              {% when 'blackwhitegold' %}
              {% assign option_color_img = 'jsBWGCHAvalue.jpg' | asset_img_url: '22x' %}    
              {% when 'navywhitemetallic' %}
              {% assign option_color_img = 'jsNWMCHAvalue.jpg' | asset_img_url: '22x' %}                
              {% when 'tealwhitegold' %}
              {% assign option_color_img = 'jsTWGCHAvalue.jpg' | asset_img_url: '22x' %}                
              {% when 'oceanvibes' %}
              {% assign option_color_img = 'jsOVBvalue.jpg' | asset_img_url: '22x' %}                
              {% when 'whitegreygold' %}
              {% assign option_color_img = 'jsWGGCHAvalue.jpg' | asset_img_url: '22x' %}  
              {% when 'raspberrywhitegold' %}
              {% assign option_color_img = 'jsRWGCHAvalue.jpg' | asset_img_url: '22x' %}  
              {% when 'emeraldjewel' %}
              {% assign option_color_img = 'jsEJCHAvalue.jpg' | asset_img_url: '22x' %}  
              {% when 'rosegold' %}
              {% assign option_color_img = 'jsRGvalue.jpg' | asset_img_url: '22x' %}  
              {% else %}
              {% assign option_color_img = 'jsPWAvalue.jpg' | asset_img_url: '22x' %}  
            {% endcase %}
            {% assign variant_img_url = variant.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
            {% assign variant_card_image = variant.image | img_url: '1024x1024' %}
            <script>
              (function(m8,d,i,ovi) { 
              i = d.createElement("img"); 
              ii = d.createElement("img");
              ovi = m8.pso_obj_variant_images;
              i.src = "{{ variant_card_image }}";
              i.classList.add("product-image-d-block");
              i.classList.add("card__image");
              i.setAttribute("data-src","{{ variant_img_url }}");
              i.setAttribute("data-widths","[180, 220, 300, 360, 460, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]");
              i.setAttribute("data-aspectratio","{{ variant.image.aspect_ratio }}");
              i.setAttribute("data-sizes","auto");
              i.setAttribute("alt","{{ variant.image.alt | escape }}");    
              ovi["variants"].push({ id: "{{ variant.id }}", img: i, pid: "{{ product.id }}" });
              })(window, document);
            </script>
            <li><button type="button" data-variant-id="{{ variant.id }}" card-image-data-id="{{ product.id }}" data-variant-url="{{ variant.url | within: collection }}" class="js-swatch-value {% if product.selected_variant.id == variant.id %}swatch active{% elsif product.selected_or_first_available_variant.id == variant.id %}swatch active{% else %}swatch{% endif %} lazypreload" style="background-image: url('{{ option_color_img }}'); cursor: pointer;" data-option1="{{ option1_selected }}" data-option2="{{ option2_selected }}" data-option3="{{ variant.title }}"></button></li>
      {% endfor %}
    </ul>
  </div>
{% endif %}