{% assign img_url = type | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
{% if grid_style == 'grid' %}
  <div class="card__image-wrapper card__image-wrapper--aligned">
    <img class="card__image card__image--align lazyload"
      src="{{ type | img_url: '300x'}}"
      data-parent-fit="cover"
      data-src="{{ img_url }}"
      data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
      data-aspectratio="{{ type.aspect_ratio }}"
      data-sizes="auto"
      alt="{{ type.alt | escape }}"
      data-variant-media-image>
    <div class="card__preloader"></div>
  </div>
{% else %}
  <div class="card__image-wrapper" style="padding-top:{{ 1 | divided_by: type.aspect_ratio | times: 100}}%" card-image-data-id="{{ product.id }}">
  </div>
      {% assign product_images_size = product.images | size %}
      {% if product_images_size > 0 %}
      {% for image in product.images limit: 2 %}
      {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
      {% assign card_image = image | img_url: '1024x1024' %}
      {% if forloop.first %}
      <script>
          (function(m8,d,i,ns,ii,opi) {
            i = d.createElement("img"); 
            ns = d.createElement("noscript");
            ii = d.createElement("img");
            opi = m8.pso_obj_products_images;
            i.classList.add("product-image-d-block");            
            i.classList.add("card__image");
            i.src = "{{ card_image }}";
            i.setAttribute("data-src","{{ img_url }}");
            i.setAttribute("data-widths","[180, 220, 300, 360, 460, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]");
            i.setAttribute("data-aspectratio","{{ image.aspect_ratio }}");
            i.setAttribute("data-sizes","auto");
            i.setAttribute("alt","{{ image.alt | escape }}");    
            ns.append(ii);
            ii.src = "{{ card_image }}";
            ii.setAttribute("alt","{{ card_image.alt | escape }}");
            ii.classList.add("card__image");
            opi["products"].push({ id: "{{ product.id }}", img: i, noscript: ns });
            })(window,document);
      </script>
      {% endif %}
      {% if forloop.last %}
          <script>
            (function(m8,d,i,ns,ii,opi) { 
            i = d.createElement("img"); 
            ns = d.createElement("noscript");
            ii = d.createElement("img");
            opi = m8.pso_obj_products_images;
            i.classList.add("product-image-d-none");
            i.classList.add("product-second-image");
            i.classList.add("card__image");
            i.src = "{{ card_image }}";
            i.setAttribute("data-src","{{ img_url }}");
            i.setAttribute("data-widths","[180, 220, 300, 360, 460, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]");
            i.setAttribute("data-aspectratio","{{ image.aspect_ratio }}");
            i.setAttribute("data-sizes","auto");
            i.setAttribute("alt","{{ image.alt | escape }}");    
            ns.append(ii);
            ii.src = "{{ card_image }}";
            ii.setAttribute("alt","{{ card_image.alt | escape }}");
            ii.classList.add("card__image");
            opi["products"].push({ id: "{{ product.id }}", img: i, noscript: ns });
            })(window, document);
          </script>
      {% endif %}
      {% endfor %}
      {% else %}
      {% assign array_img_url = product.featured_image | img_url: '1024x1024' %}
      <script>
            (function(m8,d,i,ns,ii,opi) { 
              i = d.createElement("img"); 
              ns = d.createElement("noscript");
              ii = d.createElement("img");
              opi = m8.pso_obj_products_images;
              i.classList.add("card__image");
              i.src = "{{ array_img_url }}";
              i.setAttribute("data-srcset","{{ array_img_url }}");
              i.setAttribute("data-widths","[180, 220, 300, 360, 460, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]");
              i.setAttribute("data-aspectratio","{{ type.aspect_ratio }}");
              i.setAttribute("data-sizes","auto");
              i.setAttribute("alt","{{ type.alt | escape }}");    
              ns.append(ii);
              ii.src = "{{ card_image }}";
              ii.setAttribute("alt","{{ card_image.alt | escape }}");
              ii.classList.add("card__image");
              opi["products"].push({ id: "{{ product.id }}", img_url: i, noscript: ns });
            })(window,document);
      </script>
      {% endif %}
{% endif %}
