<div class="container">  
    <div class="modal d-none" custom-order-popup aria-modal="true" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{ 'general.custom_order.popup.popup_title' | t }}</h4>
          </div>
          <div class="modal-body">
            {{ 'general.custom_order.popup.popup_description' | t }}
          </div>
          <div class="modal-footer">
            {{ 'general.custom_order.popup.continue_html' | t }}
            {{ 'general.custom_order.popup.back_html' | t }}
          </div>          
        </div>
      </div>
    </div>    
  </div>
<div class="modal-backdrop d-none"></div>