<svg width="50px" height="19px" viewBox="0 0 50 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-family="Lora-Regular, Lora" font-size="25" font-weight="normal">
      <g transform="translate(-1260.000000, -573.000000)" fill="#3a3a3a">
        <text>
          <tspan x="1261.325" y="591">ABC</tspan>
        </text>
      </g>
    </g>
  </svg>