<div class="form-price-quotation-div">
    <div class="form-price-header">
        <div class="form-price-header-block">
        <h2 class="form-price-title">Request for Quote</h2>
        <p class="form-price-sub-title">Please take a moment to fill the form.</p>
        </div>
        <div class="form-price-header-plus">
            <button type="button" class="form-price-expand"></button>
        </div>
    </div>
    <div class="form-price-quotation height-opacity-zero">
    {% form 'contact' %}
    <div> 
    <input type="hidden" name="contact[selected_product_variant_url]" value="{{ shop.url }}{{ product.selected_or_first_available_variant.url | within: collection }}" />
    <label for="ContactFullname">Fullname <span class="asterisk">*</span></label>
    <input
        type="text"
        id="ContactFullname"
        name="contact[Fullname]"
        placeholder="Fullname" required
    />
    <div class="d-flex">
                <label for="ContactPhone">Phone *</label>
                <label for="ContactEmail">Email *</label>
        </div>
        <div class="d-flex">
                <input
                    type="text"
                    id="ContactPhone"
                    name="contact[Phone]"
                    placeholder="Phone" required
                />          
                <input
                    type="text"
                    id="ContactEmail"
                    name="contact[Email]"
                    placeholder="Email" required
                />
        </div>
        <div class="d-flex">
            <label for="ContactQuantity">Quantity *</label>
            <p for="ContactUpload">Click "Choose a Logo" to upload your logo. *</p>
        </div>
        <div class="d-flex">
        <input
            type="text"
            id="ContactQuantity"
            name="contact[Quantity]"
            placeholder="Quantity" required
        />
        <button id="ContactUpload" class="btn_contact_upload" type="button">Choose a Logo</button>
        </div>
    <input type="hidden" name="contact[logo_uploaded_url]" required/>
    <p>Comments/Special Requests.</p>
    <textarea id="ContactFormMessage" name="contact[body]" placeholder="Type here" required spellcheck="false" required></textarea>
    <button id="SubmitPriceQuotation" class="btn_submit_quote" type="submit">Give me your best price!</button>
    {% endform %}
      </div>
    </div>
</div>