{% assign product_upsell_enabled = product_upsell_enabled | default: false %}
{% assign product_upsell_description = product_upsell_description | default: '' %}
{% assign product_upsell_item = product_upsell_item | default: blank %}
{% assign product_gift_form_enabled = product_gift_form_enabled | default: false %}
{% assign product_gift_title = product_gift_title | default: blank %}
{% assign upsell_item_title_replacement = upsell_item_title_replacement | default: blank %}
{% if product_upsell_enabled and product_upsell_item != blank %}
<div class="product_upsell__wrapper">          
  <p class="rte">{{ product_upsell_description }}</p>
    <div class="product_upsell d-flex">
      <label class="product_upsell_item_checkbox">
        <input class="product_upsell_variant" type="checkbox" value="{{ product_upsell_item.selected_or_first_available_variant.id }}">
      </label>
      <div class="product-upsell-item-title">{%if upsell_item_title_replacement != blank %}{{ upsell_item_title_replacement }}{% else %}{{ product_upsell_item.title }}{% endif %} + <span>{{ product_upsell_item.price | money }}</span></div>
      <a role="button" href="{{ product_upsell_item.url | within: collection }}" class="product_upsell_item_link">
        <img alt="{{ product_upsell_item.title }}" class="product_upsell_item_image" src="{{ product_upsell_item.featured_image | img_url: '58x' }}">
      </a>
    </div>
  </div>
{% endif %}
{% if product_gift_form_enabled %}   
       <div class="product_gift_form d-flex">
              <label class="product_gift_checkbox-label">
              <input type="checkbox" value="no" class="product_gift_checkbox">                
              </label>
              <div class="product_gift_checkbox-input-title">{{ product_gift_title }}</div>
              <i class="product_gift_icon">{% render 'product_gift' %}</i>
       </div>
       <div class="product_gift_input_form d-none">
              <label for="to_message">To</label>
              <input id="to_message" name="properties[To]" placeholder="To" type="text" class="product_gift_input_to"> 
              <label for="from_message">From</label>
              <input id="from_message" name="properties[From]" placeholder="From" type="text" class="product_gift_input_from">             
              <label for="gsMessage">Message</label>              
              <textarea id="gsMessage" name="properties[Message]" placeholder="Add a message" class="product_gift_input_msg"></textarea>                        
        </div>
{% endif %}