{% if section.settings.show_announcement %}
{% if section.settings.home_page_only == false or request.page_type == 'index' %}
  <style>
    .announcement-bar {
      background-color: {{ section.settings.announcement_color_bg }};
      color: {{ section.settings.announcement_color_text }};
    }
    .announcement-bar__message,
    .announcement-bar__close {
      color: {{ section.settings.announcement_color_text }};
      list-style: none;
    }
  </style>

    <div class="announcement-bar">
    <ul class="annoucement-banner-header">
    <li class="announcement-bar__message page-width">
      <a href="{{ section.settings.announcement_link }}" class="announcement-bar {% if section.settings.banner_autoplay %}announcement-bar--link{% endif %}">
        {% assign handle = section.settings.announcement_icon %}
        {% case handle %}
        {% when 'box' %}
        {% include 'icon-box' %}{{ section.settings.announcement_text | escape }}
        {% when 'card' %}
        {% include 'icon-card' %}{{ section.settings.announcement_text | escape }}
        {% when 'cart' %}
        {% include 'icon-cart' %}{{ section.settings.announcement_text | escape }}
        {% when 'checkmark' %}
        {% include 'icon-checkmark' %}{{ section.settings.announcement_text | escape }}
        {% when 'clock' %}
        {% include 'icon-clock' %}{{ section.settings.announcement_text | escape }}
        {% when 'envelope' %}
        {% include 'icon-envelope' %}{{ section.settings.announcement_text | escape }}
        {% when 'globe' %}
        {% include 'icon-globe' %}{{ section.settings.announcement_text | escape }}
        {% when 'leaf' %}
        {% include 'icon-leaf' %}{{ section.settings.announcement_text | escape }}
        {% when 'padlock' %}
        {% include 'icon-padlock' %}{{ section.settings.announcement_text | escape }}
        {% when 'pricetag' %}
        {% include 'icon-pricetag' %}{{ section.settings.announcement_text | escape }}
        {% when 'silhouet' %}
        {% include 'icon-silhouet' %}{{ section.settings.announcement_text | escape }}
        {% when 'trophy' %}
        {% include 'icon-trophy' %}{{ section.settings.announcement_text | escape }}
        {% when 'truck' %}
        {% include 'icon-truck' %}{{ section.settings.announcement_text | escape }}
        {% else %}
        {{ section.settings.announcement_text | escape }}
        {% endcase %}              
      </a>
    </li>
    <li class="announcement-bar__message page-width d-none">
      <a href="{{ section.settings.announcement_link2 }}" class="announcement-bar announcement-bar--link">
        {% assign handle = section.settings.announcement_icon2 %}
        {% case handle %}
        {% when 'box' %}
        {% include 'icon-box' %}{{ section.settings.announcement_text2 | escape }}
        {% when 'card' %}
        {% include 'icon-card' %}{{ section.settings.announcement_text2 | escape }}
        {% when 'cart' %}
        {% include 'icon-cart' %}{{ section.settings.announcement_text2 | escape }}
        {% when 'checkmark' %}
        {% include 'icon-checkmark' %}{{ section.settings.announcement_text2 | escape }}
        {% when 'clock' %}
        {% include 'icon-clock' %}{{ section.settings.announcement_text2 | escape }}
        {% when 'envelope' %}
        {% include 'icon-envelope' %}{{ section.settings.announcement_text2 | escape }}
        {% when 'globe' %}
        {% include 'icon-globe' %}{{ section.settings.announcement_text2 | escape }}
        {% when 'leaf' %}
        {% include 'icon-leaf' %}{{ section.settings.announcement_text2 | escape }}
        {% when 'padlock' %}
        {% include 'icon-padlock' %}{{ section.settings.announcement_text2 | escape }}
        {% when 'pricetag' %}
        {% include 'icon-pricetag' %}{{ section.settings.announcement_text2 | escape }}
        {% when 'silhouet' %}
        {% include 'icon-silhouet' %}{{ section.settings.announcement_text2 | escape }}
        {% when 'trophy' %}
        {% include 'icon-trophy' %}{{ section.settings.announcement_text2 | escape }}
        {% when 'truck' %}
        {% include 'icon-truck' %}{{ section.settings.announcement_text2 | escape }}
        {% else %}
        {{ section.settings.announcement_text2 | escape }}
        {% endcase %}
      </a>
    </li>
    <li class="announcement-bar__message page-width d-none">
      <a href="{{ section.settings.announcement_link3 }}" class="announcement-bar announcement-bar--link">
        {% assign handle = section.settings.announcement_icon3 %}
        {% case handle %}
        {% when 'box' %}
        {% include 'icon-box' %}{{ section.settings.announcement_text3 | escape }}
        {% when 'card' %}
        {% include 'icon-card' %}{{ section.settings.announcement_text3 | escape }}
        {% when 'cart' %}
        {% include 'icon-cart' %}{{ section.settings.announcement_text3 | escape }}
        {% when 'checkmark' %}
        {% include 'icon-checkmark' %}{{ section.settings.announcement_text3 | escape }}
        {% when 'clock' %}
        {% include 'icon-clock' %}{{ section.settings.announcement_text3 | escape }}
        {% when 'envelope' %}
        {% include 'icon-envelope' %}{{ section.settings.announcement_text3 | escape }}
        {% when 'globe' %}
        {% include 'icon-globe' %}{{ section.settings.announcement_text3 | escape }}
        {% when 'leaf' %}
        {% include 'icon-leaf' %}{{ section.settings.announcement_text3 | escape }}
        {% when 'padlock' %}
        {% include 'icon-padlock' %}{{ section.settings.announcement_text3 | escape }}
        {% when 'pricetag' %}
        {% include 'icon-pricetag' %}{{ section.settings.announcement_text3 | escape }}
        {% when 'silhouet' %}
        {% include 'icon-silhouet' %}{{ section.settings.announcement_text3 | escape }}
        {% when 'trophy' %}
        {% include 'icon-trophy' %}{{ section.settings.announcement_text3 | escape }}
        {% when 'truck' %}
        {% include 'icon-truck' %}{{ section.settings.announcement_text3 | escape }}
        {% else %}
        {{ section.settings.announcement_text3 | escape }}
        {% endcase %}
      </a>
    </li>
    <button class="announcement-bar__close btn btn--clear" aria-expanded="true">{% include 'icon-close' %}</button>
    </ul>
    </div>
{% endif %}
{% endif %}

<div class="site-header-sections page-width">
    <nav class="site-header__section site-header__section--button" data-site-navigation role="navigation">
    </nav>
</div>