{%- comment -%}
snippet parameters: 
interface 1) icon:* [string]
             iconColor:(optional) [string], color in any css format,
             iconAriaHidden:(optional) [string], values: 'true' or 'false',
             iconFocusable:(optional) [string], values: 'true' or 'false',
             iconTabIndex:(optional) [number],
             iconRole:(optional) [string]
{%- endcomment -%}

{%- if iconColor == blank -%}
  {%- assign iconColor = settings.content_text_color -%}
{%- endif -%}
{%- if iconAriaHidden == blank -%}
  {%- assign iconAriaHidden = 'true' -%}
{%- endif -%}
{%- if iconTabIndex == blank -%}
  {%- assign iconTabIndex = '-1' -%}
{%- endif -%}
{%- if iconRole == blank -%}
  {%- assign iconRole = 'presentation' -%}
{%- endif -%}
{%- case icon -%}
  {%- when 'arrow-down' -%}
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-arrow-down down-arrow" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M26.985,8.5l1.516,1.617L16.001,23.5l-12.5-13.383L5.009,8.5l10.992,11.758L26.985,8.5z"/></svg> 
  {%- when 'arrow-left' -%}
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-arrow-left left-arrow" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M23.5,26.984L21.883,28.5L8.5,16L21.883,3.5L23.5,5.009L11.742,16L23.5,26.984z"/></svg>
  {%- when 'arrow-right' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-arrow-right right-arrow" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M8.5,5.015L10.117,3.5L23.5,16L10.117,28.5L8.5,26.991L20.258,16L8.5,5.015z"/></svg>
  {%- when 'arrow-long-left' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-arrow-long-left" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M9.379,25.37c0.31-0.31,0.3-0.8,0-1.131l-6.64-7.438h28.46c0.44,0,0.801-0.361,0.801-0.8s-0.361-0.799-0.801-0.799H2.739 l6.63-7.439c0.291-0.34,0.32-0.81,0.01-1.12s-0.85-0.33-1.14-0.01c0,0-7.92,8.7-8,8.8C0.16,15.532,0,15.712,0,16.002 c0,0.291,0.161,0.49,0.24,0.57c0.08,0.08,8,8.801,8,8.801c0.319,0.304,0.821,0.304,1.14,0V25.37z"/></svg>
  {%- when 'arrow-long-right' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-arrow-long-right" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M22.62,25.369c-0.31-0.31-0.3-0.8,0-1.13l6.641-7.439H0.8C0.359,16.798,0.002,16.441,0,16c0-0.439,0.36-0.8,0.8-0.8h28.461 l-6.63-7.44c-0.291-0.34-0.32-0.81-0.011-1.12c0.31-0.31,0.851-0.33,1.141-0.01c0,0,7.92,8.7,8,8.8c0.079,0.1,0.239,0.28,0.239,0.57 c-0.003,0.214-0.089,0.418-0.239,0.57c-0.08,0.081-8,8.801-8,8.801c-0.319,0.305-0.821,0.305-1.141,0V25.369L22.62,25.369z"/></svg>
  {%- when 'arrow-up' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-arrow-up up-arrow" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M5.016,23.5l-1.516-1.617L16.001,8.5l12.5,13.383L26.992,23.5L16.001,11.742L5.016,23.5z"/></svg>
  {%- when 'bag' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-bag" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M28.858,9.572h-4.286V9.27C24.586,4.715,20.904,1.013,16.351,1c-0.016,0-0.032,0-0.049,0h-0.535 C11.18,1,7.429,4.683,7.429,9.27v0.302H3.143L1,31h30L28.858,9.572L28.858,9.572z M9.572,9.271c0-3.396,2.799-6.127,6.194-6.127 h0.535c3.376-0.009,6.119,2.722,6.127,6.098c0,0.01,0,0.02,0,0.029v0.302H9.572V9.271z M3.398,28.857l1.667-17.143h2.363v2.431 c-1.025,0.588-1.38,1.896-0.792,2.921c0.383,0.668,1.095,1.078,1.864,1.076c1.186,0,2.143-0.957,2.143-2.143 c0-0.79-0.429-1.487-1.071-1.854v-2.431h12.856v2.431c-1.025,0.588-1.38,1.896-0.792,2.921c0.383,0.668,1.095,1.078,1.864,1.076 c1.186,0,2.143-0.957,2.143-2.143c0-0.79-0.429-1.487-1.071-1.854v-2.431h2.37l1.667,17.143H3.398L3.398,28.857L3.398,28.857z"/></svg>
  {%- when 'bubble' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-bubble" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M16,2.101c-7.166,0-15.5,4.44-15.5,12.299c0,3.268,1.659,6.438,4.561,8.73c-0.472,1.217-1.586,3.276-4.03,4.743 c-0.419,0.251-0.622,0.756-0.491,1.226c0.131,0.472,0.563,0.801,1.052,0.801c1.694,0,3.782-0.611,6.204-1.816 c1.488-0.74,2.749-1.532,3.428-1.979C22.167,28.707,31.5,22.249,31.5,14.399C31.5,8.791,26.126,2.101,16,2.101z M7.397,23.009 c0.118-0.44-0.053-0.912-0.427-1.175c-2.725-1.914-4.288-4.625-4.288-7.435C2.683,8.821,8.657,4.283,16,4.283 c7.344,0,13.156,4.311,13.318,10.116c0.162,5.819-7.693,12.194-17.99,9.473c-0.39-0.104-0.736,0.024-0.919,0.149 c-1.554,1.069-3.308,2.036-4.876,2.698C6.733,25.133,7.229,23.644,7.397,23.009z"/></svg>
  {%- when 'cart' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-cart" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M12.535,24.169c-2.021,0-3.666,1.646-3.666,3.666s1.645,3.665,3.666,3.665c2.022,0,3.666-1.645,3.666-3.665 S14.557,24.169,12.535,24.169z M12.535,29.242c-0.775,0-1.406-0.632-1.406-1.407s0.631-1.406,1.406-1.406 c0.776,0,1.407,0.631,1.407,1.406S13.311,29.242,12.535,29.242z M26.907,3.882H6.448C6.125,1.417,4.721,0.5,3.237,0.5H1.546 c-0.623,0-1.129,0.506-1.129,1.129c0,0.623,0.507,1.129,1.129,1.129h1.691c0.376,0,0.792,0.352,0.854,0.724l2.825,16.953 c0.245,1.464,1.599,2.611,3.083,2.611h16.908c0.621,0,1.129-0.507,1.129-1.129c0-0.623-0.508-1.13-1.129-1.13H10 c-0.376,0-0.792-0.353-0.854-0.724l-0.367-2.2l16.541-1.438c1.434-0.125,2.742-1.334,2.979-2.754l1.135-6.809 C29.729,5.25,28.922,3.882,26.907,3.882z M27.204,6.493l-1.135,6.808c-0.066,0.406-0.535,0.839-0.945,0.875L8.406,15.629L6.824,6.14 h20.083C27.125,6.14,27.235,6.297,27.204,6.493z M24.37,24.169c-2.021,0-3.664,1.646-3.664,3.666S22.349,31.5,24.37,31.5 s3.666-1.645,3.666-3.665S26.392,24.169,24.37,24.169z M24.37,29.242c-0.775,0-1.406-0.632-1.406-1.407s0.631-1.406,1.406-1.406 s1.406,0.631,1.406,1.406S25.146,29.242,24.37,29.242z"/></svg>
  {%- when 'close' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-close" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M21.7,15.4L32,25.1l-5.4,5.7L16,20.8l-10.6,10L0,25.1l10.3-9.7L0,5.7L5.4,0L16,10L26.6,0L32,5.7L21.7,15.4z"/></svg>
  {%- when 'edit' -%}
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-edit" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M31.119,8.877l-2.882,2.882c-0.294,0.293-0.769,0.293-1.062,0L20.238,4.82c-0.294-0.293-0.294-0.769,0-1.062l2.881-2.881 c1.169-1.169,3.069-1.169,4.244,0l3.757,3.756C32.294,5.802,32.294,7.702,31.119,8.877z M17.762,6.233L1.349,22.646L0.024,30.24 c-0.181,1.025,0.713,1.913,1.738,1.737l7.594-1.331l16.413-16.413c0.294-0.294,0.294-0.769,0-1.062l-6.938-6.938 C18.531,5.939,18.056,5.939,17.762,6.233L17.762,6.233z M7.756,21.24c-0.344-0.344-0.344-0.894,0-1.237l9.625-9.626 c0.344-0.344,0.894-0.344,1.237,0s0.344,0.894,0,1.237L8.993,21.24C8.649,21.584,8.099,21.584,7.756,21.24L7.756,21.24z M5.499,26.496h3v2.27l-4.031,0.706l-1.944-1.944l0.707-4.031h2.269V26.496z"/></svg>
  {%- when 'envelope' -%}
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-envelope" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M29.061,4.593H2.939C1.318,4.593,0,5.912,0,7.533v16.934c0,1.621,1.318,2.939,2.939,2.939h26.121 c1.621,0,2.939-1.318,2.939-2.939V7.533C32,5.912,30.682,4.593,29.061,4.593z M2.116,8.59l11.756,9.123l0.007,0.006 c0.586,0.391,1.35,0.605,2.153,0.605c0.803,0,1.567-0.215,2.152-0.605l0.004-0.002L29.884,8.59v15.876 c0,0.455-0.37,0.824-0.823,0.824H2.939c-0.453,0-0.823-0.369-0.823-0.824V8.59z M17.007,15.959c-0.241,0.16-0.597,0.251-0.975,0.251 c-0.379,0-0.734-0.092-0.976-0.251L3.119,6.723C4.554,6.719,10.333,6.717,16,6.717c5.669,0,11.45,0.002,12.883,0.006L17.007,15.959z"/></svg>
  {%- when 'facebook' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-facebook" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M17.1,32V19.6h-4.2v-4.8h4.2v-3.6c0-4.1,2.5-6.4,6.2-6.4C25.1,4.8,26.6,5,27,5v4.3h-2.5 c-2,0-2.4,0.9-2.4,2.3v3.1h4.8l-0.6,4.8h-4.1V32h8.1c1,0,1.8-0.8,1.8-1.8V1.8c0-1-0.8-1.8-1.8-1.8H1.8C0.8,0,0,0.8,0,1.8v28.5 c0,1,0.8,1.8,1.8,1.8L17.1,32L17.1,32z"/></svg>
  {%- when 'fullscreen' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-fullscreen" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M2.818,6.228h8.338V3.5H0.091v7.656h2.728V6.228z M2.818,25.772v-4.929H0.091V28.5h11.065v-2.728H2.818z M29.182,25.772 h-8.338V28.5h11.065v-7.656h-2.728V25.772z M29.182,6.228v4.929h2.728V3.5H20.844v2.728H29.182z"/></svg>
  {%- when 'google' -%}
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-google" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M20.383,14.498c0.836,3.064-0.664,11.986-9.897,11.986C4.691,26.484,0,21.793,0,16S4.691,5.516,10.485,5.516 c2.832,0,5.191,1.029,7.022,2.746l-2.846,2.732c-0.772-0.744-2.132-1.617-4.177-1.617c-3.576,0-6.494,2.961-6.494,6.623 s2.918,6.623,6.494,6.623c4.147,0,5.707-2.99,5.95-4.521h-5.95v-3.604H20.383L20.383,14.498z M28.957,14.85v-3.044h-3.059v3.044 h-3.043v3.058h3.043v3.044h3.059v-3.044H32V14.85H28.957L28.957,14.85z"/></svg>
  {%- when 'hamburger' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-hamburger" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M4.889 14.958h22.222v2.222H4.889v-2.222zM4.889 8.292h22.222v2.222H4.889V8.292zM4.889 21.625h22.222v2.222H4.889v-2.222z"/></svg>
  {%- when 'heart' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-heart" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M23.021,1.652c-1.684,0-3.468,0.628-5.022,1.768C17.232,3.981,16.542,4.661,16,5.384c-0.542-0.723-1.232-1.402-1.999-1.964 c-1.555-1.14-3.339-1.768-5.022-1.768C4.028,1.652,0,5.68,0,10.631c0,11.035,15.294,19.488,15.45,19.574 c0.168,0.094,0.357,0.143,0.55,0.143s0.382-0.049,0.55-0.143C16.705,30.119,32,21.625,32,10.631C32,5.68,27.972,1.652,23.021,1.652z  M29.736,10.631c0,8.952-12.634,16.608-13.736,17.273c-1.102-0.665-13.736-8.279-13.736-17.273c0-3.703,3.013-6.716,6.715-6.716 c2.684,0,5.288,2.204,5.948,4.183C15.081,8.561,15.511,8.871,16,8.871c0.487,0,0.919-0.31,1.073-0.772 c0.66-1.979,3.265-4.183,5.948-4.183C26.725,3.915,29.736,6.928,29.736,10.631z"/></svg>
  {%- when 'instagram' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-instagram" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M22.6,31.9c2.6-0.1,4.8-0.7,6.7-2.6c1.9-1.9,2.5-4.1,2.6-6.7C32,20.4,32,18.2,32,16s0-4.4-0.1-6.6 c-0.1-2.6-0.7-4.8-2.6-6.7s-4.1-2.5-6.7-2.6C20.4,0,18.2,0,16,0s-4.4,0-6.6,0.1C6.8,0.2,4.6,0.8,2.7,2.7C0.8,4.6,0.2,6.8,0.1,9.4 C0,11.6,0,13.8,0,16s0,4.4,0.1,6.6c0.1,2.6,0.7,4.8,2.6,6.7c1.9,1.9,4.1,2.5,6.7,2.6C11.6,32,13.8,32,16,32 C18.2,32,20.4,32,22.6,31.9z M6.6,28.5c-0.7-0.3-1.3-0.6-1.8-1.2c-0.6-0.6-0.9-1.1-1.2-1.8C2.8,23.4,3,18.4,3,16.1S2.8,8.8,3.6,6.7 C3.9,6,4.2,5.4,4.8,4.9C5.4,4.3,5.9,4,6.6,3.7c2.1-0.8,7.1-0.6,9.4-0.6s7.3-0.2,9.4,0.6c0.7,0.3,1.3,0.6,1.8,1.2 c0.6,0.6,0.9,1.1,1.2,1.8c0.8,2.1,0.6,7.1,0.6,9.4s0.2,7.3-0.6,9.4c-0.3,0.7-0.6,1.3-1.2,1.8c-0.6,0.6-1.1,0.9-1.8,1.2 c-2.1,0.8-7.1,0.6-9.4,0.6S8.7,29.3,6.6,28.5z M24.5,9.4c1.1,0,1.9-0.9,1.9-1.9s-0.9-1.9-1.9-1.9s-1.9,0.9-1.9,1.9 S23.5,9.4,24.5,9.4z M16,24.2c4.5,0,8.2-3.7,8.2-8.2S20.5,7.8,16,7.8S7.8,11.5,7.8,16S11.5,24.2,16,24.2z M16,21.3 c-2.9,0-5.3-2.4-5.3-5.3s2.4-5.3,5.3-5.3s5.3,2.4,5.3,5.3S18.9,21.3,16,21.3z"/></svg>
  {%- when 'linkedin' -%}
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-linkedin" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M10.132,26.622H5.726V12.438h4.406V26.622z M7.926,10.503c-1.408,0-2.551-1.166-2.551-2.574c0-1.41,1.143-2.552,2.551-2.552 c1.409,0,2.551,1.142,2.551,2.552C10.478,9.337,9.335,10.503,7.926,10.503z M26.619,26.622h-4.396v-6.903 c0-1.647-0.034-3.756-2.289-3.756c-2.291,0-2.643,1.788-2.643,3.637v7.022h-4.4V12.438h4.225v1.935h0.061 c0.588-1.114,2.024-2.291,4.169-2.291c4.458,0,5.278,2.935,5.278,6.748v7.791H26.619L26.619,26.622z"/></svg>
  {%- when 'minus' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-minus" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M32,14.477v3.047H0v-3.047H32z"/></svg>
  {%- when 'pause' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-pause" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M27.637,32h-5.818V0h5.818V32L27.637,32z M10.182,32H4.363V0h5.818V32z"/></svg>
  {%- when 'pin' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-pin" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M4 12a12 12 0 0 1 24 0c0 8-12 20-12 20S4 20 4 12m7 0a5 5 0 0 0 10 0 5 5 0 0 0-10 0z"/></svg>
  {%- when 'pinterest' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-pinterest" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M16,32c8.8,0,16-7.2,16-16S24.8,0,16,0S0,7.2,0,16c0,6.6,3.9,12.2,9.6,14.7c0-1.1,0-2.5,0.3-3.7 c0,0,0.3-1.3,2.1-8.7c-0.5-1-0.5-2.5-0.5-2.5c0-2.4,1.4-4.1,3.1-4.1c1.5,0,2.2,1.1,2.2,2.4c0,1.5-0.9,3.6-1.4,5.7 c-0.4,1.7,0.9,3.1,2.5,3.1c3,0,5.1-3.9,5.1-8.5c0-3.5-2.4-6.1-6.7-6.1c-4.9,0-7.9,3.6-7.9,7.7c0,1.4,0.4,2.4,1.1,3.1 c0.3,0.4,0.3,0.5,0.2,0.9c-0.1,0.3-0.2,1-0.3,1.3c-0.1,0.4-0.4,0.6-0.8,0.4c-2.2-0.9-3.3-3.4-3.3-6.1c0-4.5,3.8-10,11.4-10 c6.1,0,10.1,4.4,10.1,9.2c0,6.3-3.5,11-8.6,11c-1.7,0-3.4-0.9-3.9-2c-0.9,3.7-1.1,4.4-1.1,4.4c-0.3,1.2-1,2.5-1.6,3.4 C12.9,31.8,14.4,32,16,32z"/></svg>
  {%- when 'play' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-play" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M6.752,0.055l21.904,15.944L6.754,31.945"/></svg>
  {%- when 'plus' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-plus" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M17.524,17.524H32v-3.048H17.524V0h-3.048v14.476H0v3.048h14.476V32h3.048V17.524z"/></svg>
  {%- when 'product-tag' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-plus" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M28.987,0h-8.299c-1.327,0-3.035,0.708-3.975,1.646L0.88,17.48c-1.234,1.312-1.005,3.207,0,4.26l9.379,9.38 C10.826,31.688,11.583,32,12.39,32c0.806,0,1.562-0.312,2.129-0.88l15.833-15.834C31.292,14.348,32,12.639,32,11.312V3.013 C32,1.352,30.649,0,28.987,0z M29.663,11.312c0,0.699-0.467,1.828-0.962,2.322L12.867,29.468c-0.253,0.253-0.705,0.252-0.956,0.001 l-9.38-9.38c-0.25-0.245-0.282-0.636,0-0.956L18.366,3.298c0.494-0.494,1.623-0.961,2.322-0.961h8.299 c0.373,0,0.676,0.304,0.676,0.676V11.312z M25.299,3.688c-1.661,0-3.013,1.352-3.013,3.013c0,1.661,1.352,3.012,3.013,3.012 c1.662,0,3.013-1.352,3.013-3.012C28.312,5.04,26.961,3.688,25.299,3.688z M25.299,7.533c-0.459,0-0.832-0.373-0.832-0.832 s0.373-0.833,0.832-0.833s0.832,0.374,0.832,0.833S25.758,7.533,25.299,7.533z"/></svg>
  {%- when 'quote-open' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-quote-open" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M8,16.54H12.8v12.801H0v-9.687C0,9.073,4.267,3.409,12.8,2.659V7.46C8.906,8.719,7.875,11.594,8,16.54z M27.201,16.54H32 v12.801H19.2v-9.687C19.2,9.073,23.467,3.409,32,2.659V7.46C28.106,8.719,27.075,11.594,27.201,16.54z" /></svg>
  {%- when 'quote-close' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-quote-close" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M24,15.46h-4.8V2.659H32v9.687c0,10.581-4.267,16.245-12.8,16.995V24.54C23.094,23.281,24.125,20.406,24,15.46z M4.799,15.46H0V2.659h12.8v9.687c0,10.581-4.267,16.245-12.8,16.995V24.54C3.894,23.281,4.925,20.406,4.799,15.46z" /></svg>
  {%- when 'rss' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-rss" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M9.445 26.538a3.983 3.983 0 1 1-7.965 0 3.983 3.983 0 0 1 7.965 0zM20.73 30.52h-5.642c0-7.501-6.107-13.608-13.608-13.608V11.27c10.621 0 19.25 8.629 19.25 19.25z"/><path fill="{{iconColor}}" d="M24.712 30.52c0-12.844-10.388-23.233-23.233-23.233V1.479c16.03 0 29.041 13.01 29.041 29.041h-5.808z"/></svg>
  {%- when 'search' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-search" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M31.202,29.293l-8.704-8.703c1.671-2.087,2.677-4.729,2.677-7.604c0-6.721-5.468-12.188-12.189-12.188 S0.798,6.265,0.798,12.986c0,6.722,5.468,12.189,12.189,12.189c2.875,0,5.516-1.007,7.602-2.678l8.704,8.704L31.202,29.293z M12.987,22.475c-5.232,0-9.489-4.257-9.489-9.489s4.256-9.488,9.489-9.488s9.489,4.256,9.489,9.488S18.219,22.475,12.987,22.475z"/></svg>
  {%- when 'snapchat' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-snapchat" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M16,27.781v0.002c-1.441,0-2.601-0.676-3.523-1.329c-1.979-1.444-4.779-0.844-4.917-0.844c-0.144,0-0.299-0.03-0.367-0.262 c-0.059-0.2-0.054-1.326-0.524-1.393c-2.36-0.364-3.034-0.861-3.185-1.214c-0.021-0.049-0.033-0.099-0.036-0.151 c-0.007-0.136,0.088-0.255,0.222-0.276c3.626-0.597,5.252-4.304,5.319-4.46l0.006-0.015c0.222-0.448,0.266-0.84,0.13-1.16 c-0.25-0.586-1.062-0.843-1.598-1.015c-0.132-0.041-1.654-0.388-1.474-1.2c0.126-0.92,1.195-0.621,1.279-0.582 c0.482,0.227,0.917,0.34,1.292,0.34c0.518,0,0.744-0.217,0.771-0.246C9.383,13.731,8.693,10.433,9.65,8.15 c1.542-3.68,4.43-3.885,6.35-3.933c1.919,0.048,4.807,0.252,6.35,3.933c0.958,2.283,0.268,5.582,0.254,5.827 c0.027,0.029,0.254,0.246,0.771,0.246c0.376,0,0.81-0.114,1.293-0.34c0.083-0.039,1.152-0.338,1.277,0.582 c0.182,0.812-1.342,1.16-1.473,1.2c-0.537,0.171-1.349,0.429-1.598,1.015c-0.137,0.32-0.093,0.712,0.13,1.16l0.007,0.015 c0.066,0.156,1.692,3.863,5.317,4.46c0.135,0.021,0.23,0.141,0.224,0.276c-0.004,0.053-0.016,0.103-0.036,0.151 c-0.151,0.353-0.826,0.85-3.186,1.214c-0.471,0.066-0.466,1.192-0.523,1.393c-0.068,0.231-0.225,0.262-0.368,0.262 c-0.138,0-2.938-0.601-4.916,0.844c-0.923,0.653-2.083,1.329-3.523,1.329V27.781z"/></svg>
  {%- when 'star-full' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-star" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M30.826,12.599c-0.088-0.271-0.322-0.469-0.605-0.51l-9.361-1.36l-4.187-8.483 c-0.252-0.512-1.093-0.512-1.345,0l-4.187,8.483l-9.362,1.36c-0.282,0.041-0.517,0.239-0.605,0.51 c-0.088,0.271-0.015,0.57,0.19,0.769l6.774,6.604l-1.6,9.324c-0.048,0.281,0.067,0.565,0.298,0.733 c0.231,0.17,0.538,0.189,0.79,0.058L16,25.685l8.374,4.402c0.109,0.058,0.229,0.086,0.349,0.086c0.155,0,0.311-0.048,0.44-0.144 c0.231-0.168,0.347-0.452,0.299-0.733l-1.6-9.324l6.774-6.604C30.841,13.169,30.915,12.871,30.826,12.599z"/></svg>
  {%- when 'star-empty' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-star" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M24.723,30.173c-0.119,0-0.239-0.028-0.349-0.086L16,25.685l-8.374,4.402 c-0.252,0.132-0.559,0.112-0.79-0.058c-0.231-0.168-0.347-0.452-0.298-0.733l1.6-9.324l-6.774-6.604 c-0.205-0.199-0.278-0.498-0.19-0.769c0.088-0.271,0.323-0.469,0.605-0.51l9.362-1.36l4.187-8.483c0.252-0.512,1.093-0.512,1.345,0 l4.187,8.483l9.361,1.36c0.283,0.041,0.518,0.239,0.605,0.51c0.089,0.271,0.015,0.57-0.189,0.769l-6.774,6.604l1.6,9.324 c0.048,0.281-0.067,0.565-0.299,0.733C25.033,30.125,24.878,30.173,24.723,30.173z M16,24.087c0.12,0,0.24,0.028,0.349,0.086 l7.377,3.879l-1.409-8.215c-0.042-0.243,0.039-0.492,0.216-0.664l5.969-5.818l-8.248-1.199c-0.245-0.036-0.456-0.189-0.565-0.41 L16,4.272l-3.689,7.474c-0.109,0.221-0.32,0.375-0.564,0.41l-8.248,1.199l5.968,5.818c0.177,0.172,0.257,0.421,0.216,0.664 l-1.409,8.215l7.377-3.879C15.76,24.115,15.88,24.087,16,24.087z"/></svg>
  {%- when 'star-half' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-star" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M30.826,12.599c-0.088-0.271-0.322-0.469-0.605-0.51l-9.361-1.36l-4.187-8.483 c-0.252-0.512-1.093-0.512-1.345,0l-4.187,8.483l-9.362,1.36c-0.282,0.041-0.517,0.239-0.605,0.51 c-0.088,0.271-0.015,0.57,0.19,0.769l6.774,6.604l-1.6,9.324c-0.048,0.281,0.067,0.565,0.298,0.733 c0.231,0.17,0.538,0.189,0.79,0.058L16,25.685l8.374,4.402c0.109,0.058,0.229,0.086,0.349,0.086c0.155,0,0.311-0.048,0.44-0.144 c0.231-0.168,0.347-0.452,0.299-0.733l-1.6-9.324l6.774-6.604C30.841,13.169,30.915,12.871,30.826,12.599z M22.533,19.173 c-0.177,0.172-0.258,0.421-0.216,0.664l1.409,8.215l-7.377-3.879C16.24,24.115,16.12,24.087,16,24.087V4.272l3.688,7.474 c0.109,0.221,0.32,0.375,0.565,0.41l8.248,1.199L22.533,19.173z"/></svg>
  {%- when 'thumbsup' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-thumbsup" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M30.82,12.234c-0.482-0.821-1.311-1.251-2.27-1.251h-3.588c2.082-3.939,2.562-6.949,1.43-8.954 C25.543,0.531,23.988,0,22.914,0c-0.547,0-1.012,0.407-1.086,0.947c-0.27,2-1.816,4.398-4.242,6.587 c-2.262,2.037-5.073,3.711-7.94,4.729c-0.48-0.785-1.346-1.279-2.275-1.279H2.664C1.195,10.983,0,12.177,0,13.646v14.121 c0,1.469,1.195,2.664,2.664,2.664h4.707c1.019,0,1.928-0.568,2.378-1.467c2.851,0.379,3.955,0.97,5.022,1.541 C16.209,31.273,17.566,32,21.982,32c3.369,0,4.506-2.158,4.719-3.028c2.119-1.159,2.432-4.503,2.318-4.987 c1.598-1.359,2.113-4.594,1.346-6.059C31.43,16.375,31.803,13.906,30.82,12.234z M28.459,16.77c-1.498,0.23-1.279,2.043-0.027,2.186 c0.357,1.202-0.393,3.107-0.891,3.402c-1.301,0.08-1.238,1.611-0.695,1.914c-0.025,0.697-0.369,2.291-1.139,2.744 c-0.602,0.029-1.094,0.49-1.094,1.094c0,1.169-1.365,1.701-2.631,1.701c-3.865,0-4.939-0.573-6.18-1.238 c-1.182-0.631-2.516-1.344-5.767-1.777v-12.35c3.257-1.103,6.45-2.974,9.016-5.285c2.43-2.191,4.049-4.519,4.697-6.754 c1.055,0.562,1.182,1.847,0.951,3.165c-0.281,1.589-1.127,3.596-2.551,5.943c-0.465,0.77,0.154,1.656,0.939,1.656h5.463 c0.205,0,0.324,0.049,0.412,0.223C29.279,14.023,29.102,16.281,28.459,16.77z M2.19,13.646c0-0.263,0.212-0.476,0.474-0.476h4.707 c0.262,0,0.475,0.213,0.475,0.476v14.121c0,0.261-0.213,0.475-0.475,0.475H2.664c-0.262,0-0.474-0.214-0.474-0.475V13.646z"/></svg>
  {%- when 'thumbsdown' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-thumbsdown" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M30.365,14.075c0.768-1.466,0.252-4.699-1.346-6.059c0.113-0.484-0.199-3.828-2.318-4.987C26.488,2.158,25.352,0,21.982,0 c-4.416,0-5.773,0.727-7.211,1.495c-1.067,0.571-2.171,1.162-5.022,1.54c-0.45-0.897-1.36-1.466-2.378-1.466H2.664 C1.195,1.568,0,2.764,0,4.232v14.122c0,1.47,1.195,2.663,2.664,2.663h4.707c0.93,0,1.795-0.494,2.275-1.279 c2.867,1.018,5.678,2.691,7.94,4.729c2.426,2.188,3.973,4.587,4.242,6.587C21.902,31.593,22.367,32,22.914,32 c1.074,0,2.629-0.531,3.479-2.029c1.133-2.005,0.652-5.015-1.43-8.954h3.588c0.959,0,1.787-0.43,2.27-1.251 C31.803,18.094,31.43,15.625,30.365,14.075z M28.963,18.606c-0.088,0.174-0.207,0.223-0.412,0.223h-5.463 c-0.785,0-1.404,0.887-0.939,1.656c1.424,2.348,2.27,4.354,2.551,5.943c0.23,1.318,0.104,2.603-0.951,3.165 c-0.648-2.235-2.268-4.562-4.697-6.754c-2.566-2.312-5.759-4.183-9.016-5.285V5.206c3.251-0.435,4.585-1.147,5.767-1.778 c1.241-0.665,2.315-1.237,6.18-1.237c1.266,0,2.631,0.532,2.631,1.7c0,0.604,0.492,1.064,1.094,1.094 c0.77,0.454,1.113,2.047,1.139,2.744c-0.543,0.304-0.605,1.834,0.695,1.915c0.498,0.295,1.248,2.2,0.891,3.402 c-1.252,0.144-1.471,1.956,0.027,2.187C29.102,15.719,29.279,17.977,28.963,18.606z M2.19,4.232c0-0.26,0.212-0.474,0.474-0.474 h4.707c0.262,0,0.475,0.213,0.475,0.474v14.122c0,0.263-0.213,0.476-0.475,0.476H2.664c-0.262,0-0.474-0.213-0.474-0.476V4.232z"/></svg>
  {%- when 'tumblr' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-tumblr" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M6.997 13.822h3.022v10.237q0 1.852.414 3.047.463 1.097 1.438 1.95.951.877 2.511 1.438 1.487.512 3.388.512 1.657 0 3.096-.366 1.243-.244 3.242-1.194v-4.582q-2.023 1.389-4.192 1.389-1.072 0-2.145-.561-.634-.414-.951-1.146-.244-.804-.244-3.242v-7.483h6.581V9.239h-6.581V1.902h-3.949q-.195 2.072-.951 3.681-.756 1.56-1.901 2.486Q8.581 9.19 6.996 9.678v4.144z"/></svg>
  {%- when 'twitter' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-twitter" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M10.1,29c12.1,0,18.7-10,18.7-18.7c0-0.3,0-0.6,0-0.9c1.2-0.9,2.3-2,3.2-3.3 c-1.2,0.5-2.5,0.9-3.8,1c1.4-0.8,2.4-2.1,2.9-3.6c-1.3,0.8-2.7,1.3-4.2,1.6C25.7,3.8,24,3,22.2,3c-3.6,0-6.6,2.9-6.6,6.6 c0,0.5,0.1,1,0.2,1.5C10.4,10.8,5.5,8.2,2.3,4.2c-0.6,1-0.9,2.1-0.9,3.3c0,2.3,1.2,4.3,2.9,5.5c-1.1,0-2.1-0.3-3-0.8v0.1l0,0 c0,3.2,2.3,5.8,5.3,6.4c-0.5,0.1-1.1,0.2-1.7,0.2c-0.4,0-0.8,0-1.2-0.1c0.8,2.6,3.2,4.5,6.1,4.5c-2.3,1.8-5.1,2.8-8.1,2.8 c-0.5,0-1.1,0-1.6-0.1C2.9,27.9,6.4,29,10.1,29z"/></svg>
  {%- when 'user' -%}
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-user" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M29.078,23.69c-1.131-1.508-2.676-2.704-4.59-3.555C22.182,19.109,19.324,18.59,16,18.59c-3.324,0-6.181,0.52-8.488,1.546 c-1.914,0.851-3.459,2.047-4.59,3.555c-1.953,2.604-2.154,5.411-2.154,5.529c0,1.533,1.247,2.78,2.78,2.78h24.906 c1.533,0,2.779-1.247,2.779-2.78C31.232,29.102,31.029,26.292,29.078,23.69z M27.037,25.122c1.451,1.894,1.701,4.013,1.703,4.098 c0,0.159-0.129,0.288-0.287,0.288H3.547c-0.159,0-0.288-0.126-0.289-0.278c0.001-0.021,0.24-2.197,1.705-4.107 c2.025-2.644,5.842-4.041,11.036-4.041v0.001C21.195,21.082,25.012,22.479,27.037,25.122z M16,16.998c4.686,0,8.5-3.812,8.5-8.499 S20.686,0,16,0C11.313,0,7.5,3.812,7.5,8.499S11.313,16.998,16,16.998z M16,2.388c3.37,0,6.112,2.741,6.112,6.111 S19.369,14.611,16,14.611c-3.37,0-6.111-2.742-6.111-6.112S12.629,2.388,16,2.388z"/></svg>
  {%- when 'vimeo' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-vimeo" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M.343 10.902l1.438 1.926q1.999-1.487 2.413-1.487 1.584 0 2.949 5.046l1.194 4.521q.828 3.132 1.292 4.814 1.804 5.046 4.534 5.046 4.339 0 10.53-8.336 6.069-7.922 6.288-12.528v-.536q0-5.606-4.485-5.752h-.341q-6.02 0-8.287 7.385 1.316-.561 2.291-.561 2.072 0 2.072 2.145 0 .268-.024.561-.146 1.731-2.047 4.729-1.95 3.144-2.901 3.144-1.267 0-2.242-4.777-.293-1.121-1.243-7.239-.414-2.632-1.536-3.9-.975-1.097-2.437-1.121-.195 0-.414.024-1.536.146-4.558 2.803-1.56 1.462-4.485 4.095z"/></svg>
  {%- when 'youtube' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-youtube" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M16,27.2c6.7,0,11.2-0.3,11.2-0.3c0.6-0.1,2-0.1,3.2-1.3c0,0,1-1,1.3-3.2c0.3-2.3,0.3-4.6,0.3-5.1 v-2.6c0-0.5,0-2.8-0.3-5.1c-0.3-2.2-1.3-3.2-1.3-3.2c-1.2-1.3-2.6-1.3-3.2-1.4c0,0-4.2-0.3-10.7-0.3H16C9.3,4.8,4.8,5.1,4.8,5.1 c-0.6,0.1-2,0.1-3.2,1.4c0,0-1,1-1.3,3.2C0,11.6,0,13.8,0,14.4v3c0,0.7,0,2.8,0.3,4.9c0.3,2.2,1.3,3.2,1.3,3.2 c1.2,1.3,2.8,1.2,3.5,1.4C5.1,27,7.7,27.1,16,27.2z M12.7,20.1v-9l8.6,4.5L12.7,20.1z"/></svg>
  {%- when 'zoom' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-zoom" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M31.202,29.293l-8.704-8.703c1.671-2.087,2.677-4.729,2.677-7.604c0-6.721-5.468-12.188-12.189-12.188 c-6.721,0-12.188,5.467-12.188,12.188c0,6.722,5.468,12.189,12.189,12.189c2.875,0,5.516-1.007,7.602-2.678l8.704,8.704 L31.202,29.293z M12.987,22.475c-5.232,0-9.489-4.256-9.489-9.489c0-5.232,4.256-9.488,9.489-9.488c5.234,0,9.49,4.256,9.49,9.488 C22.477,18.219,18.219,22.475,12.987,22.475z M18.06,14.438h-3.604v3.604h-3v-3.604H7.852v-3h3.604V7.833h3v3.604h3.604V14.438z"/></svg>
  {%- when 'plus-menu-mobile' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-plus-menu-mobile" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M18.2,32c1.2,0,2.2-1,2.2-2.2v-9.5h9.5c1.2,0,2.2-1,2.2-2.2v-4.4c0-1.2-1-2.2-2.2-2.2h-9.5 V2.2c0-1.2-1-2.2-2.2-2.2h-4.4c-1.2,0-2.2,1-2.2,2.2v9.5H2.1c-1.2,0-2.2,1-2.2,2.2v4.4c0,1.2,1,2.2,2.2,2.2h9.5V30 c0,1.2,1,2.2,2.2,2.2h4.4V32z"/></svg>
  {%- when 'minus-menu-mobile' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-minus-menu-mobile" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M29.8,8.7c1.2,0,2.2-1,2.2-2.2V2.2C32,1,31,0,29.8,0H2.2C1,0,0,1,0,2.2v4.4 c0,1.2,1,2.2,2.2,2.2H29.8z"/></svg>
  {%- when 'left-menu-mobile' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-left-menu-mobile" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M15.1,31.6L0.4,16.9c-0.5-0.5-0.5-1.3,0-1.8L15.1,0.4c0.5-0.5,1.3-0.5,1.8,0l3.3,3.3 c0.5,0.5,0.5,1.3,0,1.8L9.6,16l10.5,10.5c0.5,0.5,0.5,1.3,0,1.8l-3.3,3.3C16.4,32.1,15.6,32.1,15.1,31.6z"/></svg>
  {%- when 'right-menu-mobile' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-right-menu-mobile" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M5.5,31.6l14.7-14.7c0.5-0.5,0.5-1.3,0-1.8L5.5,0.4C5-0.1,4.2-0.1,3.7,0.4L0.4,3.7 c-0.5,0.5-0.5,1.3,0,1.8L10.9,16L0.4,26.5c-0.5,0.5-0.5,1.3,0,1.8l3.3,3.3C4.2,32.1,5,32.1,5.5,31.6z"/></svg>
  {%- when 'refresh' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-refresh" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M28,18c0,1.9-0.4,3.7-1.1,5.5c-0.7,1.7-1.7,3.1-3,4.4c-1.3,1.3-2.8,2.3-4.5,3 C17.7,31.6,15.9,32,14,32c-1.9,0-3.7-0.4-5.4-1.1c-1.7-0.7-3.2-1.7-4.5-3c-1.3-1.3-2.3-2.8-3-4.5C0.4,21.7,0,19.9,0,18 s0.4-3.7,1.1-5.4c0.7-1.7,1.7-3.2,3-4.5c1.3-1.3,2.8-2.3,4.5-3C10.3,4.4,12.1,4,13.9,4l-2.1-2.1c-0.2-0.2-0.3-0.5-0.3-0.8 s0.1-0.6,0.3-0.8S12.3,0,12.6,0s0.6,0.1,0.8,0.3l4.2,4.2C17.9,4.8,18,5.1,18,5.4s-0.1,0.6-0.3,0.8l-4.2,4.2 c-0.2,0.2-0.5,0.3-0.8,0.3s-0.6-0.1-0.8-0.3s-0.3-0.5-0.3-0.8s0.1-0.6,0.3-0.8l2.6-2.6c-0.2,0-0.3,0-0.4,0c-1.6,0-3.1,0.3-4.5,0.9 S6.8,8.6,5.7,9.7c-1.1,1.1-2,2.4-2.5,3.8S2.2,16.4,2.2,18s0.3,3.1,0.9,4.5s1.4,2.7,2.5,3.8c1.1,1.1,2.4,2,3.8,2.5s2.9,0.9,4.5,0.9 s3.1-0.3,4.5-0.9s2.7-1.4,3.8-2.5c1.1-1.1,2-2.4,2.5-3.8s0.9-2.9,0.9-4.5c0-0.7-0.1-1.3-0.2-1.9c0-0.3,0-0.6,0.2-0.8 c0.2-0.2,0.4-0.4,0.7-0.5c0.3-0.1,0.6,0,0.8,0.2c0.3,0.2,0.4,0.4,0.5,0.7C27.9,16.5,28,17.2,28,18z"/></svg>
  {%- when 'mail' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-mail" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M32,2.9c0,0.9-0.3,1.8-0.9,2.7c-0.6,0.9-1.3,1.6-2.2,2.2c-4.5,3.1-7.3,5-8.4,5.8 c-0.1,0.1-0.4,0.3-0.8,0.5c-0.4,0.3-0.7,0.5-1,0.7c-0.3,0.2-0.6,0.4-0.9,0.6c-0.4,0.2-0.7,0.4-1,0.5C16.6,15.9,16.3,16,16,16h0h0 c-0.3,0-0.6-0.1-0.9-0.2c-0.3-0.1-0.7-0.3-1-0.5c-0.4-0.2-0.7-0.4-0.9-0.6c-0.3-0.2-0.6-0.4-1-0.7c-0.4-0.3-0.6-0.5-0.8-0.5 c-1.1-0.8-2.6-1.8-4.7-3.3S3.5,8,3.1,7.8C2.3,7.2,1.6,6.6,1,5.7S0,4,0,3.2c0-0.9,0.2-1.7,0.7-2.3C1.2,0.3,1.9,0,2.9,0h26.3 c0.8,0,1.4,0.3,2,0.8C31.7,1.4,32,2.1,32,2.9z M32,8.1v14.2c0,0.8-0.3,1.5-0.8,2c-0.6,0.6-1.2,0.8-2,0.8H2.9c-0.8,0-1.5-0.3-2-0.8 S0,23.1,0,22.3V8.1c0.5,0.6,1.1,1.1,1.8,1.6c4.3,2.9,7.3,5,8.9,6.2c0.7,0.5,1.2,0.9,1.7,1.2c0.4,0.3,1,0.6,1.7,0.9 c0.7,0.3,1.4,0.4,2,0.4h0h0c0.6,0,1.3-0.1,2-0.4c0.7-0.3,1.3-0.6,1.7-0.9c0.4-0.3,1-0.7,1.7-1.2c2-1.5,5-3.5,8.9-6.2 C30.9,9.2,31.5,8.7,32,8.1z"/></svg>
  {%- when 'telephone' -%} 
  <svg aria-hidden="{{iconAriaHidden}}" tabindex="{{iconTabIndex}}" role="{{iconRole}}" class="icon icon-telephone" viewBox="0 0 32 32"><path fill="{{iconColor}}" d="M32,25.3c0,0.4-0.1,0.9-0.2,1.6c-0.2,0.7-0.3,1.2-0.5,1.6c-0.3,0.8-1.2,1.6-2.8,2.4 c-1.4,0.8-2.8,1.2-4.2,1.2c-0.4,0-0.8,0-1.2-0.1c-0.4-0.1-0.8-0.1-1.3-0.3c-0.5-0.1-0.8-0.2-1.1-0.3c-0.2-0.1-0.7-0.2-1.3-0.5 c-0.6-0.2-1-0.4-1.1-0.4c-1.5-0.5-2.8-1.2-4-1.9c-1.9-1.2-3.9-2.8-6-4.9s-3.7-4.1-4.9-6c-0.7-1.2-1.4-2.5-1.9-4 c0-0.1-0.2-0.5-0.4-1.1c-0.2-0.6-0.4-1-0.5-1.3s-0.2-0.6-0.3-1.1C0.2,9.7,0.1,9.3,0.1,8.9C0,8.5,0,8.1,0,7.7c0-1.4,0.4-2.8,1.2-4.2 C2,1.9,2.8,1,3.6,0.7c0.4-0.2,0.9-0.3,1.6-0.5S6.3,0,6.7,0c0.2,0,0.4,0,0.5,0.1c0.3,0.1,0.7,0.7,1.2,1.7C8.6,2.1,8.8,2.5,9.1,3 c0.3,0.5,0.6,1,0.8,1.4c0.2,0.4,0.5,0.8,0.7,1.2c0,0.1,0.2,0.2,0.4,0.6c0.2,0.3,0.4,0.6,0.5,0.8c0.1,0.2,0.2,0.4,0.2,0.6 c0,0.3-0.2,0.7-0.6,1.1c-0.4,0.5-0.9,0.9-1.4,1.3c-0.5,0.4-1,0.8-1.4,1.2c-0.4,0.4-0.6,0.8-0.6,1c0,0.1,0,0.3,0.1,0.5 c0.1,0.2,0.1,0.4,0.2,0.5c0.1,0.1,0.2,0.3,0.3,0.5c0.2,0.3,0.2,0.4,0.3,0.4c1.2,2.1,2.5,3.9,4,5.3c1.5,1.5,3.3,2.8,5.3,4 c0,0,0.2,0.1,0.4,0.3c0.3,0.2,0.4,0.3,0.5,0.3c0.1,0.1,0.3,0.1,0.5,0.2c0.2,0.1,0.4,0.1,0.5,0.1c0.3,0,0.6-0.2,1-0.6 c0.4-0.4,0.8-0.9,1.2-1.4s0.8-1,1.3-1.4c0.5-0.4,0.8-0.6,1.1-0.6c0.2,0,0.4,0.1,0.6,0.2c0.2,0.1,0.5,0.3,0.8,0.5 c0.3,0.2,0.5,0.4,0.6,0.4c0.4,0.2,0.8,0.5,1.2,0.7c0.4,0.2,0.9,0.5,1.4,0.8c0.5,0.3,0.9,0.5,1.2,0.7c1.1,0.5,1.6,0.9,1.7,1.2 C32,24.9,32,25.1,32,25.3z"/></svg>
{%- endcase -%}
{%- assign iconColor = nil -%}
{%- assign iconAriaHidden = nil -%}
{%- assign iconFocusable = nil -%}
{%- assign iconTabIndex = nil -%}
{%- assign iconRole = nil -%}
