{% if settings.mlvedaACS_enable %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   <script>
     $acs = $.noConflict(true);
     mlflag1 = false;
     mlflag2 = false;
   </script>
{% if settings.mlvedaACS_position != 'hide' %}
<style>
  {% if template contains "index" %}
select#currencies {
background-repeat: no-repeat;
      background-position: right center;
      
    
}
  {% endif %}

  {% if template contains "product" or template contains "collection" or template contains "cart" %}
      select#currencies {
background-repeat: no-repeat;
      background-position: right center; background-image: url("{{ 'mlblack.svg' | asset_url }}")  
    
    
}
{% endif %}
.nice-select .list {
max-height: 250px;
overflow-y: auto !important;
}

select#currencies {
    margin-bottom: 0;
    margin-top: 0;
    vertical-align: middle;
    padding-top:0px;
  padding-bottom:0px;
    padding-right: 15px;
    border: 0;
  -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
  background-color:transparent;
  background-position:right center;
  padding-left:7px;
  color:inherit;
  width:62px;
  background-size:9px;
}
select#currencies option{
color:#000;
   background-color:#fff;
}
select#currencies:focus,select#currencies:hover{
outline:none;border: 0;
}

  {% if settings.mlvedaACS_isCustomized == false and settings.mlvedaACS_position != "inline" %}
  .nice-select{
  color:#000;
  }
  {% endif %}

{% if settings.mlvedaACS_position == "inline" %}
.pick_currency {
    display: flex;
  margin-right: -94px;
    position: relative;
    right: 102px;
}
.navigation__container .pick_currency {
    display: none;
}
.pick_currency label{display:none !important;}

@media only screen and (max-width:768px) {
}
@media only screen and (max-width: 450px) {
  .pick_currency {
    display: none;
  }
  .navigation__container .pick_currency {
    display: inline-block !important;
        position: relative !important;
    top: -12px !important;
    left: -45px !important;
}
  .mldarrow {
    position: relative !important; 
    right: 10px !important;
    top: 0px !important;
}
}

{% else %}
  select#currencies, select#currencies1 {
height: auto !important;
    line-height: 1 !important;
    min-height: unset !important;
    max-height: unset !important;
    min-width: unset !important;
    max-width: unset !important;
    width: auto !important;
    color:#000;
}
.pick_currency{
    border: 1px solid #ddd;
    width: auto;
    display: inline-block;
/*  comment this line   padding: 5px; */
    position: fixed;
    z-index: 9999999;
  {% if settings.mlvedaACS_isCustomized == false %}
    background: #fff;
  {% endif %}
}
 {% endif %}

{% if settings.mlvedaACS_position == "bottom_with_left" %}
.nice-select.open .list {
top: unset !important;
bottom: 30px;
max-height: 170px;
overflow-y: auto;
}

{% if settings.mlvedaACS_displayFlag == false %}
.pick_currency {
  border: 1px solid #ddd !important;
   padding-right: 7px !important;
}
{% endif %}


.pick_currency {
position: fixed !important;
  {% if settings.mlvedaACS_isCustomized == false %}
   background-color: #fff !important;
  {% endif %}
   z-index: 9999 !important;
}

.pick_currency {
   top: unset !important;
   right: unset !important;
  bottom: {{ settings.mlvedaACS_positionBottom }} !important;
  left: {{ settings.mlvedaACS_positionLeft}} !important;
 
}
{% endif %}

{% if settings.mlvedaACS_position == "bottom_with_right" %}
.nice-select.open .list {
top: unset !important;
bottom: 30px;
max-height: 170px;
overflow-y: auto;
}
{% if settings.mlvedaACS_displayFlag == false %}
.pick_currency {
  border: 1px solid #ddd !important;
   padding-right: 7px !important;
}
{% endif %}


.pick_currency {
position: fixed !important;
  {% if settings.mlvedaACS_isCustomized == false %}
   background-color: #fff !important;
  {% endif %}
   z-index: 9999 !important;
}

.pick_currency {
   top: unset !important;
  right: {{settings.mlvedaACS_positionRight}} !important;
  bottom: {{settings.mlvedaACS_positionBottom}} !important;
   left: unset !important;
 
}
{% endif %}

{% if settings.mlvedaACS_position == "top_with_right" %}
.nice-select.open .list {
max-height: 170px;
overflow-y: auto;
}
{% if settings.mlvedaACS_displayFlag == false %}
.pick_currency {
  border: 1px solid #ddd !important;
   padding-right: 7px !important;
}
{% endif %}


.pick_currency {
position: fixed !important;
  {% if settings.mlvedaACS_isCustomized == false %}
   background-color: #fff !important;
  {% endif %}
   z-index: 9999 !important;
}
.pick_currency {
  top: {{settings.mlvedaACS_positionTop}} !important;
  right: {{settings.mlvedaACS_positionRight}} !important;
   bottom: unset !important;
   left: unset !important;
 
}
{% endif %}

{% if settings.mlvedaACS_position == "top_with_left" %}
.nice-select.open .list {
max-height: 170px;
overflow-y: auto;
}
{% if settings.mlvedaACS_displayFlag == false %}
.pick_currency {
  border: 1px solid #ddd !important;
   padding-right: 7px !important;
}
{% endif %}


.pick_currency {
position: fixed !important;
  {% if settings.mlvedaACS_isCustomized == false %}
   background-color: #fff !important;
  {% endif %}
   z-index: 9999 !important;
}

.pick_currency {
  top: {{settings.mlvedaACS_positionTop}} !important;
   right: unset !important;
   bottom: unset !important;
  left: {{settings.mlvedaACS_positionLeft}} !important;
 
}
{% endif %}
 
</style>
<script>
var mlvedasw = '<a class = "pick_currency "  style="display: none !important; ">'+
  '<select id="currencies" name="currencies" style="display: inline;">'+
{% capture codes %}AED,AFN,ALL,AMD,ANG,AOA,ARS,AUD,AWG,AZN,BAM,BBD,BDT,BGN,BHD,BIF,BMD,BND,BOB,BRL,BSD,BTN,BWP,BYN,BYR,BZD,CAD,CDF,CHF,CLP,CNY,COP,CRC,CUC,CUP,CVE,CYP,CZK,DJF,DKK,DOP,DZD,EEK,EGP,ERN,ETB,EUR,FJD,FKP,GBP,GEL,GGP,GHS,GIP,GMD,GNF,GTQ,GYD,HKD,HNL,HRK,HTG,HUF,IDR,ILS,IMP,INR,IQD,IRR,ISK,JEP,JMD,JOD,JPY,KES,KGS,KHR,KMF,KPW,KRW,KWD,KYD,KZT,LAK,LBP,LKR,LRD,LSL,LTL,LVL,LYD,MAD,MDL,MGA,MKD,MMK,MNT,MOP,MRO,MTL,MUR,MVR,MWK,MXN,MYR,MZN,NAD,NGN,NIO,NOK,NPR,NTD,NZD,OMR,PAB,PEN,PGK,PHP,PKR,PLN,PYG,QAR,RON,RSD,RUB,RWF,SAR,SBD,SCR,SDG,SEK,SGD,SHP,SIT,SKK,SLL,SOS,SPL,SRD,STD,SVC,SYP,SZL,THB,TJS,TMM,TMT,TND,TOP,TRY,TTD,TVD,TWD,TZS,UAH,UGX,USD,UYU,UZS,VEB,VEF,VND,VUV,WST,XAF,XAG,XAU,XBT,XCD,XDR,XOF,XPD,XPF,XPT,YER,ZAR,ZMK,ZMW,ZWD{% endcapture %}
  {% assign supported_codes = settings.mlvedaACS_supportedCurrencies | split: ' ' %}
'<option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>'+
  {% for code in supported_codes %}
    {% if code != shop.currency and codes contains code %}
    '<option value="{{ code }}">{{ code }}</option>'+
    {% endif %}
  {% endfor %}
'</select>'+
'</a>';
var mlvedasw1 = '<a class = "pick_currency "  style="display: none !important; ">'+
  '<select id="currencies1" name="currencies" style="display: inline;">'+
{% capture codes %}AED,AFN,ALL,AMD,ANG,AOA,ARS,AUD,AWG,AZN,BAM,BBD,BDT,BGN,BHD,BIF,BMD,BND,BOB,BRL,BSD,BTN,BWP,BYN,BYR,BZD,CAD,CDF,CHF,CLP,CNY,COP,CRC,CUC,CUP,CVE,CYP,CZK,DJF,DKK,DOP,DZD,EEK,EGP,ERN,ETB,EUR,FJD,FKP,GBP,GEL,GGP,GHS,GIP,GMD,GNF,GTQ,GYD,HKD,HNL,HRK,HTG,HUF,IDR,ILS,IMP,INR,IQD,IRR,ISK,JEP,JMD,JOD,JPY,KES,KGS,KHR,KMF,KPW,KRW,KWD,KYD,KZT,LAK,LBP,LKR,LRD,LSL,LTL,LVL,LYD,MAD,MDL,MGA,MKD,MMK,MNT,MOP,MRO,MTL,MUR,MVR,MWK,MXN,MYR,MZN,NAD,NGN,NIO,NOK,NPR,NTD,NZD,OMR,PAB,PEN,PGK,PHP,PKR,PLN,PYG,QAR,RON,RSD,RUB,RWF,SAR,SBD,SCR,SDG,SEK,SGD,SHP,SIT,SKK,SLL,SOS,SPL,SRD,STD,SVC,SYP,SZL,THB,TJS,TMM,TMT,TND,TOP,TRY,TTD,TVD,TWD,TZS,UAH,UGX,USD,UYU,UZS,VEB,VEF,VND,VUV,WST,XAF,XAG,XAU,XBT,XCD,XDR,XOF,XPD,XPF,XPT,YER,ZAR,ZMK,ZMW,ZWD{% endcapture %}
  {% assign supported_codes = settings.mlvedaACS_supportedCurrencies | split: ' ' %}
'<option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>'+
  {% for code in supported_codes %}
    {% if code != shop.currency and codes contains code %}
    '<option value="{{ code }}">{{ code }}</option>'+
    {% endif %}
  {% endfor %}
'</select>'+
'</a>';
  {% if settings.mlvedaACS_position == "inline" %}
        $acs(".site-header__cart").closest(".site-header__section--button").before(mlvedasw);
        $acs(".pick_currency").addClass("site-header__logo");
        $acs(".navigation__container").prepend(mlvedasw1);
   {% else %}
         $acs("body").prepend(mlvedasw);
     {% endif %}

</script>


{% if settings.mlvedaACS_position == "inline" %}
{% else %}
 <script>
$acs('document').ready(function(){
   $acs("body").addClass("mlvedaMobileFilter");
   lastScroll = 0;
$acs(window).on('scroll',function() {    
   var scroll = $acs(window).scrollTop();
// console.log(scroll);
   if(lastScroll - scroll > 0) {
       $acs("body").addClass("mlvedaMobileFilter");
   console.log("add");
     
   } else {
     //console.log("remove");
     if(scroll > 0 && $acs( "body" ).hasClass( "mlvedaMobileFilter" )){
      $acs("body").removeClass("mlvedaMobileFilter");
     
     }
     
   }
   lastScroll = scroll;
});
});

var clr1 = $acs("select#currencies").css("color");
var clr2 = $acs("select#currencies1").css("color");
var clr3 = $acs("select#currencies2").css("color");
$acs("select#currencies").css("background-image","url('data:image/svg+xml,<svg version=\"1.1\" id=\"Layer_1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"8pxz\" height=\"5px\" viewBox=\"0 0 8 5\" enable-background=\"new 0 0 8 5\" xml:space=\"preserve\"> <path fill=\""+clr1+"\" d=\"M0,0c0,0,3.4,4.4,3.5,4.4C3.7,4.4,7.1,0,7.1,0H0z\"/></svg>')");
$acs("select#currencies1").css("background-image","url('data:image/svg+xml,<svg version=\"1.1\" id=\"Layer_1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"8pxz\" height=\"5px\" viewBox=\"0 0 8 5\" enable-background=\"new 0 0 8 5\" xml:space=\"preserve\"> <path fill=\""+clr2+"\" d=\"M0,0c0,0,3.4,4.4,3.5,4.4C3.7,4.4,7.1,0,7.1,0H0z\"/></svg>')");
$acs("select#currencies3").css("background-image","url('data:image/svg+xml,<svg version=\"1.1\" id=\"Layer_1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"8pxz\" height=\"5px\" viewBox=\"0 0 8 5\" enable-background=\"new 0 0 8 5\" xml:space=\"preserve\"> <path fill=\""+clr3+"\" d=\"M0,0c0,0,3.4,4.4,3.5,4.4C3.7,4.4,7.1,0,7.1,0H0z\"/></svg>')");

</script>
 <style>
/*
   .pick_currency{
     display:none !important;
     
   }
   .mlvedaMobileFilter .pick_currency{
  //   display:block !important;
   }
*/
 </style>
{% endif %}

 {% endif %}
 {% endif %}