{%- if gallery_type == 'media' -%}
  {% assign max_height = 650 %}
  {% assign max_width = 980 %}
  {% assign max_aspect_ratio = 1.50769 %}

  {%- if media.preview_image.aspect_ratio < max_aspect_ratio -%}
    {%- if media.preview_image.height < max_height -%}
      {% assign max_width = media.preview_image.width | times: media.preview_image.aspect_ratio | round %}
    {%- else -%}
      {% assign max_width = max_height | times: media.preview_image.aspect_ratio | round %}
    {%- endif -%}
  {%- else -%}
    {%- if media.preview_image.width < max_width -%}
      {% assign max_width = media.preview_image.width %}
    {%- endif -%}
  {%- endif -%}

  <div class="product__media-container{% unless featured_media %} hide{% endunless %}" style="max-width: 872px" data-media-id="{{ section.id }}-{{ media.id }}" data-variant-media-toggle-hide>

{%- elsif gallery_type == 'submedia' -%}
  <div class="product__submedia-list-item">
{%- else -%}
  <div>
{%- endif -%}
    
  {% if media.preview_image.aspect_ratio != 0 %}
    {% assign padding_top = 1 | divided_by: media.preview_image.aspect_ratio | times: 100 %}
  {% else %}
    {% assign padding_top = 66.75 %}
  {% endif %}

  <a href="{{ media | img_url: 'master' }}"
     class="product__{{ gallery_type }}-wrapper"
     {% if gallery_type == 'media' %}style="padding-top:{{ padding_top }}%"{% endif %}
     data-product-slideshow-open
     data-media-id="{{ section.id }}-{{ media.id }}" card-image-data-id="{{ product.id }}">

    {%- capture thumbnail_alt -%}
      {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
        {{ 'sections.product_template.video_thumbnail_alt' | t: image_alt: media.alt | escape }}
      {%- elsif media.media_type == 'model' -%}
        {{ 'sections.product_template.model_thumbnail_alt' | t: image_alt: media.alt | escape }}
      {%- else -%}
        {{ 'sections.product_template.image_thumbnail_alt' | t: image_alt: media.alt | escape }}
      {%- endif -%}
    {%- endcapture -%}

    {% comment %}
      For product: Only give the visible variant media a src so that it shows an image
      as quickly as possible. Let lazysizes.js load in the other images when
      they become visible.
    {% endcomment %}
    {% assign img_url = media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <img class="product__{{ gallery_type }}-preview-image lazyload product-image-d-block"
        {% if featured and gallery_type == 'media' %}src="{{ media | img_url: '300x'}}"{% endif %}
        data-src="{{ img_url }}"
        data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
        data-aspectratio="{{ media.preview_image.aspect_ratio }}"
        data-sizes="auto"
        alt="{{ thumbnail_alt }}"
        {{ data_image }}>
        {% assign img2_url = product.images[1] | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <img class="product__{{ gallery_type }}-preview-image lazyload product-image-d-none"
        {% if featured and gallery_type == 'media' %}src="{{ product.images[1] | img_url: '300x'}}"{% endif %}
        data-src="{{ img2_url }}"
        data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
        data-aspectratio="{{ product.images[1].preview_image.aspect_ratio }}"
        data-sizes="auto"
        alt="{{ thumbnail_alt }}"
        {{ data_image }}>

    {%- if media.media_type == 'video' or media.media_type =='external_video' -%}
      <div class="product__thumbnail-badge">
        {% include 'icon-video-badge-full-color' %}
      </div>
    {%- elsif media.media_type == 'model' -%}
      <div class="product__thumbnail-badge">
        {% include 'icon-3d-badge-full-color' %}
      </div>
    {%- endif -%}

    {%- if gallery_type == 'submedia' -%}
      <noscript>
        <img src="{{ media | img_url: 'master' }}" alt="{{ media.alt | escape }}" class="product__submedia">
      </noscript>
    {%- endif -%}
  </a>
</div>
