{% assign option1_selected = option1_selected %}
{% assign option2_selected = option2_selected %}
  <div class="product-custom-select">
        <select>
          {% for variant in product.variants %}
            <option {% if product.selected_variant.id== variant.id %} selected{% elsif product.selected_or_first_available_variant.id == variant.id %} selected{% endif %}>{{ variant.title }}</option>
          {% endfor %}
        </select>
        {% for variant in product.variants %}
                {% if forloop.first %}
                  <div class="select-selected">{{ product.selected_or_first_available_variant.title }}</div>
                  <div class="select-items d-none">
                  <div class="select-option-item js-swatch-value {% if product.selected_variant.id == variant.id %} active{% elsif product.selected_or_first_available_variant.id == variant.id %} active{% endif %}" data-variant-id="{{ variant.id }}" card-image-data-id="{{ product.id }}" data-variant-url="{{ variant.url | within: collection }}" data-option1="{{ option1_selected }}" data-option2="{{ option2_selected }}" data-option3="{{ variant.title }}">{{ variant.title }}</div>
                {% else %}
                  <div class="select-option-item js-swatch-value {% if product.selected_variant.id == variant.id %} active{% elsif product.selected_or_first_available_variant.id == variant.id %} active{% endif %}" data-variant-id="{{ variant.id }}" card-image-data-id="{{ product.id }}" data-variant-url="{{ variant.url | within: collection }}" data-option1="{{ option1_selected }}" data-option2="{{ option2_selected }}" data-option3="{{ variant.title }}">{{ variant.title }}</div>
                {% endif %}
                {% if forloop.last %}
                  </div>
                {% endif %}        
        {% endfor %}
</div>