{% assign product_tag_size = product.tags | size %}
{% assign custom_gift_enabled = custom_gift_enabled | true %}
{% assign gift_apps_enabled = gift_apps_enabled | false %}
{% if product_tag_size > 0 %}
{% for tag in product.tags %}
    {% if tag contains 'option1:' %}
    {% assign option1_selected =  tag | replace: 'option1:', '' %}
    {% endif %}
    {% if tag contains 'option2:' %}
    {% assign option2_selected =  tag | replace: 'option2:', '' %}
    {% endif %}
    {% if tag == "customiser_button" %}
    {% assign customiser_button_enabled = true %}
    {% endif %}
    {% if tag == product_upsell_tag %}
    {% assign product_upsell_enabled = true %}
    {% endif %}
    {% if tag == product_gift_tag %}
    {% assign product_gift_form_enabled = true %}
    {% endif %}
{% endfor %}
{% endif %}
{% unless current_variant.available %}
  {% assign button_text = 'products.product.sold_out' | t %}
{% else %}
  {% assign button_text = 'products.product.add_to_cart' | t %}
{% endunless %}
{% assign product_upsell_enabled = product_upsell_enabled | default: false %}
{% assign product_upsell_description = product_upsell_description | default: blank %}
{% assign product_upsell_item = product_upsell_item | default: blank %} 
{% assign product_gift_form_enabled = product_gift_form_enabled | default: false %} 
{% assign product_gift_title = product_gift_title | default: blank %}  
{% assign product_upsell_tag = product_upsell_tag | default: 'upsell_tag_enabled' %}
{% assign product_gift_tag = product_gift_tag | default: 'gift_tag_enabled' %}
{% assign upsell_item_title_replacement = upsell_item_title_replacement | default: blank %}
{% form 'product', product, class:'product-form' %}
  {% unless product.has_only_default_variant %}
    {% for option in product.options_with_values %}	  
      <div class="product-form__item supports-js" style="flex-direction: column;">
		{% assign choose_pdp = 'Select Color' %}
        {% if product.handle == 'gift-card' %}
          {% assign choose_pdp = 'Select Amount' %}
        {% elsif product.title contains 'Walrus' %}
          {% assign choose_pdp = 'Choose your Care Product' %}
        {% elsif product.handle == 'custom-engraving' %}
          {% assign choose_pdp = 'Choose your Engraving Style' %}
        {% endif %}        
        {% if product.variants.size > 1 %}
          {% if product.handle != 'gift-card' %}
          {% include 'product-select-color', option1_selected: option1_selected, option2_selected: option2_selected, option3_selected: option3_selected %}
          {% include 'card-swatches', option1_selected: option1_selected, option2_selected: option2_selected, option3_selected: option3_selected %}
        	{% endif %}
        {% endif %}        
        {% if option.name != 'default' and false %}
          <label class="single-option-selector__label{% unless section.settings.show_variant_labels %} single-option-selector__label--hidden{% endunless %}" for="{{ option.name | escape }}">{{ option.name }}</label>
        {% endif %}		
         {% if product.handle == 'gift-card' %}        
          <select id="{{ option.name | escape }}" name="{{ option.name | escape }}" class="single-option-selector" data-option-input>
          {% for value in option.values %}
            {% assign safeValue = value | replace: '"', '&quot;' %}
            <option value="{{ safeValue }}" {% if option.selected_value == value %}selected{% endif %}>{{ value }}</option>
          {% endfor %}
        </select>
        
         {% elsif product.handle != 'gift-card' %}
        <select id="{{ option.name | escape }}" name="{{ option.name | escape }}" class="single-option-selector" data-option-input style="display: none;">
          {% for value in option.values %}
            {% assign safeValue = value | replace: '"', '&quot;' %}
            <option value="{{ safeValue }}" {% if option.selected_value == value %}selected{% endif %}>{{ value }}</option>
          {% endfor %}
        </select>      
         {% endif %}
      </div>
    {% endfor %}
  {% endunless %}
  <select name="id" class="product-form__master-select supports-no-js" data-master-select>
    {% for variant in product.variants %}
      {% if variant.available %}
        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
        </option>
      {% endif %}
    {% endfor %}
  </select>
          {% if customiser_button_enabled %}
              <div class="product_customiser_button">          
              <a href="/pages/custom-order?option1={{ option1_selected }}&option2={{ option2_selected }}&option3={{ product.selected_or_first_available_variant.title }}" class="m8_btn btn--full feature-row__btn">{{ 'products.product.customise_your_own' | t }}</a>
              </div>
          {% endif %}
{% if custom_gift_enabled %}
{% include 'giftship', product_upsell_enabled: product_upsell_enabled, product_upsell_description: product_upsell_description, product_upsell_item: product_upsell_item, product_gift_form_enabled: product_gift_form_enabled, product_gift_title: product_gift_title %}  
{% endif %}
<div class="{% if custom_gift_enabled %}product-form-d-flex{% elsif gift_apps_enabled %}d-flex-with-gift-apps{% elsif custom_gift_enabled == false and gift_apps_enabled == false %}product-form-d-flex{% endif %}">
{% if section.settings.show_quantity_selector %}
    <div class="{% if custom_gift_enabled %}product-form__item product-form__quantity-selector{% elsif gift_apps_enabled %}input-qty-with-gift-apps{% elsif custom_gift_enabled == false and gift_apps_enabled == false %}product-form__item product-form__quantity-selector{% endif %}">
          <button class="product-form__minus" type="button">-</button>
          <input type="number" name="quantity" value="1" min="1" pattern="[0-9]*" readonly>
          <button class="product-form__plus" type="button">+</button>
    </div>
  {% endif %}
    <div class="{% if custom_gift_enabled %}product-form__btn{% elsif gift_apps_enabled %}add-to-cart-with-gift-apps{% elsif custom_gift_enabled == false and gift_apps_enabled == false %}product-form__btn{% endif %}">
          <button class="btn--full {% if custom_gift_enabled %}product__add-to-cart-button-ajax{% else %}product__add-to-cart-button{% endif %}{% if section.settings.enable_payment_button and current_variant.available %} shopify-payment-btn{% endif %}"
          type="submit" name="add"
          {% unless current_variant.available %} disabled="true"{% endunless %}
          aria-label="{{ button_text }}"
          {% unless custom_gift_enabled %}data-cart-submit{% endunless %}
          >
          <span class="primary-text" aria-hidden="false" data-cart-primary-submit-text>
            {{ button_text }}
          </span>
          <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text>{{ 'products.product.view_cart' | t }}</span>
          </button>
    </div>
</div>
  <p class="product__notification text-small text-center d-none" data-cart-notification></p>
  <br>
  {% if section.settings.enable_payment_button and current_variant.available %}
    {{ form | payment_button }}
  {% endif %}
{% endform %}
