{% assign tab1_title = tab1_title | default: 'DESCRIPTION' %}
{% assign tab2_title = tab2_title | default: section.settings.tab1_title %}
{% assign tab3_title = tab3_title | default: section.settings.tab2_title %}
{% assign tab4_title = tab4_title | default: section.settings.tab3_title %}
{% assign tab1_desc = tab1_desc | default: product.description %}
{% assign tab2_desc = tab2_desc | default: section.settings.tab1_desc %}
{% assign tab3_desc = tab3_desc | default: section.settings.tab2_desc %}
{% assign tab4_desc = tab4_desc | default: section.settings.tab3_desc %}
<!-- Tab links -->
<div class="page-width page-width--no-gutter">
  <div class="tab">
    <button type="button" class="tablinks active" tab-index="0">{{ tab1_title }}</button>
    <div class="tabcontent active rte" itemprop="description">
      {{ tab1_desc }}
    </div>
    <button type="button" class="tablinks" tab-index="1">{{ tab2_title }}</button>
    <div class="tabcontent rte">
      {{ tab2_desc }}
    </div>
    <button type="button" class="tablinks" tab-index="2">{{ tab3_title }}</button>
    <div class="tabcontent rte">
      {{ tab3_desc }}
    </div>
    <button type="button" class="tablinks" tab-index="3">{{ tab4_title }}</button>
    <div class="tabcontent rte">
      {{ tab4_desc }}
    </div>
  </div>
<!-- Tab content -->
 

 
 
</div>