{% assign product_customiser = false %}
{% for tag in product.tags %}
  {% if tag == "product_customiser" %}
  {% assign product_customiser = true %}
  {% endif %}
{% endfor %}
<div class="card critical-clear" id="Card-{{ product.id }}" data-animate>
    <a href="{% if product_customiser %}/pages/custom-order{% else %}{{ product.selected_or_first_available_variant.url | within: collection }}{% endif %}" class="card__wrapper{% if section.settings.show_spacing %} card__wrapper--padding{% endif %} text-center" js-variant-url="{{ product.id }}">

      {% if product.featured_media %}
        {% include 'card-image', type: product.featured_media.preview_image, grid_style: grid_style %}
      {% endif %}

    </a>  
    <div class="card__info{% if grid_style == 'grid' %} card__info--aligned{% endif %}{% if product.title contains 'Gift Card' %} gift_card_mt{% endif %}">
      {% if product.handle != 'gift-card' and product_customiser == false %}
      {% include 'card-swatches' %}
      {% elsif product_customiser %}
      <div class="card__customiser">
        <div class="product_customiser_btn">
          <a href="/pages/custom-order" class="m8_btn">{{ 'products.product.customise_your_own' | t }}</a>
        </div> 
      </div>
      {% endif %}
      {% if section.settings.show_vendor %}
      <div class="card__brand">{{ product.vendor }}</div>
      {% endif %}
      <div class="product_card_url_fit_border">
      <a href="{{ product.selected_or_first_available_variant.url | within: collection }}" class="card__name h4" js-variant-title="{{ product.id }}">{{ product.title }}</a>
      </div>
      {% if product.available and product_customiser == false %}
      <div class="card__price">
        {%- assign variant = product.selected_or_first_available_variant %}
        {% if product.compare_at_price > product.price %}
          {% if product.price_varies %}
            {% assign sale_price = product.price | money_without_trailing_zeros %}
            <span class="visually-hidden"> {{ 'products.product.price' | t }} </span>
            {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
          {% else %}
          <div class="d-flex">
            <span class="card__price--regular-strike">
              <span class="card__price--regular">{{ product.compare_at_price | money_without_trailing_zeros }}</span>
            </span>
            <span class="card__price--sale">{{ product.price | money_without_trailing_zeros }}</span>
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>     
          </div>
          <div class="d-flex">
            <div class="sale_price">
              <div class="sale_price_title">
                <span class="sale_title">{{ 'products.product.sale_price' | t }}</span>
              </div>
            </div>  
            <div class="saved_price">
              {% assign saved_price = product.compare_at_price | minus: product.price %}
              <span>{{ saved_price | money_without_trailing_zeros }}</span>
            </div> 
          </div>   
            {%- if variant.available and variant.unit_price_measurement -%}
              {% include 'product-unit-price', variant: variant %}
            {% endif %}
          {% endif %}
        {% else %}
          {% if product.price_varies %}
            {% assign price = product.price | money_without_trailing_zeros %}
            {{ 'products.product.from_text_html' | t: price: price }}
          {% else %}
            {{ product.price | money_without_trailing_zeros }}
            {%- if variant.available and variant.unit_price_measurement -%}
              {% include 'product-unit-price', variant: variant %}
            {% endif %}
          {% endif %}
        {% endif %}
      </div>
      {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', concierge_install: true, product: product %}
      {% else %}
      {% if product_customiser == false %}
        <div class="card__availability">
          {{ 'products.product.sold_out' | t }}
        </div>
      {% else %}
     
      {% assign product_engraving = all_products[settings.product_engraving_price].selected_or_first_available_variant %}
      {% if product_engraving.compare_at_price > product_engraving.price %}
      <div class="product_engraving_details">
        <div class="card__price">
        <div class="d-flex">
          <span class="card__price--regular-strike">
            <span class="card__price--regular">{{ product_engraving.compare_at_price | money_without_trailing_zeros }}</span>
          </span>
          <span class="card__price--sale">{{ product_engraving.price | money_without_trailing_zeros }}</span>
          <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>     
        </div>
        <div class="d-flex">
          <div class="sale_price">
            <div class="sale_price_title">
              <span class="sale_title">{{ 'products.product.sale_price' | t }}</span>
            </div>
          </div>  
          <div class="saved_price">
            {% assign saved_engraving_price = product_engraving.compare_at_price | minus: product_engraving.price %}
            <span>{{ saved_engraving_price | money_without_trailing_zeros }}</span>
          </div> 
        </div>  
        </div>
      </div>
      {% else %}     
      <div class="card__price">{{ product_engraving.price | money_without_trailing_zeros }}</div>       
      {% endif %} 
      {% endif %}
      {% endif %}
    </div>
    {% if product.compare_at_price > product.price %}
      <div class="card__badge">
        <div class="sale_price_title">
          <span class="sale_title">{{ 'products.product.on_sale' | t }}</span>
        </div>
      </div>
    {% endif %}
</div>
