<script> 
  window.revyBundleThemeSettings = { 
  	cart: {{ cart | json }},
    locale: '{{ request.locale.iso_code }}'
  }; 
</script>
<script async src="https://api.revy.io/bundle.js?shop=lynn-liana.myshopify.com" type="text/javascript"></script>
