<?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="88px" height="88px" viewBox="0 0 575.538 575.537" style="enable-background:new 0 0 575.538 575.537;"
	 xml:space="preserve">
<g>
	<g>
		<polygon points="319.21,339.186 298.201,350.4 308.047,360.248 		" style="fill: #9b121f;"/>
		<path d="M213.72,169.154c-1.095-18.807-3.88-37.583-8.412-56.233C189.46,47.684,163.729,11.39,126.645,1.961
			C121.525,0.661,116.52,0,111.767,0C72.44,0,52.428,45.836,50.472,88.422c-2.16,47.093,11.956,95.5,39.752,136.302
			c3.18,4.667,7.953,7.234,13.443,7.234c6.383,0,12.552-3.559,15.352-8.859c2.463-4.661,2.035-9.85-1.212-14.615
			c-20.649-30.312-32.442-63.819-35.049-99.594c-1.261-17.311,0.196-54.183,14.737-69.82c4.32-4.648,9.33-6.907,15.315-6.907
			c3.819,0,8.06,0.955,12.607,2.834c16.793,6.943,25.884,24.504,34.465,43.431c7.038,15.526,12.638,33.295,17.121,54.33
			c2.772,13.008,4.498,26.451,5.177,40.101l-53.308,6.27l-18.498,157.308l239.099,239.1L525.281,399.73l-239.1-239.099
			L213.72,169.154z M181.03,214.727c-0.952,9.186-2.362,18.369-4.232,27.491c-1.007,4.909,0.095,9.642,3.106,13.33
			c3.21,3.935,8.43,6.38,13.62,6.38c7.329,0,12.818-4.565,14.327-11.913c2.203-10.75,3.819-21.53,4.89-32.322
			c1.603,1.11,3.13,2.356,4.538,3.764c6.154,6.153,9.544,14.336,9.544,23.039s-3.391,16.885-9.544,23.036
			c-6.153,6.151-14.336,9.544-23.039,9.544s-16.885-3.391-23.036-9.544c-12.702-12.702-12.702-33.372,0-46.077
			C174.081,218.579,177.417,216.33,181.03,214.727z M438.655,435.389l-9.571,9.568l-23.238-23.236l-7.123,7.123l21.555,21.555
			l-9.144,9.143l-21.555-21.555l-8.838,8.838l23.911,23.908l-10.15,10.15l-37.791-37.791l44.823-44.824L438.655,435.389z
			 M373.651,370.389l-33.785,33.785l21.616,21.615l-11.038,11.039l-35.468-35.469l44.822-44.824L373.651,370.389z M338.556,335.291
			l-27.98,61.664l-14.505-14.5l5.156-9.643l-15.726-15.727l-9.584,5.215l-14.14-14.141l61.671-27.977L338.556,335.291z
			 M290.058,311.988l-13.819-12.291c1.671-2.363,2.412-4.561,2.216-6.59c-0.192-2.027-1.27-4.02-3.226-5.975
			c-1.609-1.61-3.164-2.482-4.663-2.613c-1.5-0.132-2.736,0.291-3.715,1.27c-0.713,0.713-1.019,1.692-0.918,2.934
			c0.061,1.243,1.059,3.342,2.996,6.299c4.75,7.359,7.766,13.014,9.051,16.967s1.533,7.52,0.75,10.686
			c-0.783,3.17-2.399,5.979-4.847,8.424c-2.874,2.873-6.319,4.729-10.334,5.564c-4.015,0.834-8.075,0.451-12.185-1.148
			c-4.106-1.6-8.333-4.572-12.674-8.914c-7.623-7.621-11.436-14.369-11.436-20.242c0-5.871,2.069-11.26,6.206-16.174l14.002,12.354
			c-1.854,2.426-2.904,4.639-3.149,6.633c-0.389,3.24,0.744,6.186,3.394,8.838c1.977,1.977,3.966,3.035,5.961,3.18
			c1.998,0.143,3.608-0.398,4.832-1.619c1.163-1.162,1.692-2.711,1.591-4.648c-0.101-1.938-1.6-5.166-4.495-9.691
			c-4.709-7.438-7.225-13.583-7.552-18.436c-0.346-4.872,1.233-9.061,4.74-12.567c2.304-2.301,5.147-3.813,8.531-4.526
			s7.001-0.318,10.854,1.193c3.853,1.509,8.112,4.596,12.781,9.263c5.729,5.729,9.03,11.16,9.905,16.298
			C295.731,301.59,294.134,306.771,290.058,311.988z" style="fill: #9b121f;"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
