{% include 'breadcrumbs' %}
<div class="my-account account">
  
  <div class="container flex flex-wrap justify-content-between">
  
  {%- include 'account_menu' -%}
  
  <div class="content two-thirds medium-down--one-whole">
    <table>
        <thead>
          <tr class="head small--hide">
            <th class="order_number first">Order</th>
            <th class="date">Date</th>
            <th class="payment_status">Payment Status</th>
            <th class="fulfillment_status">Fulfillment Status</th>
            <th class="total">Total (USD)</th>
          </tr>
        </thead>
        <tbody>
          
          {%- for order in customer.orders -%}
          <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
            <td><span class="small-title">Order. </span>{{ order.name | link_to: order.customer_url }}</td>
            <td><span class="small-title">Date. </span><span class="note">{{ order.created_at | date: "%b %d, %Y" }}</span></td>
            <td><span class="small-title">Payment Status. </span><span class="status_{{ order.financial_status }}">{{ order.financial_status }}</span></td>
            <td><span class="small-title">Fulfillment Status. </span><span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></td>
            <td><span class="small-title">Total. </span><span class="total money">{{ order.total_price | money }}</span></td>
          </tr>
          {%- endfor -%}
          {% comment %}
          
           <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
            <td data-td="order. ">#1001</td>
            <td data-td="date. "><span class="note">May 23, 2017</span></td>
            <td data-td="payment status. "><span class="status_{{ order.financial_status }}">Paid</span></td>
            <td data-td="fulfillment status. "><span class="status_{{ order.fulfillment_status }}">Unfulfilled</span></td>
            <td data-td="total (usd). "><span class="total money">30.00</span></td>
          </tr>
          <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
            <td data-td="order. ">#1002</td>
            <td data-td="date. "><span class="note">May 23, 2017</span></td>
            <td data-td="payment status. "><span class="status_{{ order.financial_status }}">Paid</span></td>
            <td data-td="fulfillment status. "><span class="status_{{ order.fulfillment_status }}">Unfulfilled</span></td>
            <td data-td="total (usd). "><span class="total money">30.00</span></td>
          </tr>
          <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
            <td data-td="order. ">#1003</td>
            <td data-td="date. "><span class="note">May 23, 2017</span></td>
            <td data-td="payment status. "><span class="status_{{ order.financial_status }}">Paid</span></td>
            <td data-td="fulfillment status. "><span class="status_{{ order.fulfillment_status }}">Unfulfilled</span></td>
            <td data-td="total (usd). "><span class="total money">30.00</span></td>
          </tr> 
          {% endcomment %}
        </tbody>
      </table>

   </div>
    
  </div>
    
</div>