<script>
$(function(){
    $('.scroll').click(function(){
      $.scrollTo($(this).attr('href'), 1000, {offset: -100});
      	return false;
    });
});
</script>
{% include 'breadcrumbs' %}
<div class="my-account account">
  
  <div class="container flex flex-wrap justify-content-between">
  
  {%- include 'account_menu' -%}
  
  <div class="content two-thirds medium-down--one-whole">
      
    <h1>Hello, {{ customer.name }}</h1>
    <p class="presentation">From your dashboard you have the ability to view a snapshot of your recent account activity and update your account information. Select a link below to view or edit information.</p>

    <div class="grid columns">
      <div class="grid__item one-third small--one-whole">
        <h2>Account Information</h2>
        <p>{{ customer.name }}<br/>
        {{ customer.email }}</p>
      </div>

      <div class="address-book grid__item one-third small--one-whole">
        <h2>Address Book</h2>
        <a id="view_address" href="/account/addresses">Manage Addresses ({{ customer.addresses_count }})</a>
          {%- if customer.default_address != nil -%}
          <p>
            {{ customer.default_address.address1 }}<br/>
            {%- if customer.default_address.address2 != "" -%}
            {{ customer.default_address.address2 }}<br/>
            {%- endif -%}
            {{ customer.default_address.city}}, {% if customer.default_address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}<br/>
            {{ customer.default_address.zip}}<br/>
            {{ customer.default_address.phone }}
          </p>
          {%- endif -%}
      </div>
    </div>
    
    <div id="customer_orders" class="orders">
      <h2>My orders</h2>
      
      <table>
        <thead>
          <tr class="head small--hide">
            <th class="order_number first">Order</th>
            <th class="date">Date</th>
            <th class="payment_status">Payment Status</th>
            <th class="fulfillment_status">Fulfillment Status</th>
            <th class="total">Total (USD)</th>
          </tr>
        </thead>
        <tbody>
          
          {%- for order in customer.orders -%}
          <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
            <td><span class="small-title">Order. </span>{{ order.name | link_to: order.customer_url }}</td>
            <td><span class="small-title">Date. </span><span class="note">{{ order.created_at | date: "%b %d, %Y" }}</span></td>
            <td><span class="small-title">Payment Status. </span><span class="status_{{ order.financial_status }}">{{ order.financial_status }}</span></td>
            <td><span class="small-title">Fulfillment Status. </span><span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></td>
            <td><span class="small-title">Total. </span><span class="total money">{{ order.total_price | money }}</span></td>
          </tr>
          {%- endfor -%}
          {% comment %}
          
           <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
            <td data-td="order. ">#1001</td>
            <td data-td="date. "><span class="note">May 23, 2017</span></td>
            <td data-td="payment status. "><span class="status_{{ order.financial_status }}">Paid</span></td>
            <td data-td="fulfillment status. "><span class="status_{{ order.fulfillment_status }}">Unfulfilled</span></td>
            <td data-td="total (usd). "><span class="total money">30.00</span></td>
          </tr>
          <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
            <td data-td="order. ">#1002</td>
            <td data-td="date. "><span class="note">May 23, 2017</span></td>
            <td data-td="payment status. "><span class="status_{{ order.financial_status }}">Paid</span></td>
            <td data-td="fulfillment status. "><span class="status_{{ order.fulfillment_status }}">Unfulfilled</span></td>
            <td data-td="total (usd). "><span class="total money">30.00</span></td>
          </tr>
          <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
            <td data-td="order. ">#1003</td>
            <td data-td="date. "><span class="note">May 23, 2017</span></td>
            <td data-td="payment status. "><span class="status_{{ order.financial_status }}">Paid</span></td>
            <td data-td="fulfillment status. "><span class="status_{{ order.fulfillment_status }}">Unfulfilled</span></td>
            <td data-td="total (usd). "><span class="total money">30.00</span></td>
          </tr>
          {% endcomment %}
          
        </tbody>
      </table>
      
    </div>
    
   </div>
    
    
  </div>
    
</div>