<!-- /templates/customers/activate_account.liquid -->
{% include 'breadcrumbs' %}
<div class="page-width customers-activate-account">
  <div class="grid">
    <div class="grid__item medium-up--four-fifths medium-up--push-one-tenth">
      <div class="customers-activate-account__container">
        <h1 class="customer-form__title h2">{{ 'customer.activate_account.title' | t }}</h1>
        <p>{{ 'customer.activate_account.subtext' | t }}</p>

        {% form 'activate_customer_password' %}

        {{ form.errors | default_errors }}

        <p>
          <label for="CustomerPassword" class="label--hidden">{{ 'customer.activate_account.password' | t }}</label>
          <input type="password" value="" name="customer[password]" id="CustomerPassword" placeholder="{{ 'customer.activate_account.password' | t }}">
        </p>

        <p>
          <label for="CustomerPasswordConfirmation" class="label--hidden">{{ 'customer.activate_account.password_confirm' | t }}</label>
          <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" placeholder="{{ 'customer.activate_account.password_confirm' | t }}">
        </p>

        <input type="submit" class="btn" value="{{ 'customer.activate_account.submit' | t }}">
        <input type="submit" class="btn btn--clear" name="decline" value="{{ 'customer.activate_account.cancel' | t }}">
        {% endform %}
      </div>
    </div>
  </div>
</div>
