<!-- /templates/customers/register.liquid -->
{% include 'breadcrumbs' %}
<div class="page-width customers-register">
  <div class="grid">
    <div class="grid__item medium-up--four-fifths medium-up--push-one-tenth">
      <div class="customers-register__container">
        <h1 class="customer-form__title h2">{{ 'customer.register.title' | t }}</h1>

        {% form 'create_customer' %}
        {{ form.errors | default_errors }}

        <div class="grid">
          <div class="grid__item medium-up--one-half">
            <label for="FirstName" class="label--hidden">{{ 'customer.register.first_name' | t }}</label>
            <input type="text" name="customer[first_name]" id="FirstName" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>
          </div>

          <div class="grid__item medium-up--one-half">
            <label for="LastName" class="label--hidden">{{ 'customer.register.last_name' | t }}</label>
            <input type="text" name="customer[last_name]" id="LastName" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">
          </div>
        </div>

        <label for="Email" class="label--hidden">{{ 'customer.register.email' | t }}</label>
        <input type="email" name="customer[email]" id="Email" class="{% if form.errors contains 'email' %} input--error{% endif %}" placeholder="{{ 'customer.register.email' | t }}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">

        <label for="CreatePassword" class="label--hidden">{{ 'customer.register.password' | t }}</label>
        <input type="password" name="customer[password]" id="CreatePassword" class="{% if form.errors contains 'password' %} input--error{% endif %}" placeholder="{{ 'customer.register.password' | t }}">

        <p>
          <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn">
          <a href="{{ shop.url }}" class="btn btn--clear">{{ 'customer.register.cancel' | t }}</a>
        </p>
        {% endform %}
      </div>
    </div>
  </div>
</div>
