{% if
  request.page_type == 'blog'
  or request.page_type == 'collection'
  or request.page_type == 'list-collections'
  or request.page_type == 'search'
%}
  {%- assign hide_footer = true -%}
{% endif %}

<!doctype html>
<html class="supports-no-js {% if hide_footer %} site-footer--hidden{% endif %}" lang="{{ shop.locale }}">
{%-assign hura_token="now"|date:"%Y%m%d%H%M%S"-%}
{{'//apps.anhkiet.info/prevent-content-theft/scripts/a6d82c3a4ad7d82e65b5a694ee4ddd3b.js?token='|append:hura_token|script_tag}}
  <head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
 <!-- Google Tag Manager -->
 <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
  j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-N7N86TD');</script>
  <!-- End Google Tag Manager -->
  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}
 {% assign content_for_header = content_for_header | remove: 'https:\/\/static.klaviyo.com\/onsite\/js\/klaviyo.js?company_id=WmGntd\u0026shop=lynn-liana.myshopify.com' | 'https:\/\/static.klaviyo.com\/onsite\/js\/klaviyo.js?company_id=WmGntd\u0026shop=lynn-liana.myshopify.com' | remove: 'https:\/\/geolocation-recommendations.shopifycloud.com\/selectors\/script.js?shop=lynn-liana.myshopify.com' | remove: 'https:\/\/geolocation-recommendations.shopifycloud.com\/locale_bar\/script.js?shop=lynn-liana.myshopify.com' | remove: 'https:\/\/cdn.shopify.com\/s\/files\/1\/0278\/7996\/4761\/t\/7\/assets\/Q5c4JOemNNU3KjGO.js?v=1608572727\u0026shopId=14718\u0026shop=lynn-liana.myshopify.com' | remove: 'https:\/\/99418-1398787-raikfcquaxqncofqfm.stackpathdns.com\/assets\/js\/giftship.5.4.2.js?shop=lynn-liana.myshopify.com' | remove: 'https:\/\/99418-1398787-raikfcquaxqncofqfm.stackpathdns.com\/assets\/js\/giftship.5.4.8.js?shop=lynn-liana.myshopify.com' | remove: 'https:\/\/d34uoa9py2cgca.cloudfront.net\/shopify-app\/helper-scripts\/sezzle-footer-logo-fix.js?shop=lynn-liana.myshopify.com' | remove: 'https:\/\/static.klaviyo.com\/onsite\/js\/klaviyo.js?company_id=UJeSWT\u0026shop=lynn-liana.myshopify.com' | remove: 'https:\/\/instafeed.nfcube.com\/cdn\/0d26ad860c07ce58bd7680ef7f2f2040.js?shop=lynn-liana.myshopify.com' | remove: 'https:\/\/sp-micro-next.b-cdn.net\/sp-micro.umd.js?shop=lynn-liana.myshopify.com' %}
  {{ content_for_header }}
  <!-- start critical here -->
  {% include 'critical-css' %}
  {% include 'load-css' %}
  <!-- end critical here -->
{{ 'custom-order.min.css' | asset_url | stylesheet_tag }}
{{ 'custom.min.css' | asset_url | stylesheet_tag }}
{{ 'header.min.css' | asset_url | stylesheet_tag }}
{{ 'swiper.css' | asset_url | stylesheet_tag }}
<script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  <script>
    var theme = {
      stylesheet: "{{ 'theme.scss.css' | asset_url }}",
      modelViewerUiSprite: "{{ 'model-viewer-ui-sprite.svg' | asset_url }}",
      plyrSprite: "{{ 'plyr-sprite.svg' | asset_url }}",
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        addItemSuccess: {{ 'products.product.item_added_to_cart' | t | json }},
        viewCart: {{ 'products.product.view_cart' | t | json }},
        cartError: {{ 'cart.general.cart_error' | t | json }},
        cartQuantityError: {{ 'cart.general.cart_quantity_error_html' | t: quantity: "[quantity]", title: "[title]" | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        salePrice: {{ 'products.product.sale_price' | t | json }},
        unitPrice: {{ 'products.product.unit_price' | t | json }},
        unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
        newsletter: {
          blankError: {{ 'general.newsletter_form.blank_error' | t | json }},
          invalidError: {{ 'general.newsletter_form.invalid_error' | t | json }}
        },
        map: {
          zeroResults: {{ 'sections.map.address_no_results' | t | json }},
          overQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
          authError: {{ 'sections.map.auth_error_html' | t | json }},
          addressError: {{ 'sections.map.address_error' | t | json }}
        },
        slideshow: {
          loadSlideA11yString: {{ 'sections.slider.load_slide' | t: slide_number: '[slide_number]' | json }},
          activeSlideA11yString: {{ 'sections.slider.active_slide' | t: slide_number: '[slide_number]' | json }}
        }
      },
      isOnline: true,
      moneyFormat: {{ shop.money_format | json }},
      mediaQuerySmall: 750,
      mediaQueryMedium: 990
    };

    {% if request.page_type contains 'customers/' %}
      theme.countryOptionTags = {{ all_country_option_tags | json}};
    {% endif %}

    document.documentElement.className = document.documentElement.className.replace('supports-no-js', '');
  </script>
  <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>
  <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
  
  {%- if template contains 'customers' -%}
  	{{ 'customer-account.scss.css' | asset_url | stylesheet_tag }}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {%- endif -%}
  
 <!-- Global site tag (gtag.js) - Google Analytics -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173212371-1"></script>
 <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date()); 
   gtag('config', 'UA-173212371-1');
 </script>   
   <meta name="google-site-verification" content="GYv8abR0mHU_UOsSRXvnQFx0FOIzECxRE1fAMe1c6DA" />   
   <!-- Global site tag (gtag.js) - Google Ads: 589506587 -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=AW-589506587"></script>
 <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date()); 
   gtag('config', 'AW-589506587');
 </script> 
<script>
window.mlvedaShopCurrency = "{{ shop.currency }}";
window.shopCurrency = "{{ shop.currency }}";
window.supported_currencies = "{{ settings.mlvedaACS_supportedCurrencies }}";
</script>  
{% include 'judgeme_core' %}
  <meta name="facebook-domain-verification" content="aatwzhss7729nib6msmrq6ccdcn8ga" />
  {{ 'shopstorm-apps.scss.css' | asset_url | stylesheet_tag }}
  {% render 'shopstorm-scripttags' %}
<script>
    (function(m8,d) { 
      m8.pso_homepage_product_images = '{"products":[{"id":"88888888","img":"88888888","div":"88888888","noscript":"88888888"}]}';
      m8.pso_obj_products_images = JSON.parse(m8.pso_homepage_product_images);
      m8.pso_obj_slider_image = '{"sliderimages":[{"id":"88888888","img":"88888888"}]}';
      m8.pso_obj_slider_video = '{"slidervideos":[{"id":"88888888","video":"88888888"}]}';
      m8.pso_obj_slider_images = JSON.parse(m8.pso_obj_slider_image);
      m8.pso_obj_slider_videos = JSON.parse(m8.pso_obj_slider_video);
      m8.pso_obj_variant_image = '{"variants":[{"id":"88888888","img":"88888888","pid":"88888888"}]}';
      m8.pso_obj_variant_images = JSON.parse(m8.pso_obj_variant_image);
      m8.banner_delay = Number(5000);
  })(window,document);
</script>
{% include 'dexter' %}

</head>
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{% if request.page_type != blank %}{{ request.page_type | handle }}{% else %}none{% endif %} data-animations">

  <a class="visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {% section 'header' %}

  <div class="main-content{% if request.page_type == blank %} main-content--no-template{% endif %}" data-drawer-push>
    <div class="main-content__wrapper">
      <main class="content-for-layout" id="MainContent" role="main">
        {{ content_for_layout }}
      </main>

      {% section 'footer' %}
    </div>
  </div>

  {% include 'cart-drawer' %}
  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
    <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
  </ul>
{% include 'jquery-js' %}
<script src="{{ 'custom-order.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'vendor.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'theme.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'swiper.js' | asset_url }}"></script>
<script>
  (function($,m8,d,api,r,si,osi,osv,ssv,ciw,fcvs,lse,hpi,opi,ovi,fs,fjs,fcss,fee,mex,klaviyo,klaviyo2,geolocation,geolocationbar,jGO,stackpath,sezzle,klaviyo3,instafeed,spmicro,gtm,gtm2,swiper) {
    api = d.createElement('script');
    fs = d.createElement('script');
    fjs = d.createElement('script');
    geolocation = d.createElement('script');
    geolocationbar = d.createElement('script');
    jGO = d.createElement('script');
    stackpath = d.createElement('script');
    sezzle = d.createElement('script');
    instafeed = d.createElement('script');
    spmicro = d.createElement('script');
    swiper = d.createElement('script');
    klaviyo = d.createElement('script');
    fcss = d.createElement("link");
    fjs.src = "{{ 'flickity-slider.js' | asset_url }}";
    fcss.href = "{{'flickity-slider.css' | asset_url }}";
    fcss.setAttribute('rel','stylesheet');
    fcss.setAttribute('type','text/css');
    fcss.setAttribute('media','all');
    fs.src = '//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js';
    klaviyo.src = 'https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=WmGntd\u0026shop=lynn-liana.myshopify.com';
    geolocation.src = 'https://geolocation-recommendations.shopifycloud.com/selectors/script.js?shop=lynn-liana.myshopify.com';
    geolocationbar.src = 'https://geolocation-recommendations.shopifycloud.com/locale_bar/script.js?shop=lynn-liana.myshopify.com';
    jGO.src = 'https://cdn.shopify.com/s/files/1/0278/7996/4761/t/7/assets/Q5c4JOemNNU3KjGO.js?v=1608572727\u0026shopId=14718\u0026shop=lynn-liana.myshopify.com';
    stackpath.src = 'https://99418-1398787-raikfcquaxqncofqfm.stackpathdns.com/assets/js/giftship.5.4.2.js?shop=lynn-liana.myshopify.com';
    sezzle.src = 'https://d34uoa9py2cgca.cloudfront.net/shopify-app/helper-scripts/sezzle-footer-logo-fix.js?shop=lynn-liana.myshopify.com';
    instafeed.src = 'https://instafeed.nfcube.com/cdn/0d26ad860c07ce58bd7680ef7f2f2040.js?shop=lynn-liana.myshopify.com';
    spmicro.src = 'https://sp-micro-next.b-cdn.net/sp-micro.umd.js?shop=lynn-liana.myshopify.com';
    opi = m8.pso_obj_products_images;
    r = '';
    osi = m8.pso_obj_slider_images;
    osv = m8.pso_obj_slider_videos;
    ovi = m8.pso_obj_variant_images;
    mex = 0;
    api.src = "{{ 'api.jquery.js' | shopify_asset_url }}";
    $(document).on('mousemove',function() {
      fee = d.querySelectorAll('.card__image-wrapper img');
              if(fee.length == 0) {
                /* start Product Images Roll-over here */        
                if(opi.products.length>0){opi.products.splice(0, 1)};
                for(i=0;i<opi.products.length;i++) {
                    ciw = d.querySelector('[card-image-data-id="' + opi.products[i].id + '"]');         
                    if(r !== opi.products[i].id) {
                      r = opi.products[i].id;              
                      ciw.append(opi.products[i].img);
                      ciw.append(opi.products[i].noscript);
                    } else {
                      r = '';
                      ciw.append(opi.products[i].img);
                      ciw.append(opi.products[i].noscript);
                    }
                }
                    d.body.append(api);
                    d.body.append(fs);
                    d.body.append(fjs);
                    d.body.append(fcss);
                    d.body.append(klaviyo);
                    d.body.append(geolocation);
                    d.body.append(geolocationbar);
                    d.body.append(jGO);
                    d.body.append(sezzle);
                    d.body.append(spmicro);
                  /* Hotjar Tracking Code for www.lynnliana.com */
                (function(h,o,t,j,a,r){
                    h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                    h._hjSettings={hjid:2435695,hjsv:6};
                    a=o.getElementsByTagName('head')[0];
                    r=o.createElement('script');r.async=1;
                    r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                    a.appendChild(r);
                })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
              /*Hotjar end here */        
              }
    });
    $(document).on('scroll',function() {
      fee = d.querySelectorAll('.card__image-wrapper img');
              if(fee.length == 0) {
                /* start Product Images Roll-over here */        
                if(opi.products.length>0){opi.products.splice(0, 1)};
                for(i=0;i<opi.products.length;i++) {
                    ciw = d.querySelector('[card-image-data-id="' + opi.products[i].id + '"]');         
                    if(r !== opi.products[i].id) {
                      r = opi.products[i].id;              
                      ciw.append(opi.products[i].img);
                      ciw.append(opi.products[i].noscript);
                    } else {
                      r = '';
                      ciw.append(opi.products[i].img);
                      ciw.append(opi.products[i].noscript);
                    }
                }
                    d.body.append(api);
                    d.body.append(fs);
                    d.body.append(fjs);
                    d.body.append(fcss);
                    d.body.append(klaviyo);
                    d.body.append(geolocation);
                    d.body.append(geolocationbar);
                    d.body.append(jGO);
                    d.body.append(sezzle);
                    d.body.append(spmicro);
                  /* Hotjar Tracking Code for www.lynnliana.com */
                (function(h,o,t,j,a,r){
                    h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                    h._hjSettings={hjid:2435695,hjsv:6};
                    a=o.getElementsByTagName('head')[0];
                    r=o.createElement('script');r.async=1;
                    r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                    a.appendChild(r);
                })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
              /*Hotjar end here */        
              }
    });
    $(document).on('tap',function() {
      fee = d.querySelectorAll('.card__image-wrapper img');
              if(fee == 0) {
                /* start Product Images Roll-over here */         
                if(opi.products.length>0){opi.products.splice(0, 1)};
                for(i=0;i<opi.products.length;i++) {
                    ciw = d.querySelector('[card-image-data-id="' + opi.products[i].id + '"]');         
                    if(r !== opi.products[i].id) {
                      r = opi.products[i].id;              
                      ciw.append(opi.products[i].img);
                      ciw.append(opi.products[i].noscript);
                    } else {
                      r = "";
                      ciw.append(opi.products[i].img);
                      ciw.append(opi.products[i].noscript);
                    }
                }
            /* end Product images roll-over here */
                d.body.append(api);
                d.body.append(fs);
                d.body.append(fjs);
                d.body.append(fcss);
                d.body.append(klaviyo);
                d.body.append(geolocation);
                d.body.append(geolocationbar);
                d.body.append(jGO);
                d.body.append(sezzle);
                d.body.append(spmicro);
            /* Hotjar Tracking Code for www.lynnliana.com */
              (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:2435695,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
              })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
              /*Hotjar end here */       
        }
   });
})($,window,document);
   </script>   
   {% include 'custom-popups' %}  
 <script>
   var swiper = new Swiper('.swiper-container', {
      spaceBetween: 30,
      centeredSlides: true,
      loop: true,
      autoplay: {
        delay: Number(window.banner_delay),
        disableOnInteraction: false,
      }
    });
 </script>
    {% include 'revy-bundle-script' %}
  </body>
</html>
