<style>
  .content-for-layout {background-color: #fff;} 
  #shopify-section-{{section.id}} .about-image-with-text .img {width: 100%; padding-top: 90%; background-size: cover; background-repeat: no-repeat; background-position: center;}
  #shopify-section-{{section.id}} .about-image-with-text .image-container {margin-bottom: 2em;}
  #shopify-section-{{section.id}} .about-image-with-text .text {color: #515151; margin-bottom: 2em; line-height: 1.4em;}
  #shopify-section-{{section.id}} .about-image-with-text .image-header {position: absolute; top: 0; width: 100%; padding-top: 66.25%; background: url({{ 'TWG.jpg' | file_url }})}
</style>

<section class="about-image-with-text">
  {% for block in section.blocks %}
    <div class="image-container image-container-{{forloop.index}}">
      {% if block.settings.image != nil %}
        <div class="img lazyload" data-bgset="{% include 'bgset', image: block.settings.image %}"></div>
      {% endif %}
    </div>
  	<div class="text text-{{forloop.index}}">
      {% if block.settings.text != '' %}
        {{block.settings.text}}
      {% endif %}
    </div>
  {% endfor %}
</section>

{% schema %}
  {
    "name": "About Us",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_header",
        "label": "Image Header"
      }
	],
	"blocks": [
      {
        "type": "image_text",
        "name": "Image with text",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
			"default": "<p>About Us</p>"
          }
		]
      }
	]
  }
{% endschema %}
