<div class="cart page-width{% if cart.items.size == 0%} cart--empty{% endif %}" data-section-id="{{ section.id }}" data-section-type="cart-template" data-cart-token="{{ cart.id }}">

  {% comment %}
  Cart no cookies state
  {% endcomment %}
  <div class="cart__no-cookies">
    <div class="cart-message text-center">
      <p>{{ 'cart.general.cookies_required' | t }}</p>
    </div>
  </div>

  {% comment %}
  Cart Empty State
  {% endcomment %}
  <div class="cart__empty">
    <div class="cart-message text-center">
      <p>{{ 'cart.general.empty' | t }}</p>
      <p><a href="{{ routes.all_products_collection_url }}" class="btn btn--primary">{{ 'cart.general.continue_browsing' | t }}</a></p>
    </div>
  </div>

  <form action="{{ routes.cart_url }}" method="post" novalidate class="cart__form">
    <table class="cart__table">
      <thead class="cart__table-header border-bottom">
        <th class="text-left" colspan="2">{{ 'cart.label.product' | t }}</th>
        <th class="text-right">{{ 'cart.label.price' | t }}</th>
        <th class="text-center">{{ 'cart.label.quantity' | t }}</th>
        <th class="text-right">{{ 'cart.label.total' | t }}</th>
      </thead>

      <tbody data-cart-item-list>

        {% comment %}
        If the cart has no items, then include a item element with a template class
        so that it is hidden but still available for use client-side by ajax-cart.js
        {% endcomment %}

        {%- assign cartItems = 'template ' | split: ' ' -%}
        {% if cart.items.size > 0 %}
          {%- assign cartItems = cart.items -%}
        {% endif %}

        {% for item in cartItems %}
       

       
          <tr style="{% render "product-personalizer-helper" ,item:item,pplr: "hide-pricing-item-row" %}" {% render "product-personalizer-helper" ,forloop:forloop,item:item,pplr: "cart-row-data" %}  class="cart-item{% if item == 'template' %} ajax-cart__template{% endif %}" data-cart-item data-cart-item-id="{{ item.key }}">
            <td class="cart-item__image-wrapper">
              {% assign itemImage = true %}
              {% if item.image == blank and item.product.featured_image == blank %}
                {% assign itemImage = false %}
              {% endif %}
              <a class="cart-item__image-link" href="{{ item.url | within: collections.all }}" style="background-image: {% if itemImage %}url('{% render 'product-personalizer' ,item:item,pplr: 'item-image', item_image_size:'medium' %}'){% else %}none{% endif %};" data-cart-item-background-image data-cart-item-href>
                <img class="cart-item__image lazyload {% unless itemImage %}hide{% endunless %}" src="{% render 'product-personalizer' ,item:item,pplr: 'item-image', item_image_size:'medium' %}" alt="{{ item.title | escape }}" data-cart-item-image>
              </a>
            </td>

            <td class="cart-item__meta small--text-left">
              <a class="cart-item__meta-title h4" href="{{ item.url }}" data-cart-item-href data-cart-item-title>{{ item.product.title }}</a>
              <p class="cart-item__meta-variant" data-cart-item-variant-title>
                {% unless item.product.has_only_default_variant %}
                  {% unless item.variant.title == 'Default Title' %}
                    {{ item.variant.title }}
                  {% endunless %}
                {% endunless %}
              </p>

              {% comment %}
              Optional, loop through custom product line items if available

              Line item properties come in as having two parts. The first part will be passed with the default form,
              but p.last is the actual custom property and may be blank. If it is, don't show it.

              For more info on line item properties, visit:
              - https://help.shopify.com/themes/customization/products/features/get-customization-information-for-products

              If the item has no properties, then include a property element with a template class
              so that it is hidden but still available for use client-side by ajax-cart.js
              {% endcomment %}

              {%- assign itemProperties = 'template ' | split: ' ' -%}
              {%- assign property_size = item.properties | size -%}

              {% if property_size > 0 %}
                {%- assign itemProperties = item.properties -%}
              {% endif %}

              {% comment %}<ul class="cart-item__properties" data-cart-item-property-list>
                {% for p in itemProperties %}
                  {% assign first_character_in_key = p.first | truncate: 1, '' %}
                  {% unless p.last == blank or first_character_in_key == '_' %}
                    <li class="cart-item__property{% if p == 'template' %} ajax-cart__template{% endif %}{% if p.last == blank %} visually-hidden{% endif %}" data-cart-item-property>
                      {{ p.first }}:

                      {% comment %}
                      Check if there was an uploaded file associated
                      {% endcomment %}
                      {% if p.last contains '/uploads/' %}
                        <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                      {% else %}
                        {{ p.last }}
                      {% endif %}
                    </li>
                  {% endunless %}
                {% endfor %}
              </ul>{% endcomment %}{% render "product-personalizer-helper" ,item:item %}

              <div class="medium-up--hide">

                <div data-cart-item-price-container>
                  {%- if item.original_price != item.final_price -%}
                    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                    <del class="cart-item__original-price">{% render 'product-personalizer-helper' ,item:item,pplr: 'item-price', items: cart.items %}</del>
                    <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
                    <span class="order-discount cart-item__price">{% render 'product-personalizer-helper' ,item:item,pplr: 'item-price', items: cart.items %}</span>
                  {%- else -%}
                    <span class="cart-item__original-price cart-item__price">{% render 'product-personalizer-helper' ,item:item,pplr: 'item-price', items: cart.items %}</span>
                  {%- endif -%}
                  {%- if item.variant.available and item.unit_price_measurement -%}
                    {% include 'product-unit-price', variant: item, available: item.variant.available %}
                  {%- endif -%}
                </div>

                {% comment %}
                If the item has no discounts, then include a discount element with a template class
                so that it is hidden but still available for use client-side by ajax-cart.js
                {% endcomment %}

                {%- assign itemDiscounts = 'template ' | split: ' ' -%}
                {% if item.line_level_discount_allocations != blank %}
                  {%- assign itemDiscounts = item.line_level_discount_allocations -%}
                {% endif %}

                <ul class="order-discount order-discount--list order-discount--title order-discount--cart medium-up--hide" aria-label="{{ 'customer.order.discount' | t }}" data-cart-item-discount-list>
                  {%- for discount_allocation in itemDiscounts -%}
                    <li class="order-discount__item{% if discount_allocation == 'template' %} ajax-cart__template{% endif %}" data-cart-item-discount>
                      {%- include 'icon-saletag' -%}<span data-cart-item-discount-title>{{ discount_allocation.discount_application.title }}</span> (-<span data-cart-item-discount-amount>{{ discount_allocation.amount | money }}</span>)
                    </li>
                  {%- endfor -%}
                </ul>
              </div>

              <p class="small--hide">
                <a href="{% render 'product-personalizer-helper' ,item:item,pplr: 'remove-from-cart-href' ,forloop:forloop %}" class="btn-link cart-item__remove {% render 'product-personalizer-helper' ,item:item,pplr: 'remove-from-cart-class' %} " data-cart-item-delete>{{ 'cart.general.remove' | t }}</a>
              </p>

              <p class="cart-item__message" data-item-message></p>
            </td>

            <td class="cart-item__price-wrapper small--hide text-right">
              <div data-cart-item-price-container>
                {%- if item.original_price != item.final_price -%}
                  <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                  <del class="cart-item__original-price">{% render 'product-personalizer-helper' ,item:item,pplr: 'item-price', items: cart.items %}</del>
                  <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
                  <span class="order-discount cart-item__price">{% render 'product-personalizer-helper' ,item:item,pplr: 'item-price', items: cart.items %}</span>
                {%- else -%}
                  <span class="cart-item__original-price cart-item__price">{% render 'product-personalizer-helper' ,item:item,pplr: 'item-price', items: cart.items %}</span>
                {%- endif -%}
                {%- if item.variant.available and item.unit_price_measurement -%}
                  {% include 'product-unit-price', variant: item, available: item.variant.available %}
                {%- endif -%}
              </div>

                <ul class="order-discount order-discount--list order-discount--title order-discount--cart" aria-label="{{ 'customer.order.discount' | t }}" data-cart-item-discount-list>
                  {%- for discount_allocation in item.line_level_discount_allocations -%}
                    <li class="order-discount__item" data-cart-item-discount>
                      {%- include 'icon-saletag' -%}<span data-cart-item-discount-title>{{ discount_allocation.discount_application.title }}</span> (-<span data-cart-item-discount-amount>{{ discount_allocation.amount | money }}</span>)
                    </li>
                  {%- endfor -%}
                </ul>
            </td>

            <td class="cart-item__update-wrapper text-right">
              <a href="{% render 'product-personalizer-helper' ,item:item,pplr: 'remove-from-cart-href' ,forloop:forloop %}" class="btn-link cart-item__remove {% render 'product-personalizer-helper' ,item:item,pplr: 'remove-from-cart-class' %}  medium-up--hide" data-cart-item-delete>{{ 'cart.general.remove' | t }}</a>
              <div class="cart-item__qty">
                <label for="quantity_{{ item.key }}" class="cart-item__qty-label" data-cart-item-label-quantity>{{ 'cart.label.quantity' | t }}</label>
                <input id="quantity_{{ item.key }}" class="cart-item__qty-input" value="{{ item.quantity }}" type="number" pattern="\d*" min="1" name="updates[{{ item.key }}]" required data-cart-item-input-quantity>
              </div>
            </td>

            <td class="text-right small--hide">
              <div data-cart-item-line-price-container>
                {%- if item.original_line_price != item.final_line_price -%}
                  <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                  <del class="cart-item__original-price">{% render 'product-personalizer-helper' ,item:item,pplr: 'item-line-price', items: cart.items %}</del>
                  <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
                  <span class="order-discount cart-item__price">{% render 'product-personalizer-helper' ,item:item,pplr: 'item-line-price', items: cart.items %}</span>
                {%- else -%}
                  <span class="cart-item__original-price cart-item__price">{% render 'product-personalizer-helper' ,item:item,pplr: 'item-line-price', items: cart.items %}</span>
                {%- endif -%}
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <footer class="cart-footer">
      <div class="grid">
        {% if section.settings.cart_notes_enable %}
          <div class="grid__item medium-up--one-half cart-note">
            <label for="CartSpecialInstructions" class="cart-footer__note-label small--text-center">{{ 'cart.general.note' | t }}</label>
            <textarea name="note" id="CartSpecialInstructions" class="cart-footer__note-input" rows="4" data-cart-note>{{ cart.note }}</textarea>
          </div>
        {% endif %}

        <div class="grid__item text-right small--text-center{% if section.settings.cart_notes_enable %} medium-up--one-half{% endif %}">

          {% comment %}
          If the cart has no discount, then include a discount element with a template class
          so that it is hidden but still available for use client-side by ajax-cart.js
          {% endcomment %}

          {%- assign cartDiscounts = 'template ' | split: ' ' -%}
          {% if cart.cart_level_discount_applications.size > 0 %}
            {%- assign cartDiscounts = cart.cart_level_discount_applications -%}
          {% endif %}

          <div data-cart-discount-container>
            {%- for discount_application in cartDiscounts -%}
              <div class="order-discount-cart-wrapper{% if discount_application == 'template' %} ajax-cart__template{% endif %}" data-cart-discount>
                <span class="order-discount order-discount--title order-discount--cart-title">
                  {%- include 'icon-saletag' -%}<span class="visually-hidden">{{ 'customer.order.discount' | t }}:</span><span data-cart-discount-title>{{- discount_application.title -}}</span>
                </span>
                <span class="order-discount order-discount--cart-price">-<span data-cart-discount-amount>{{ discount_application.total_allocated_amount | money }}</span></span>
              </div>
            {%- endfor -%}
          </div>

          <div class="cart-subtotal">
            <span class="cart-subtotal__title h4">{{ 'cart.general.subtotal' | t }}</span>
            <span class="cart-subtotal__price" data-cart-subtotal>{{ cart.total_price | money }}</span>
          </div>

          {%- capture taxes_shipping_checkout -%}
            {%- if shop.taxes_included and shop.shipping_policy.body != blank -%}
              {{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
            {%- elsif shop.taxes_included -%}
              {{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
            {%- elsif shop.shipping_policy.body != blank -%}
              {{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
            {%- else -%}
              {{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
            {%- endif -%}
          {%- endcapture -%}

          <p class="cart-policies text-small rte">{{ taxes_shipping_checkout }}</p>
          <div class="btn-group">
            <input type="submit" name="update" class="btn btn--secondary supports-no-js supports-js--hide" value="{{ 'cart.general.update' | t }}">
            <button type="submit" name="checkout" class="btn btn--loader" data-cart-submit>
              {{ 'cart.general.checkout' | t }}
              <span class="btn--loader-balls"></span>
            </button>
          </div>
          <div class="cart-footer__message-container">
            <div class="cart-footer__message" data-cart-message></div>
          </div>
        </div>
      </div>
    </footer>
  </form>
</div>

{% schema %}
{
  "name": {
    "da": "Side med indkøbskurv",
    "de": "Warenkorb-Seite",
    "en": "Cart page",
    "es": "Página del carrito de compras",
    "fi": "Ostoskorisivu",
    "fr": "Page du panier",
    "hi": "कार्ट पेज",
    "it": "Pagina del carrello",
    "ja": "カートページ",
    "ko": "카트 페이지",
    "nb": "Handlekurvside",
    "nl": "Winkelwagenpagina",
    "pt-BR": "Página do carrinho",
    "pt-PT": "Página do carrinho",
    "sv": "Varukorgssida",
    "th": "หน้าตะกร้าสินค้า",
    "zh-CN": "购物车页面",
    "zh-TW": "購物車頁面"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "cart_notes_enable",
      "label": {
        "da": "Aktivér bemærkninger til indkøbskurv",
        "de": "Warenkorbanmerkungen erlauben",
        "en": "Enable cart notes",
        "es": "Habilitar notas del carrito de compra",
        "fi": "Ota tilauskommentit käyttöön",
        "fr": "Activer les notes de panier",
        "hi": "कार्ट नोट्स सक्षम करें",
        "it": "Abilita note carrello",
        "ja": "カートメモを有効にする",
        "ko": "카트 참고 사항 사용",
        "nb": "Aktiver handlekurvmerknader",
        "nl": "Opmerkingen voor winkelwagen inschakelen",
        "pt-BR": "Habilitar observações do carrinho",
        "pt-PT": "Ativar notas do carrinho",
        "sv": "Aktivera varukorgsmeddelanden",
        "th": "เปิดใช้งานหมายเหตุสำหรับตะกร้าสินค้า",
        "zh-CN": "启用购物车备注",
        "zh-TW": "啟用購物車備註"
      },
      "default": true
    }
  ]
}
{% endschema %}
{% render "product-personalizer-helper" ,item:item,pplr: "product-personalizer-script" %}