{% schema %}
  {
    "name": "Contact Image Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_header",
        "label": "Image Header"
      }
	]
  }
{% endschema %}
