<div class="custom-page-width custom-corporate-logo">
  <h2 class="custom-page-title">{{ section.settings.featured_title }}</h2>
<ul>
      {% for block in section.blocks %}
          <li>
            <img src="{{ block.settings.client_logo | img_url: '380x' }}" class="lazyload" data-animate />
          </li>
      {% endfor %}
</ul>
</div>
{% schema %}
{
  "name": "Featured Client`s Logo",
  "settings": [
    {
      "type": "header",
      "content": "Featured Client`s Logo"
    },
    {
      "type": "text",
      "id": "featured_title",
      "label": "Featured Title",
      "default": "CLIENT'S WE'VE WORKED WITH"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Add Client`s Logo",
      "settings": [   
              {
                "type": "image_picker",
                "id": "client_logo",
                "label": "Add client logo",
                "info": "Recommended size: 264x264 pixel"
              }
         ]
    }
  ]
}
{% endschema %}
