<style>
  @media(min-width: 1025px) {
  .custom-font-text-value {
    width: 318px;
    min-height: 118px;
    position: absolute;
    background: url("{{ section.settings.custom_order_image_preview1 | img_url: '580x380' }}") no-repeat;
    bottom: -60px;
    right: 42%;
    opacity: 1;
    transform: translate(-50%,-50%);
    line-height: 38px;
  }
  .custom-font-text-value2 {
    width: 318px;
    min-height: 118px;
    position: absolute;
    background: url("{{ section.settings.custom_order_image_preview2 | img_url: '580x380' }}") no-repeat;
    bottom: -60px;
    right: 42%;
    opacity: 1;
    transform: translate(-50%,-50%);
    line-height: 38px;
  }
  .custom-font-text-value-div {
    width: 318px;
    min-height: 118px;
    position: relative;
  }
  .custom-font-text-value-div::before {
    content: "{{ section.settings.engraving_preview }}";
    position: absolute;
    transform: translate(-50%,-50%);
    top: 8%;
    left: 8%;
    font-size: 13px;
    font-style: italic;
    color: #000;
    opacity: .4;
  }
  .custom-font-text-value2-div {
    width: 318px;
    min-height: 118px;
  }
  .custom-order-loading {
    width: 488px;
    min-height: 238px;
    position: absolute;
    background: url("{{ 'loading.gif' | asset_img_url: '580x380' }}") no-repeat;
    background-size: contain;
    background-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99999;
  }
}
  @media(max-width: 1024px) {
    .custom-font-text-value {
    width: 64%;
    height: 98px;
    position: absolute;
    background-image: url("{{ section.settings.custom_order_image_preview1 | img_url: '580x380' }}");
    background-repeat: no-repeat;
    opacity: 1;
    transform: translate(28%,-128%);
    line-height: 28px;
    }
    .custom-font-text-value2 {
    width: 64%;
    height: 98px;
    position: absolute;
    background-image: url("{{ section.settings.custom_order_image_preview2 | img_url: '580x380' }}");
    background-repeat: no-repeat;
    opacity: 1;
    transform: translate(28%,-128%);
    line-height: 28px;
    }
    .custom-font-text-value-div {
    width: 100%;
    text-align: center;
    margin-bottom: 18px;
    line-height: 18px;
    font-size: 38px;
    }
    .custom-font-text-value2-div {
    width: 100%;
    text-align: center;
    margin-bottom: 18px;
    line-height: 18px;
    font-size: 38px;
    }
    .custom-order-loading {
    width: 488px;
    min-height: 238px;
    position: absolute;
    background: url("{{ 'loading.gif' | asset_img_url: '580x380' }}") no-repeat;
    background-size: contain;
    background-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99999;
    }
  }
</style>
<script>
  (function(m8) {
   m8.yes_engraving_confirmation = "{{ section.settings.yes_engraving_confirmation }}";
   m8.no_engraving_confirmation = "{{ section.settings.no_engraving_confirmation }}";
  })(window);
</script>
{% assign product = all_products[section.settings.custom_product] %}
{% assign custom_words = all_products[section.settings.custom_words] %}
{% assign custom_order_total_regular_price = product.selected_or_first_available_variant.compare_at_price | plus: custom_words.selected_or_first_available_variant.compare_at_price %}
{% assign custom_order_total_discount_price = product.selected_or_first_available_variant.price | plus: custom_words.selected_or_first_available_variant.price %}
{% assign custom_order_total_saved_price =  custom_order_total_regular_price | minus: custom_order_total_discount_price %}
{% assign first_selected_variant_id = product.selected_or_first_available_variant.id %}
{% assign second_selected_variant_id = custom_words.selected_or_first_available_variant.id %}
{% for block in section.blocks %}
      {%if block.type == "option1" %}
      {% assign option1_label_cut = block.settings.option_label | remove: ' | ' | remove: ' ' %}
      {% assign product_option1_label = product_option1_label | append: option1_label_cut | append: "," %}
      {% assign option1_img_url = block.settings.option_image | img_url: '118x89' %}
      {% assign product_option1_image = product_option1_image | append: option1_img_url | append: "," %}
      {%endif %}
      {%if block.type == "option2" %}
      {% assign option2_label_cut = block.settings.option_label | remove: ' | ' | remove: ' ' %}
      {% assign product_option2_label = product_option2_label | append: option2_label_cut | append: "," %}
      {% assign option2_img_url = block.settings.option_image | img_url: '118x89' %}
      {% assign product_option2_image = product_option2_image | append: option2_img_url | append: "," %}
      {% assign product_option2_size_label_cut = block.settings.option_size_label %}
      {% assign product_option2_size_label = product_option2_size_label | append: product_option2_size_label_cut | append: "," %}
      {%endif %}
      {%if block.type == "option3" %}
      {% assign option3_label_cut = block.settings.option_label | remove: ' | ' | remove: ' ' %}
      {% assign product_option3_label = product_option3_label | append: option3_label_cut | append: "," %}
      {% assign option3_img_url = block.settings.option_image | img_url: '118x89' %}
      {% assign product_option3_image = product_option3_image | append: option3_img_url | append: "," %}
      {%endif %}
{% endfor %}
{% assign array_option1_label = product_option1_label | remove_last:  "," | split: "," %}
{% assign array_option1_image = product_option1_image | remove_last:  "," | split: "," %} 
{% assign array_option2_label = product_option2_label | remove_last:  "," | split: "," %}
{% assign array_option2_image = product_option2_image | remove_last:  "," | split: "," %}
{% assign array_option2_size_label = product_option2_size_label | remove_last:  "," | split: "," %}
{% assign array_option3_label = product_option3_label | remove_last:  "," | split: "," %}
{% assign array_option3_image = product_option3_image | remove_last:  "," | split: "," %}
<div class="custom-order-container">
  {% if section.settings.custom_order_loading %}
  <div class="custom-order-loading"></div>
  {% endif %}
      <div class="custom-order-whole-form">
        <div class="custom-order-form-w60">
          <img data-src="{{ product.selected_or_first_available_variant.featured_image | img_url: '1500x' }}"
          data-sizes="auto"
          data-widths="[310, 360, 480, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
          class="transition--appear lazyload"
          data-aspectratio="{{ product.featured_image.aspect_ratio }}"
          src="{{ product.selected_or_first_available_variant.featured_image | img_url: '1600x' }}" js-variant-featured-img/>
          <div class="d-none" js_custom_font_text_value>
            <p class="js-custom-first-word-render custom-option-font1"></p>
            <p class="js-custom-second-word-render custom-option-font1"></p>
            <p class="js-custom-third-word-render custom-option-font1"></p>
          </div>
        </div>
        <div class="custom-order-form-w40">   
          <div class="custom-order-product-form">
              <div class="custom-order-product-msg">{{ section.settings.custom_product_msg }}</div>
              <div class="d-flex custom-product-border-bottom" js-custom-order-sticky-header>
                <div class="col-8 custom-product-title">{{ product.title }}</div>
                <div class="col-4 custom-product-price" js-total-price>
                  <span class="custom-order-saved-badge">
                  {% if custom_order_total_saved_price>0 %}
                  <span class="custom_order_total_regular_price">{{ custom_order_total_regular_price | money }}</span>
                  {% endif %}
                  <span class="custom_order_total_discount_price">{{ custom_order_total_discount_price | money }}</span>    
                  </span>             
                  {% if custom_order_total_saved_price>0 %}
                  <span class="custom_order_total_saved_price" js-custom-top-product-label>SAVE {{ custom_order_total_saved_price | money }}</span>
                  {% endif %}
                  {% if section.settings.top_note_engraving != blank %}
                  <div class="custom_order_note_engraving">{{ section.settings.top_note_engraving }}</div>
                  {% endif %}
                  </div>
              </div>           
                  {% for product_option in product.options_with_values %}
                                {% assign option_selected_value = product_option.selected_value | remove: ' | ' | remove: ' ' %}                               
                               
                                {% if product_option.position == 1 %}
                                      {% for option1_value in array_option1_label %}
                                      {% assign option_title = option1_value | remove: ' | ' | remove: ' ' %}
                                            {% if option_selected_value == option_title %}   
                                                {% assign forindex = forloop.index | minus: 1 %}                      
                                                {% assign img_url = array_option1_image[forindex] %} 
                                            {% endif %}
                                      {% endfor %}
                                {% endif %}        
                                {% if product_option.position == 2 %}
                                      {% for option2_value in array_option2_label %}
                                      {% assign option_title = option2_value | remove: ' | ' | remove: ' ' %}
                                      {% if option_selected_value == option_title %}   
                                                {% assign forindex = forloop.index | minus: 1 %}                            
                                                {% assign img_url = array_option2_image[forindex] %}
                                                {% assign size_label = array_option2_size_label[forindex] %}
                                            {% endif %}
                                      {% endfor %}
                                {% endif %}              
                                {% if product_option.position == 3 %}
                                      {% for option3_value in array_option3_label %}
                                      {% assign option_title = option3_value | remove: ' | ' | remove: ' ' %}
                                      {% if option_selected_value == option_title %}   
                                                {% assign forindex = forloop.index | minus: 1 %}                          
                                                {% assign img_url = array_option3_image[forindex] %}  
                                            {% endif %}
                                      {% endfor %}
                                {% endif %}                              
                                <div class="{% if forloop.first %}active{% endif %} custom-product-option-div custom-product-border-bottom" id="custom-order-option-index-{{ forloop.index }}" data-index="{{ forloop.index }}">   
                                    <div class="customizer__header">
                                    <div class="col-8 text-left"><span class="custom-product-option-title">{{ product_option.name }}</span></div>  
                                    <div class="col-4 custom_option_selected" data-option="{{product_option.position}}" data-value="{{product_option.selected_value}}" data-imgurl="{{img_url}}">
                                      <img src="{{ img_url }}" js-custom-variant-selected> <span class="custom-product-option-variant">{{ product_option.selected_value }}</span>{% if product_option.position == 2 %}<span class="option2-size-label" js-product2-size-label>{{ size_label }}</span>{% endif %}</div>  
                                    </div> 
                            <ul class="{% unless forloop.first %}d-none{% endunless %} custom-product-option-{% if product_option.name contains 'wood' %}wood{% elsif product_option.name contains 'serveware' %}serveware{% elsif product_option.name contains 'color' %}color{% endif %}">
                                  {% for value in product_option.values %}      
                                  {% assign option_selected_value = value | remove: ' | ' | remove: ' ' %}                                 
                                  {% if product_option.position == 1 %}                                  
                                        {% for option1_value in array_option1_label %}
                                        {% assign option_title = option1_value | remove: ' | ' | remove: ' ' %}
                                        {% if option_selected_value == option_title %}          
                                                {% assign forindex = forloop.index | minus: 1 %}                   
                                                  {% assign img_url = array_option1_image[forindex] %} 
                                              {% endif %}
                                        {% endfor %}
                                  {% endif %}        
                                  {% if product_option.position == 2 %}                                   
                                        {% for option2_value in array_option2_label %}
                                              {% assign option_title = option2_value | remove: ' | ' | remove: ' ' %}
                                              {% if option_selected_value == option_title %}   
                                              {% assign forindex = forloop.index | minus: 1 %}                         
                                              {% assign img_url = array_option2_image[forindex] %}
                                              {% assign size_label = array_option2_size_label[forindex] %}
                                              {% endif %}
                                        {% endfor %}
                                  {% endif %}              
                                  {% if product_option.position == 3 %}                                 
                                  {% for option3_value in array_option3_label %}
                                              {% assign option_title = option3_value | remove: ' | ' | remove: ' ' %}
                                              {% if option_selected_value == option_title %}   
                                              {% assign forindex = forloop.index | minus: 1 %}                        
                                              {% assign img_url = array_option3_image[forindex] %}  
                                        {% endif %}
                                  {% endfor %}
                                  {% endif %}                                              
                                  <li class="js-variant-value" data-option="{{product_option.position}}" data-value="{{value}}" data-imgurl="{{img_url}}" data-size-label="{{size_label}}">
                                  <div class="variant-status-props d-none"><p>{{ 'products.product.sold_out' | t }}</p></div>
                                  <img src="{{ img_url }}"> <span class="option2-value-text">{{ value }}</span>{% if product_option.position == 2 %}<span class="option2-size-label">{{ size_label }}</span>{% endif %}
                                  </li>
                                {% endfor %}
                            </ul>
                  </div>
                  {% endfor %}
                  <div class="custom-product-option-div custom-product-border-bottom" data-value="Acacia" data-current-div="custom-order-input" js-preview-input id="custom-order-option-index-4" data-index="4">                       
                    <div class="d-flex">
                        <div class="col-8 text-left">
                          <p class="custom-product-option-title">{{ section.settings.custom_choose_words }}</p>   
                          {% if section.settings.engraving_note_words != blank %}
                          <p class="note-engraving-position">{{ section.settings.engraving_note_words }}</p>
                          {% endif %}                       
                        </div>  
                          <div class="col-4 custom-product-option-words">
                                <p class="words_engrave_example">                                
                                <label class="checkcontainer"><span class="custom_words_variant_mr">{{ custom_words.selected_or_first_available_variant.title }}</span><span class="font-family-time-new-roman">{{ custom_words.selected_or_first_available_variant.price | money }}</span>
                                  <input type="checkbox" checked="checked" name="checkbox" value="check" id="words_option" class="customizer__words-input" checked data-variant-id="{{ second_selected_variant_id }}" data-variant-price="{{ custom_words.price }}" data-variant-compare-price="{{ custom_words.compare_at_price }}" data-variant-available="{{ custom_words.available }}">
                                  <span class="checkmark"></span>
                                </label>
                              </p>
                               {% if section.settings.no_engraving_confirmation != blank %}
                               <p class="no-engraving-services">{{ section.settings.yes_engraving_confirmation }}</p>
                               {% endif %} 
                          </div>                      
                    </div>                    
                    <div class="custom-product-option-word d-none">    
                      {% for variant in custom_words.variants %}                    
                      <div class="custom-product-option-word-choice {% if forloop.first %}active{% endif %}" data-variant-id="{{ variant.id }}" data-variant-price="{{ variant.price }}" data-variant-compare-price="{{ variant.compare_at_price }}" data-variant-available="{{ variant.available }}"><span class="custom_order_variant_font_title">{{ variant.title }}</span><span class="custom_order_regular_price">{{ variant.compare_at_price | money }}</span><span class="custom_order_discounted_price">{{ variant.price | money }}</span><span class="custom_order_saved_price">SAVE {{ variant.compare_at_price | minus: variant.price | money }}</span></div>            
                      {% endfor %}
                    </div>                     
                    <div class="custom-product-option-word-input d-none">
                      <div class="custom-product-option-word-input-choice custom-product-one-input"><input type="text" placeholder="First Word" class="js-custom-first-word"></div>  
                      <div class="custom-product-option-word-input-choice d-none"><input type="text" placeholder="Second Word"  class="js-custom-second-word"></div>           
                      <div class="custom-product-option-word-input-choice d-none"><input type="text" placeholder="Third Word"  class="js-custom-third-word"></div>                      
                    </div> 
                   </div>
                   <div class="custom-product-option-div custom-product-border-bottom" data-current-div="custom-order-input" id="custom-order-option-index-5" data-index="5">   
                    <div class="d-flex custom-mobile-d-flex">
                    <div class="col-6 text-left custom-product-option-input-mobile">
                      <span class="custom-product-option-title">{{ section.settings.custom_choose_fonts }}</span>
                      <div class="custom-select-wrapper">
                        <div class="custom-select">
                            <div class="custom-select__trigger"><span class="custom-option-font1">Poor Richard</span>
                                <div class="arrow"></div>
                            </div>
                            <div class="custom-options">
                                <span class="custom-option selected custom-option-font1" data-value="font1">Poor Richard</span>
                                <span class="custom-option custom-option-font2" data-value="font2">Century Gothic</span>
                                <span class="custom-option custom-option-font3" data-value="font3">Autography</span>
                            </div>
                        </div>
                    </div>       
                    </div>  
                    <div class="col-6 custom-product-option-fonts d-flex custom-option-font1 custom-product-option-input-mobile">
                      <span class="d-none custom-product-option-fonts-selected">Poor Richard</span>
                      <div class="custom-font-text-value-div" js_custom_font_text_value_div>                        
                        <p class="js-custom-first-word-render-div"></p>
                        <p class="js-custom-second-word-render-div"></p>
                        <p class="js-custom-third-word-render-div"></p>
                      </div>
                    </div>                      
                    </div> 
                               
              </div>
              <div class="custom-order-price-label">
                <label class="custom-regular-price-label"><span>Price:</span></label>
                <label class="custom-discount-label"><span>Discount:</span></label>              
              </div>
              <div class="custom-order-price">                
                <label class="custom-regular-price"><span class="custom-order-text-left">Total Price</span><span js-bottom-total-price class="custom-order-text-right">{{ custom_order_total_discount_price | money }}</span></label>
                <label class="custom-discount">{% if custom_order_total_saved_price>0 %}<span class="custom_label_regular_price">Regular Price: </span><span class="custom_order_bottom_total_regular_price">{{ custom_order_total_regular_price | money }}</span>{% endif %}<span class="custom_label_sale_price">Sale Price: </span><span class="custom_order_bottom_total_discount_price">{{ custom_order_total_discount_price | money }}</span>{% if custom_order_total_saved_price>0 %}<span class="custom_order_bottom_total_saved_price" js-custom-bottom-product-label>Save {{ custom_order_total_saved_price | money }}</span>{% endif %}</label>
              </div>
              <div class="customizer__disclaimer">
                <label class="checkcontainer customizer__disclaimer-label">{{ section.settings.custom_disclaimer_text | remove: "<p>" | remove: "</p>" }}
                  <input type="checkbox" name="checkbox" value="check" id="agree" class="customizer__disclaimer-input">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="custom-order-review">
                <button class="custom-order-review-button custom-order-add-to-cart disabled" js-custom-order-add-to-cart><span class="custom-order-button-text">{{ section.settings.custom_order_add_to_cart }}</span></button>
              </div>
            </div>       
        </div>
      </div>
</div>
<div js-current-current data-currency="{{ '000' | money }}"></div>
<div js-first-product-variant-id data-variant-id="{{ first_selected_variant_id }}" data-variant-price="{{ product.price }}" data-variant-compare-price="{{ product.compare_at_price }}" data-variant-available="{{ product.available }}"></div>
<div js-second-product-variant-id data-variant-id="{{ second_selected_variant_id }}" data-variant-price="{{ custom_words.price }}" data-variant-compare-price="{{ custom_words.compare_at_price }}" data-variant-available="{{ custom_words.available }}"></div>
<div class="d-none" json-data-product>{{ product | json }}</div>
{% if section.settings.custom_order_loading %}
  <script>
  (function(m8,d) {
    m8.addEventListener('load', function () {
        loading = d.querySelector(".custom-order-loading");
        loading.classList.add("d-none");
        console.log("%cThis app was created from scratch by Make8 Digital Philippines and added manually for this store (Free of life-time subscription). Feel free to contact us at info@make8.digital","color: blue; font-family: sans-serif; font-size: 18px; font-weight: bolder; text-shadow: #000 1px 1px;");     
        m8.repopulate_selected_options();
    });
  })(window,document);
  </script>
  {% endif %}
  <script>
document.addEventListener('DOMContentLoaded', function() {
       if(window.location.href.includes('custom-order')) {
        window.theme.cart._promiseChange({
            url: "/cart.json",
            dataType: "json",
            success: function(data) {
                if(data.item_count>0) {
                    window.theme.sections.instances[0]._openCartDrawer(new Event('click'));  
                    return true;
                } else {
                    return true;
                }
            }
        });        
       };
    });
  </script>
{% schema %}
  {
    "name": "Custom Order",
    "settings": [
     {
       "type": "header",
       "content": "Custom Order Settings"
     },
     {
        "type": "text",
        "id": "product_title",
        "label": "Product Title",
        "default": "Custom Design your Serveware"    
     },   
     {
      "type": "text",
      "id": "custom_product_msg",
      "label": "Custom Product Message",
      "default": "Custom order may take up to 21 business days to ship."
      },
      {
        "type": "header",
        "content": "First Product Variants Settings"
      },  
      {
        "type": "product",
        "id": "custom_product",
        "label": "Select Product for Custom Design Serveware"
      },
      {
        "type": "header",
        "content": "Second Product Variants Settings"
      },  
      {
        "type": "image_picker",
        "id": "custom_order_image_preview1",
        "label": "Background image for input text preview (Acacia)",
        "info": "Recommended size: 580x380"
      },
      {
        "type": "image_picker",
        "id": "custom_order_image_preview2",
        "label": "Background image for input text preview (Maple)",
        "info": "Recommended size: 580x380"
      },
      {
        "type": "product",
        "id": "custom_words",
        "label": "Select Product for Custom Words"
      },
      {
        "type": "text",
        "id": "custom_choose_words",
        "label": "Custom Word choose title",
        "default": "Choose how many words"
      },
      {
        "type": "text",
        "id": "custom_choose_fonts",
        "label": "Custom Font Family choose title",
        "default": "Choose your font"
      },
      {
        "type": "header",
        "content": "Add to Cart Settings"
      },  
      {
        "type": "richtext",
        "id": "custom_disclaimer_text",
        "label": "Custom Disclaimer text",
        "default": "<p>I acknowledge that custom serveware are not returnable or exchangeable and additional time is required for production.</p>"
      },     
      {
        "type": "text",
        "id": "custom_order_add_to_cart",
        "label": "Add to cart button caption",
        "default": "Add to Bag"
      },
      {
        "type": "header",
        "content": "Startup Settings"
      },
      {
        "type": "text",
        "id": "top_note_engraving",
        "label": "Top note engraving fee",
        "info": "Leave empty to hide"
      },
      {
        "type": "text",
        "id": "engraving_note_words",
        "label": "Engraving note choose words",
        "info": "Leave empty to hide"
      },
      {
        "type": "text",
        "id": "no_engraving_confirmation",
        "label": "Confirmed: No added engraving services",
        "info": "Leave empty to hide"
      },
      {
        "type": "text",
        "id": "yes_engraving_confirmation",
        "label": "Confirmed: Yes added engraving services",
        "info": "Leave empty to hide"
      },
      {
        "type": "text",
        "id": "engraving_preview",
        "label": "Engraving Preview Label",
        "info": "Leave empty to hide"
      },      
      {
        "type": "checkbox",
        "id": "custom_order_loading",
        "label": "enable loading progress during page startup",
        "default": true
      },
      {
        "type": "header",
        "content": "Variants Options Value Setup",
        "info": "Adding options value selection like Acacia for wood, Rose Gold for color, and Small for serveware should be matched with the same word from your actual product variants options name value."
      }      
	],
  "blocks": [
            {
              "type": "option1",
              "name": "Option 1 Value",
              "settings": [
                      {
                        "type": "header",
                        "content": "Option 1: Choose your wood"
                      },
                      {
                        "type": "text",
                        "id": "option_label",
                        "label": "Option Value",
                        "info": "Option value should be matched from your actual product options values."
                      },
                      {
                        "type": "image_picker",
                        "id": "option_image",
                        "label": "Option Image",
                        "info": "Option Image recommended size: 118x89"
                      }
                  ]
            },
            {
              "type": "option2",
              "name": "Option 2 Value",
              "settings": [
                      {
                        "type": "header",
                        "content": "Option 2: Choose your serveware"
                      },
                      {
                        "type": "text",
                        "id": "option_label",
                        "label": "Option Value",
                        "info": "Option value should be matched from your actual product options values."
                      },
                      {
                        "type": "image_picker",
                        "id": "option_image",
                        "label": "Option Image",
                        "info": "Option Image recommended size: 118x89"
                      },
                      {
                        "type": "text",
                        "id": "option_size_label",
                        "label": "Option size label",
                        "info": "Option Size Label (dimension)"
                      }
                  ]
            },
            {
              "type": "option3",
              "name": "Option 3 Value",
              "settings": [
                      {
                        "type": "header",
                        "content": "Option 3: Choose your color"
                      },
                      {
                        "type": "text",
                        "id": "option_label",
                        "label": "Option Value",
                        "info": "Option value should be matched from your actual product options values."
                      },
                      {
                        "type": "image_picker",
                        "id": "option_image",
                        "label": "Option Image",
                        "info": "Option Image recommended size: 118x89"
                      }
                  ]
            }

  ]
  }
{% endschema %}
