<div class="page-width">
   <img class="frontpage-custom-logo" src="{{ section.settings.custom_logo | img_url: '980x175' }}">
</div>
{% schema %}
{
  "name": "Custom Logo",
  "settings": [
    {
      "type": "image_picker",
      "id": "custom_logo",
      "label": "Custom Logo",
      "info": "Recommended size: 980x175 pixel"
    }
  ],
  "presets": [
    {
      "name": "Custom Logo",
      "category": "Custom Frontpage"
    }
  ]
}
{% endschema %}