<div id="custom-code">

    {{ section.settings.html-area}}

  </div>

{% schema %}
{
  "name": "Custom Code",
  "settings": [
    {
      "id": "html-area",
      "type": "html",
      "label": "Code",
      "default": "Code"
    }
  ],
  "presets": [
    {
      "name": "Custom Code",
      "category": "Code"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}