<style>
  #featured-slider-{{ section.id }} .featured-slider__slides-container {
    background-color: {{ section.blocks[0].settings.background_color }}
  }

  #featured-slider-{{ section.id }} .featured-slider__close-icon .icon {
    fill: {{ section.settings.text_color }};
  }

  #featured-slider-{{ section.id }} .pinch-indicator {
    background-color: {{ section.settings.text_color }};
  }

  {% if section.settings.show_overlay %}
    #featured-slider-{{ section.id }} .featured-slider__cover-title {
      color: {{ section.settings.overlay_text }};
      border-color: {{ section.settings.overlay_text }};
    }

    #featured-slider-{{ section.id }} .pinch-indicator {
      background-color: {{ section.settings.overlay_text }};
    }

    #featured-slider-{{ section.id }} .featured-slider__cover-background:after {
      background-color: {{ section.settings.overlay_color }};
      opacity: {{ section.settings.overlay_opacity }};
    }
  {% endif %}
</style>

<div id="featured-slider-{{ section.id }}" class="featured-slider" data-section-id="{{ section.id }}" data-section-type="featured-slider">
  <div class="featured-slider__cover">
    <div class="featured-slider__cover-background featured-slider__cover-background--top reveal-slider__cover-background--top side-scroller__cover-background">
      {% if section.settings.cover_image == blank %}
        {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
      {% else %}
        <div class="featured-slider__cover-background-image lazyload" data-bgset="{% include 'bgset', image: section.settings.cover_image %}"></div>
        <noscript>
          <div class="featured-slider__cover-background-image lazyload" style="background-image: {{ section.settings.cover_image | img_url: 'master' }}"></div>
        </noscript>
      {% endif %}
    </div>
    <div class="featured-slider__cover-background featured-slider__cover-background--bottom reveal-slider__cover-background--bottom">
      {% if section.settings.cover_image == blank %}
        {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
      {% else %}
        <div class="featured-slider__cover-background-image lazyload" data-bgset="{% include 'bgset', image: section.settings.cover_image %}"></div>
        <noscript>
          <div class="featured-slider__cover-background-image lazyload" style="background-image: {{ section.settings.cover_image | img_url: 'master' }}"></div>
        </noscript>
      {% endif %}
    </div>

    <div class="featured-slider__cover-content reveal-slider__cover-content side-scroller__cover-content{% if section.settings.cover_title_desktop_position == 'left' %} featured-slider__cover-content--left{% endif %}">
      <h2 class="featured-slider__cover-title h3"{% if section.settings.show_overlay %} style="color: {{ section.settings.overlay_text }}; border-color: {{ section.settings.overlay_text }};"{% endif %} data-animate>{{ section.settings.cover_title }}</h2>
      {% if section.settings.button != '' %}
        <a href="{{ section.settings.button_url }}" class="btn">{{ section.settings.button_text }}</a>
      {% endif %}
      <div class="pinch-indicators">
        <div class="pinch-indicator pinch-indicator--top"></div>
        <div class="pinch-indicator pinch-indicator--bottom"></div>
      </div>
    </div>
  </div>

  <div class="featured-slider__slides-container side-scroller__slides-container slider" tabindex="-1">

    <button class="btn btn--clear featured-slider__close reveal-slider__close">
      <span class="featured-slider__close-icon">{% include 'icon-close' %}</span>
      <span class="featured-slider__close-circle" style="border-color: {{ section.settings.text_color }}"></span>
    </button>

    <div class="featured-slider__slide-list">
      {% for block in section.blocks %}
        <div class="featured-slider__slide side-scroller__slide slider__slide{% if forloop.first %} slider__slide--active {% endif %}"  {{ block.shopify_attributes }}>
          <div class="featured-slider__slide-content">
            {% if block.settings.show_image %}
              {% if block.settings.slide_image %}
                <div class="featured-slider__slide-image-container" style="padding-top: 100vh;">
                  {% assign img_url = block.settings.slide_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                  <img class="featured-slider__slide-image lazyload"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                    data-aspectratio="{{ block.settings.slide_image.aspect_ratio }}"
                    data-sizes="auto"
                    data-parent-fit="cover"
                    alt="{{ block.settings.slide_image.alt | escape }}">
                </div>
              {% else %}
                {% capture placeholder_class %}placeholder-svg placeholder-svg-{{ forloop.index }} featured-slider__slide-image{% endcapture %}
                {{ 'product-' | append: forloop.index | placeholder_svg_tag: placeholder_class }}
              {% endif %}
            {% endif %}
            {% if block.settings.slide_title != blank %}
              <h3 class="featured-slider__slide-title h6" style="color: {{ block.settings.slide_title_color }}">{{ block.settings.slide_title }}</h3>
            {% endif %}

            {% if block.settings.slide_button_text != blank %}
              <a class="btn featured-slider__slide-link{% if section.settings.use_second_button %} btn--secondary{% endif %}" href="{{ block.settings.slide_button_url }}">{{ block.settings.slide_button_text }}</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    
<!--      <div class="featured-slider__slide-list">
      {% for block in section.blocks %}
        <div class="featured-slider__slide side-scroller__slide slider__slide{% if forloop.first %} slider__slide--active {% endif %}" data-background-color="{{ block.settings.background_color }}" {{ block.shopify_attributes }}>
          <div class="featured-slider__slide-content">
            {% if block.settings.show_image %}
              {% if block.settings.slide_image %}
                <div class="featured-slider__slide-image-container" style="padding-top: {{ 1 | divided_by: block.settings.slide_image.aspect_ratio | times: 100}}%">
                  {% assign img_url = block.settings.slide_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                  <img class="featured-slider__slide-image lazyload"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                    data-aspectratio="{{ block.settings.slide_image.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ block.settings.slide_image.alt | escape }}">
                </div>
              {% else %}
                {% capture placeholder_class %}placeholder-svg placeholder-svg-{{ forloop.index }} featured-slider__slide-image{% endcapture %}
                {{ 'product-' | append: forloop.index | placeholder_svg_tag: placeholder_class }}
              {% endif %}
            {% endif %}
            {% if block.settings.slide_title != blank %}
              <h3 class="featured-slider__slide-title h6" style="color: {{ section.settings.text_color }}">{{ block.settings.slide_title }}</h3>
            {% endif %}

            {% if block.settings.slide_button_text != blank %}
              <a class="btn featured-slider__slide-link{% if section.settings.use_second_button %} btn--secondary{% endif %}" href="{{ block.settings.slide_button_url }}">{{ block.settings.slide_button_text }}</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div> -->

    <div class="reveal-slider__nav">
      {% for block in section.blocks %}
        <button class="reveal-slider__nav-button{% if forloop.first %} active{% endif %}" style="background-color: {{ section.settings.text_color }}">
          <span class="visually-hidden">{{ 'sections.slider.slide' | t: number: forloop.index }}</span>
        </button>
      {% endfor %}
    </div>

    <div class="reveal-slider__previous">
      <button class="reveal-slider__previous-button">
        <span class="visually-hidden">{{ 'sections.slider.previous_slide' | t }}</span>
      </button>
    </div>

    <div class="reveal-slider__next">
      <button class="reveal-slider__next-button">
        <span class="visually-hidden">{{ 'sections.slider.next_slide' | t }}</span>
      </button>
    </div>

  </div>
</div>

{% schema %}
{
  "name": {
    "da": "Udvalgt diasshow",
    "de": "Dargestellter Slider",
    "en": "Featured slider",
    "es": "Diapositivas destacadas",
    "fi": "Esittelyssä-diaesitys",
    "fr": "Curseur intégré",
    "hi": "विशेष रुप से प्रदर्शित स्लाइडर",
    "it": "Comando in evidenza",
    "ja": "特集スライダー",
    "ko": "추천 슬라이더",
    "nb": "Utvalgt lysbilde",
    "nl": "Aanbevolen schuifregelaar",
    "pt-BR": "Controle para destaques",
    "pt-PT": "Controlo deslizante de destaques",
    "sv": "Utvalda slider",
    "th": "สไลด์โชว์แนะนำ",
    "zh-CN": "特色幻灯片",
    "zh-TW": "精選商品投影播放器"
  },
  "class": "index-section index-section--featured-sider",
  "settings": [
    {
      "type": "checkbox",
      "id": "use_second_button",
      "label": {
        "da": "Brug sekundær knaptypografi",
        "de": "Stil für sekundäre Schaltflächen verwenden",
        "en": "Use secondary button style",
        "es": "Utiliza el estilo de botón secundario",
        "fi": "Käytä toissijaista painikkeen tyyliä",
        "fr": "Utiliser le style de bouton secondaire",
        "hi": "द्वितीयक बटन स्टाइल का उपयोग करें",
        "it": "Usa stile pulsante secondario",
        "ja": "サブボタンのスタイルを使用する",
        "ko": "보조 버튼 스타일 사용",
        "nb": "Bruk sekundær knappestil",
        "nl": "Secundaire knopstijl gebruiken",
        "pt-BR": "Usar o estilo de botão secundário",
        "pt-PT": "Utilizar estilo de botão secundário",
        "sv": "Använd sekundärknappsstil",
        "th": "ใช้รูปแบบปุ่มรอง",
        "zh-CN": "使用辅助按钮样式",
        "zh-TW": "使用次要按鈕樣式"
      },
      "default": false
    },
    {
      "type": "color",
      "id": "text_color",
      "label": {
        "da": "Farve på diasoverskrift",
        "de": "Überschriftenfarbe schieben",
        "en": "Slide heading color",
        "es": "Color del título de la diapositiva",
        "fi": "Dian otsikon väri",
        "fr": "Couleur du titre de diapositive",
        "hi": "स्लाइड शीर्षक का रंग",
        "it": "Colore titolo slide",
        "ja": "スライドの見出しの色",
        "ko": "슬라이드 제목 색상",
        "nb": "Farge på overskrift for lysbilde",
        "nl": "Kopkleur van dia",
        "pt-BR": "Cor do título do slide",
        "pt-PT": "Cor do título do diapositivo",
        "sv": "Skjut rubrikfärg",
        "th": "สีหัวเรื่องของสไลด์",
        "zh-CN": "幻灯片标题颜色",
        "zh-TW": "滑動標題顏色"
      },
      "default": "#242424"
    },
    {
      "type": "header",
      "content": {
        "da": "Cover-indstillinger",
        "de": "Cover-Einstellungen",
        "en": "Cover settings",
        "es": "Configuración de imagen de portada",
        "fi": "Kannen asetukset",
        "fr": "Paramètres de couverture",
        "hi": "कवर सेटिंग्स",
        "it": "Impostazioni copertina",
        "ja": "カバー画像設定",
        "ko": "커버 설정",
        "nb": "Innstillinger for forside",
        "nl": "Coverinstellingen",
        "pt-BR": "Configurações de capa",
        "pt-PT": "Definições de capa",
        "sv": "Omslagsinställningar",
        "th": "การตั้งค่าหน้าปก",
        "zh-CN": "封面设置",
        "zh-TW": "封面設定"
      }
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    },
    {
      "type": "text",
      "id": "cover_title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "Titre",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Fremhæver nogle af produktoplysningerne",
        "de": "Präsentieren Sie einige Produktinformationen",
        "en": "Showcase some product information",
        "es": "Resalta alguna información del producto",
        "fi": "Näytä tuotetietoja",
        "fr": "Mettre en avant des informations sur le produit",
        "hi": "कुछ उत्पाद जानकारी दिखाएं",
        "it": "Mostra alcune informazioni sul prodotto",
        "ja": "商品情報の一部を紹介する",
        "ko": "일부 제품 정보 쇼케이스",
        "nb": "Fremhev noe produktinformasjon",
        "nl": "Een aantal productgegevens onder de aandacht brengen",
        "pt-BR": "Exibir algumas informações sobre o produto",
        "pt-PT": "Mostrar algumas informações sobre o produto",
        "sv": "Visa lite produktinformation",
        "th": "อวดข้อมูลสินค้าบางส่วน",
        "zh-CN": "展示一些产品信息",
        "zh-TW": "展示部分產品資訊"
      }
    },
    {
      "type": "select",
      "id": "cover_title_desktop_position",
      "label": {
        "da": "Placering af overskrift",
        "de": "Überschriftenposition",
        "en": "Heading position",
        "es": "Posición del título",
        "fi": "Otsikon sijainti",
        "fr": "Position du titre",
        "hi": "शीर्षक स्थिति",
        "it": "Posizione titolo",
        "ja": "見出しの位置",
        "ko": "제목 위치",
        "nb": "Overskriftposisjon",
        "nl": "Positie van kop",
        "pt-BR": "Posição do título",
        "pt-PT": "Posição do título",
        "sv": "Rubrikposition",
        "th": "ตำแหน่งหัวเรื่อง",
        "zh-CN": "标题位置",
        "zh-TW": "標題位置"
      },
      "info": {
        "da": "Gælder kun for visning på computere",
        "de": "Gilt nur für die Desktop-Ansicht",
        "en": "Only applies to desktop view",
        "es": "Solo se aplica a la vista de escritorio",
        "fi": "Koskee vain näkymää tietokoneella",
        "fr": "S'applique uniquement à l'affichage du bureau",
        "hi": "केवल डेस्कटॉप दृश्य पर लागू होता है",
        "it": "Si applica solo alla visualizzazione su desktop",
        "ja": "デスクトップ表示にのみ適用する",
        "ko": "데스크톱 보기에만 적용",
        "nb": "Gjelder bare for visning på datamaskin",
        "nl": "Alleen van toepassing op desktopweergave",
        "pt-BR": "Aplica-se somente à visualização da área de trabalho",
        "pt-PT": "Aplica-se somente à visualização da área de trabalho",
        "sv": "Gäller endast desktop-vy",
        "th": "ใช้กับมุมมองเดสก์ท็อปเท่านั้น",
        "zh-CN": "仅适用于桌面视图",
        "zh-TW": "僅適用於桌面檢視"
      },
      "default": "left",
      "options": [
        {
          "label": {
            "da": "Venstre",
            "de": "Links",
            "en": "Left",
            "es": "Izquierda",
            "fi": "Vasen",
            "fr": "Gauche",
            "hi": "बाएँ",
            "it": "Sinistra",
            "ja": "左",
            "ko": "왼쪽",
            "nb": "Venstre",
            "nl": "Links",
            "pt-BR": "Esquerda",
            "pt-PT": "Esquerda",
            "sv": "Vänster",
            "th": "ด้านซ้าย",
            "zh-CN": "左侧",
            "zh-TW": "左方"
          },
          "value": "left"
        },
        {
          "label": {
            "da": "Centreret",
            "de": "Mitte",
            "en": "Center",
            "es": "Centrar",
            "fi": "Keskitetty",
            "fr": "Centre",
            "hi": "केंद्र",
            "it": "Al centro",
            "ja": "中央",
            "ko": "센터",
            "nb": "Sentrer",
            "nl": "Midden",
            "pt-BR": "Centro",
            "pt-PT": "Centro",
            "sv": "Centrera",
            "th": "ตรงกลาง",
            "zh-CN": "中心",
            "zh-TW": "置中"
          },
          "value": "center"
        }
      ]
    },
    {
      "type": "header",
      "content": {
        "da": "Overlejring",
        "de": "Überlagerung",
        "en": "Overlay",
        "es": "Superposición",
        "fi": "Peitto",
        "fr": "Superposition",
        "hi": "ओवरले",
        "it": "Sovrapposizione",
        "ja": "オーバーレイ",
        "ko": "오버레이",
        "nb": "Overlegg",
        "nl": "Overlay",
        "pt-BR": "Sobreposição",
        "pt-PT": "Sobreposição",
        "sv": "Överlagring",
        "th": "การวางซ้อน",
        "zh-CN": "叠加",
        "zh-TW": "疊加層"
      }
    },
    {
      "type": "checkbox",
      "id": "show_overlay",
      "label": {
        "da": "Vis overlejring",
        "de": "Überlagerung anzeigen",
        "en": "Show overlay",
        "es": "Mostrar superposición",
        "fi": "Näytä peittokuva",
        "fr": "Afficher la superposition",
        "hi": "ओवरले दिखाएं",
        "it": "Mostra sovrapposizione",
        "ja": "オーバーレイを表示する",
        "ko": "오버레이 표시",
        "nb": "Vis overlegg",
        "nl": "Overlay weergeven",
        "pt-BR": "Exibir sobreposição",
        "pt-PT": "Mostrar sobreposição",
        "sv": "Visa överlagring",
        "th": "แสดงการวางซ้อน",
        "zh-CN": "显示叠加",
        "zh-TW": "顯示疊加層"
      },
      "default": true
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": {
        "da": "Farve på overlejring",
        "de": "Überlagerungsfarbe",
        "en": "Overlay Color",
        "es": "Color de superposición",
        "fi": "Värikerros",
        "fr": "Couleur de superposition",
        "hi": "ओवरले रंग",
        "it": "Colore sovrapposizione",
        "ja": "オーバーレイの色",
        "ko": "오버레이 색상",
        "nb": "Overleggsfarge",
        "nl": "Kleur van overlay",
        "pt-BR": "Cor de sobreposição",
        "pt-PT": "Cor de sobreposição",
        "sv": "Överlagringsfärg",
        "th": "สีซ้อนทับ",
        "zh-CN": "叠加颜色",
        "zh-TW": "疊加層顏色"
      },
      "default": "#242424"
    },
    {
      "type": "color",
      "id": "overlay_text",
      "label": {
        "da": "Tekstfarve",
        "de": "Textfarbe",
        "en": "Text color",
        "es": "Color de la fuente",
        "fi": "Tekstin väri",
        "fr": "Couleur du texte",
        "hi": "टेक्स्ट का रंग",
        "it": "Colore del testo",
        "ja": "テキストの配色",
        "ko": "텍스트 색상",
        "nb": "Tekstfarge",
        "nl": "Tekstkleur",
        "pt-BR": "Cor do texto",
        "pt-PT": "Cor do texto",
        "sv": "Textfärg",
        "th": "สีข้อความ",
        "zh-CN": "文本颜色",
        "zh-TW": "文字顏色"
      },
      "default": "#ffffff"
    },
    {
      "type": "select",
      "id": "overlay_opacity",
      "label": {
        "da": "Uigennemsigtighed",
        "de": "Opazität",
        "en": "Opacity",
        "es": "Opacidad",
        "fi": "Sameus",
        "fr": "Opacité",
        "hi": "अस्पष्टता",
        "it": "Opacità",
        "ja": "不透過率",
        "ko": "불투명도",
        "nb": "Gjennomsiktighet",
        "nl": "Doorschijnendheid",
        "pt-BR": "Opacidade",
        "pt-PT": "Opacidade",
        "sv": "Opacitet",
        "th": "ความทึบ",
        "zh-CN": "不透明度",
        "zh-TW": "透明度"
      },
      "default": "0.3",
      "options": [
        {
          "label": {
            "da": "100 %",
            "de": "100%",
            "en": "100%",
            "es": "100%",
            "fi": "100 %",
            "fr": "100 %",
            "hi": "100%",
            "it": "100%",
            "ja": "100%",
            "ko": "100%",
            "nb": "100 %",
            "nl": "100%",
            "pt-BR": "100%",
            "pt-PT": "100%",
            "sv": "100 %",
            "th": "100%",
            "zh-CN": "100%",
            "zh-TW": "100%"
          },
          "value": "1"
        },
        {
          "label": {
            "da": "95 %",
            "de": "95 %",
            "en": "95%",
            "es": "95%",
            "fi": "95 %",
            "fr": "95 %",
            "hi": "95%",
            "it": "95%",
            "ja": "95%",
            "ko": "95%",
            "nb": "95 %",
            "nl": "95%",
            "pt-BR": "95%",
            "pt-PT": "95%",
            "sv": "95%",
            "th": "95%",
            "zh-CN": "95%",
            "zh-TW": "95%"
          },
          "value": "0.95"
        },
        {
          "label": {
            "da": "90 %",
            "de": "90 %",
            "en": "90%",
            "es": "90%",
            "fi": "90 %",
            "fr": "90 %",
            "hi": "90%",
            "it": "90%",
            "ja": "90%",
            "ko": "90%",
            "nb": "90 %",
            "nl": "90%",
            "pt-BR": "90%",
            "pt-PT": "90%",
            "sv": "90%",
            "th": "90%",
            "zh-CN": "90%",
            "zh-TW": "90%"
          },
          "value": "0.9"
        },
        {
          "label": {
            "da": "85 %",
            "de": "85 %",
            "en": "85%",
            "es": "85%",
            "fi": "85 %",
            "fr": "85 %",
            "hi": "85%",
            "it": "85%",
            "ja": "85%",
            "ko": "85%",
            "nb": "85 %",
            "nl": "85%",
            "pt-BR": "85%",
            "pt-PT": "85%",
            "sv": "85%",
            "th": "85%",
            "zh-CN": "85%",
            "zh-TW": "85%"
          },
          "value": "0.85"
        },
        {
          "label": {
            "da": "80 %",
            "de": "80 %",
            "en": "80%",
            "es": "80%",
            "fi": "80 %",
            "fr": "80 %",
            "hi": "80%",
            "it": "80%",
            "ja": "80%",
            "ko": "80%",
            "nb": "80 %",
            "nl": "80%",
            "pt-BR": "80%",
            "pt-PT": "80%",
            "sv": "80%",
            "th": "80%",
            "zh-CN": "80%",
            "zh-TW": "80%"
          },
          "value": "0.8"
        },
        {
          "label": {
            "da": "75 %",
            "de": "75%",
            "en": "75%",
            "es": "75%",
            "fi": "75 %",
            "fr": "75 %",
            "hi": "75%",
            "it": "75%",
            "ja": "75%",
            "ko": "75%",
            "nb": "75 %",
            "nl": "75%",
            "pt-BR": "75%",
            "pt-PT": "75%",
            "sv": "75 %",
            "th": "75%",
            "zh-CN": "75%",
            "zh-TW": "75%"
          },
          "value": "0.75"
        },
        {
          "label": {
            "da": "70 %",
            "de": "70 %",
            "en": "70%",
            "es": "70%",
            "fi": "70 %",
            "fr": "70 %",
            "hi": "70%",
            "it": "70%",
            "ja": "70%",
            "ko": "70%",
            "nb": "70 %",
            "nl": "70%",
            "pt-BR": "70%",
            "pt-PT": "70%",
            "sv": "70%",
            "th": "70%",
            "zh-CN": "70%",
            "zh-TW": "70%"
          },
          "value": "0.7"
        },
        {
          "label": {
            "da": "65 %",
            "de": "65 %",
            "en": "65%",
            "es": "65%",
            "fi": "65 %",
            "fr": "65 %",
            "hi": "65%",
            "it": "65%",
            "ja": "65%",
            "ko": "65%",
            "nb": "65 %",
            "nl": "65%",
            "pt-BR": "65%",
            "pt-PT": "65%",
            "sv": "65%",
            "th": "65%",
            "zh-CN": "65%",
            "zh-TW": "65%"
          },
          "value": "0.65"
        },
        {
          "label": {
            "da": "60 %",
            "de": "60 %",
            "en": "60%",
            "es": "60%",
            "fi": "60 %",
            "fr": "60 %",
            "hi": "60%",
            "it": "60%",
            "ja": "60%",
            "ko": "60%",
            "nb": "60 %",
            "nl": "60%",
            "pt-BR": "60%",
            "pt-PT": "60%",
            "sv": "60%",
            "th": "60%",
            "zh-CN": "60%",
            "zh-TW": "60%"
          },
          "value": "0.6"
        },
        {
          "label": {
            "da": "55 %",
            "de": "55 %",
            "en": "55%",
            "es": "55%",
            "fi": "55 %",
            "fr": "55 %",
            "hi": "55%",
            "it": "55%",
            "ja": "55%",
            "ko": "55%",
            "nb": "55 %",
            "nl": "55%",
            "pt-BR": "55%",
            "pt-PT": "55%",
            "sv": "55%",
            "th": "55%",
            "zh-CN": "55%",
            "zh-TW": "55%"
          },
          "value": "0.55"
        },
        {
          "label": {
            "da": "50 %",
            "de": "50%",
            "en": "50%",
            "es": "50%",
            "fi": "50 %",
            "fr": "50 %",
            "hi": "50%",
            "it": "50%",
            "ja": "50%",
            "ko": "50%",
            "nb": "50 %",
            "nl": "50%",
            "pt-BR": "50%",
            "pt-PT": "50%",
            "sv": "50 %",
            "th": "50%",
            "zh-CN": "50%",
            "zh-TW": "50%"
          },
          "value": "0.5"
        },
        {
          "label": {
            "da": "45 %",
            "de": "45 %",
            "en": "45%",
            "es": "45%",
            "fi": "45 %",
            "fr": "45 %",
            "hi": "45%",
            "it": "45%",
            "ja": "45%",
            "ko": "45%",
            "nb": "45 %",
            "nl": "45%",
            "pt-BR": "45%",
            "pt-PT": "45%",
            "sv": "45%",
            "th": "45%",
            "zh-CN": "45%",
            "zh-TW": "45%"
          },
          "value": "0.45"
        },
        {
          "label": {
            "da": "40 %",
            "de": "40 %",
            "en": "40%",
            "es": "40%",
            "fi": "40 %",
            "fr": "40 %",
            "hi": "40%",
            "it": "40%",
            "ja": "40%",
            "ko": "40%",
            "nb": "40 %",
            "nl": "40%",
            "pt-BR": "40%",
            "pt-PT": "40%",
            "sv": "40%",
            "th": "40%",
            "zh-CN": "40%",
            "zh-TW": "40%"
          },
          "value": "0.4"
        },
        {
          "label": {
            "da": "35 %",
            "de": "35 %",
            "en": "35%",
            "es": "35%",
            "fi": "35 %",
            "fr": "35 %",
            "hi": "35%",
            "it": "35%",
            "ja": "35%",
            "ko": "35%",
            "nb": "35 %",
            "nl": "35%",
            "pt-BR": "35%",
            "pt-PT": "35%",
            "sv": "35%",
            "th": "35%",
            "zh-CN": "35%",
            "zh-TW": "35%"
          },
          "value": "0.35"
        },
        {
          "label": {
            "da": "30 %",
            "de": "30 %",
            "en": "30%",
            "es": "30%",
            "fi": "30 %",
            "fr": "30 %",
            "hi": "30%",
            "it": "30%",
            "ja": "30%",
            "ko": "35%",
            "nb": "30 %",
            "nl": "30%",
            "pt-BR": "30%",
            "pt-PT": "30%",
            "sv": "30%",
            "th": "30%",
            "zh-CN": "30%",
            "zh-TW": "30%"
          },
          "value": "0.3"
        },
        {
          "label": {
            "da": "25 %",
            "de": "25%",
            "en": "25%",
            "es": "25%",
            "fi": "25 %",
            "fr": "25 %",
            "hi": "25%",
            "it": "25%",
            "ja": "25%",
            "ko": "25%",
            "nb": "25 %",
            "nl": "25%",
            "pt-BR": "25%",
            "pt-PT": "25%",
            "sv": "25 %",
            "th": "25%",
            "zh-CN": "25％",
            "zh-TW": "25%"
          },
          "value": "0.25"
        },
        {
          "label": {
            "da": "20 %",
            "de": "20 %",
            "en": "20%",
            "es": "20%",
            "fi": "20 %",
            "fr": "20 %",
            "hi": "20%",
            "it": "20%",
            "ja": "20%",
            "ko": "20%",
            "nb": "20 %",
            "nl": "20%",
            "pt-BR": "20%",
            "pt-PT": "20%",
            "sv": "20%",
            "th": "20%",
            "zh-CN": "20%",
            "zh-TW": "20%"
          },
          "value": "0.2"
        },
        {
          "label": {
            "da": "0 %",
            "de": "0 %",
            "en": "0%",
            "es": "0%",
            "fi": "0 %",
            "fr": "0 %",
            "hi": "0%",
            "it": "0%",
            "ja": "0%",
            "ko": "0%",
            "nb": "0 %",
            "nl": "0%",
            "pt-BR": "0%",
            "pt-PT": "0%",
            "sv": "0%",
            "th": "0%",
            "zh-CN": "0%",
            "zh-TW": "0%"
          },
          "value": "0"
        }
      ]
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Show Now"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": {
        "da": "Slide",
        "de": "Folie",
        "en": "Slide",
        "es": "Diapositiva",
        "fi": "Dia",
        "fr": "Diapositive",
        "hi": "स्लाइड",
        "it": "Scorrimento",
        "ja": "スライド",
        "ko": "슬라이드",
        "nb": "Lysbilde",
        "nl": "Dia",
        "pt-BR": "Slide",
        "pt-PT": "Diapositivo",
        "sv": "Slide",
        "th": "สไลด์",
        "zh-CN": "幻灯片",
        "zh-TW": "投影片"
      },
      "limit": 5,
      "settings": [
        {
          "type": "color",
          "id": "background_color",
          "label": {
            "da": "Baggrundsfarve",
            "de": "Hintergrundfarbe",
            "en": "Background color",
            "es": "Color del fondo",
            "fi": "Taustaväri",
            "fr": "Couleur de fond",
            "hi": "पृष्ठभूमि का रंग",
            "it": "Colore sfondo",
            "ja": "背景の色",
            "ko": "배경색",
            "nb": "Bakgrunnsfarge",
            "nl": "Achtergrondkleur",
            "pt-BR": "Cor do fundo",
            "pt-PT": "Cor do fundo",
            "sv": "Bakgrundsfärg",
            "th": "สีพื้นหลัง",
            "zh-CN": "背景色",
            "zh-TW": "背景顏色"
          },
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "header",
          "content": {
            "da": "Billede",
            "de": "Foto",
            "en": "Image",
            "es": "Imagen",
            "fi": "Kuva",
            "fr": "Image",
            "hi": "इमेज",
            "it": "Immagine",
            "ja": "画像",
            "ko": "이미지",
            "nb": "Bilde",
            "nl": "Afbeelding",
            "pt-BR": "Imagem",
            "pt-PT": "Imagem",
            "sv": "Bild",
            "th": "รูปภาพ",
            "zh-CN": "图片",
            "zh-TW": "圖片"
          }
        },
        {
          "type": "checkbox",
          "id": "show_image",
          "label": {
            "da": "Vis diasbillede",
            "de": "Folienbild anzeigen",
            "en": "Show slide image",
            "es": "Mostrar imagen de diapositiva",
            "fi": "Näytä dian kuva",
            "fr": "Afficher l'image de la diapositive",
            "hi": "स्लाइड इमेज दिखाएं",
            "it": "Mostra immagine slide",
            "ja": "スライド画像を表示する",
            "ko": "슬라이드 이미지 표시",
            "nb": "Vis lysbilde",
            "nl": "Dia-afbeelding weergeven",
            "pt-BR": "Exibir imagem do slide",
            "pt-PT": "Mostrar imagem do diapositivo",
            "sv": "Visa slide bild",
            "th": "แสดงภาพสไลด์",
            "zh-CN": "显示幻灯片图片",
            "zh-TW": "顯示投影片圖像"
          },
          "default": true
        },
        {
          "type": "image_picker",
          "id": "slide_image",
          "label": {
            "da": "Billede",
            "de": "Foto",
            "en": "Image",
            "es": "Imagen",
            "fi": "Kuva",
            "fr": "Image",
            "hi": "इमेज",
            "it": "Immagine",
            "ja": "画像",
            "ko": "이미지",
            "nb": "Bilde",
            "nl": "Afbeelding",
            "pt-BR": "Imagem",
            "pt-PT": "Imagem",
            "sv": "Bild",
            "th": "รูปภาพ",
            "zh-CN": "图片",
            "zh-TW": "圖片"
          }
        },
        {
          "type": "header",
          "content": {
            "da": "Tekst",
            "de": "Text",
            "en": "Text",
            "es": "Texto",
            "fi": "Teksti",
            "fr": "Texte",
            "hi": "टेक्स्ट",
            "it": "Testo",
            "ja": "テキスト",
            "ko": "텍스트",
            "nb": "Tekst",
            "nl": "Tekst",
            "pt-BR": "Texto",
            "pt-PT": "Texto",
            "sv": "Text",
            "th": "ข้อความ",
            "zh-CN": "文本",
            "zh-TW": "文字"
          }
        },
        {
          "type": "text",
          "id": "slide_title",
          "label": {
            "da": "Overskrift",
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "Titre",
            "hi": "शीर्षक",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": {
            "da": "Fremhævet variant",
            "de": "Empfohlene Variante",
            "en": "Featured variant",
            "es": "Variante destacada",
            "fi": "Versio esittelyssä",
            "fr": "Variante en vedette",
            "hi": "वेरिएंट की सुविधा",
            "it": "Variante in primo piano",
            "ja": "特集バリエーション",
            "ko": "이형 상품 포함",
            "nb": "Utvalgt variant",
            "nl": "Uitgelichte variant",
            "pt-BR": "Variante em destaque",
            "pt-PT": "Variante em destaque",
            "sv": "Utvald variant",
            "th": "ตัวเลือกสินค้าที่แนะนำ",
            "zh-CN": "特色多属性",
            "zh-TW": "精選子類選項"
          }
        },
		{
          "type": "color",
          "id": "slide_title_color",
          "label": "Slide Title Color",
          "default": "#000000"
        },
        {
          "type": "text",
          "id": "slide_button_text",
          "label": {
            "da": "Knaptekst",
            "de": "Button-Etikett",
            "en": "Button label",
            "es": "Etiqueta de botón",
            "fi": "Tekstipainike",
            "fr": "Texte du bouton",
            "hi": "बटन लेबल",
            "it": "Etichetta pulsante",
            "ja": "ボタンのラベル",
            "ko": "버튼 레이블",
            "nb": "Knappetikett",
            "nl": "Knoplabel",
            "pt-BR": "Etiqueta de botão",
            "pt-PT": "Etiqueta do botão",
            "sv": "Knappetikett",
            "th": "ป้ายกำกับปุ่ม",
            "zh-CN": "按钮标签",
            "zh-TW": "按鈕標籤"
          },
          "default": {
            "da": "Se",
            "de": "Ansicht",
            "en": "View",
            "es": "Ver",
            "fi": "Näytä",
            "fr": "Afficher",
            "hi": "देखें",
            "it": "Visualizza",
            "ja": "表示する",
            "ko": "보기",
            "nb": "Vis",
            "nl": "Bekijken",
            "pt-BR": "Visualizar",
            "pt-PT": "Ver",
            "sv": "Visa",
            "th": "ดู",
            "zh-CN": "预览",
            "zh-TW": "檢視"
          }
        },
        {
          "type": "url",
          "id": "slide_button_url",
          "label": {
            "da": "Knaplink",
            "de": "Button-Etikett",
            "en": "Button link",
            "es": "Enlace de botón",
            "fi": "Painikelinkki",
            "fr": "Lien du bouton",
            "hi": "बटन लिंक",
            "it": "Link pulsante",
            "ja": "ボタンのリンク",
            "ko": "버튼 링크",
            "nb": "Kobling for knapp",
            "nl": "Knoplink",
            "pt-BR": "Link de botão",
            "pt-PT": "Ligação do botão",
            "sv": "Knapplänk",
            "th": "ลิงก์ปุ่ม",
            "zh-CN": "按钮链接",
            "zh-TW": "按鈕連結"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "da": "Udvalgt diasshow",
        "de": "Dargestellter Slider",
        "en": "Featured slider",
        "es": "Diapositivas destacadas",
        "fi": "Esittelyssä-diaesitys",
        "fr": "Curseur intégré",
        "hi": "विशेष रुप से प्रदर्शित स्लाइडर",
        "it": "Sezione scorrevole in evidenza",
        "ja": "特集スライダー",
        "ko": "추천 슬라이더",
        "nb": "Utvalgt lysbilde",
        "nl": "Aanbevolen schuifregelaar",
        "pt-BR": "Controle deslizante para destaques",
        "pt-PT": "Controlo deslizante de destaques",
        "sv": "Utvalda slider",
        "th": "สไลด์โชว์แนะนำ",
        "zh-CN": "特色幻灯片",
        "zh-TW": "精選商品投影播放器"
      },
      "category": {
        "da": "Avanceret layout",
        "de": "Komplizierteres Layout",
        "en": "Advanced layout",
        "es": "Diseño avanzado",
        "fi": "Monimutkaisempi layout",
        "fr": "Mise en page avancée",
        "hi": "उन्नत लेआउट",
        "it": "Layout avanzato",
        "ja": "高度なレイアウト",
        "ko": "고급 레이아웃",
        "nb": "Avansert oppsett",
        "nl": "Geavanceerde opmaak",
        "pt-BR": "Layout avançado",
        "pt-PT": "Esquema avançado",
        "sv": "Avancerad layout",
        "th": "เลย์เอาท์ขั้นสูง",
        "zh-CN": "高级布局",
        "zh-TW": "進階版面配置"
      },
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
