{% if section.settings.show_overlay %}
  <style>
    .image-bar--{{ section.id }} .image-bar__caption {
      color: {{ section.settings.overlay_text }};
      font-size: {{ section.settings.font_size }};
    }

    .image-bar--{{ section.id }} .image-bar__overlay::after {
      background-color: {{ section.settings.overlay_color }};
      opacity: {{ section.settings.overlay_opacity }};
    }
    
    
  </style>
{% endif %}

<div class="image-bar image-bar--{{ section.id }} image-bar--{{ section.settings.section_height }}" data-section-id="{{ section.id }}" data-section-type="gallery">
  {% for block in section.blocks %}
    <div class="image-bar__flex image-bar__{{ section.blocks.size }}-column">

      {% if block.settings.image != blank %}

        <style>
          .image-bar__item--{{ block.id }} {
            background-position: {{ block.settings.alignment }};
          }
        </style>

        {% if block.settings.link != blank %}
          <a href="{{ block.settings.link }}" class="image-bar__item image-bar__link desktop_image_bar" {{ block.shopify_attributes }}>
            <div class="image-bar__item image-bar__item--{{ block.id }} lazyload" data-bgset="{% include 'bgset', image: block.settings.image %}">
        {% else %}
            <div class="desktop_image_bar image-bar__item image-bar__item--{{ block.id }} lazyload" {{ block.shopify_attributes }} data-bgset="{% include 'bgset', image: block.settings.image %}">
        {% endif %}

      {% else %}
        <div class="image-bar__item" {{ block.shopify_attributes }}>
      {% endif %}

        <div class="image-bar__content{% if section.settings.show_overlay %} image-bar__overlay{% endif %}">
          {% if block.settings.image == blank %}
            <div class="image-bar__placeholder">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
          {% endif %}
        </div>

      {% if block.settings.link != blank %}
          </div>
        </a>
      {% else %}
        </div>
      {% endif %}

      {% if block.settings.image != blank %}

      <style>
        .image-bar__item--{{ block.id }} {
          background-position: {{ block.settings.alignment }};
        }
      </style>

      {% if block.settings.link != blank %}
          <a href="{{ block.settings.link }}" class="image-bar__item image-bar__link mobile_image_bar" {{ block.shopify_attributes }}>
            <div class="image-bar__item image-bar__item--{{ block.id }} lazyload" data-bgset="{% include 'bgset', image: block.settings.mimage %}">
        {% else %}
            <div class="mobile_image_bar image-bar__item image-bar__item--{{ block.id }} lazyload" {{ block.shopify_attributes }} data-bgset="{% include 'bgset', image: block.settings.mimage %}">
        {% endif %}

      {% else %}
        <div class="image-bar__item" {{ block.shopify_attributes }}>
      {% endif %}

        <div class="image-bar__content{% if section.settings.show_overlay %} image-bar__overlay{% endif %}">
          {% if block.settings.image == blank %}
            <div class="image-bar__placeholder">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
          {% endif %}
        </div>

      {% if block.settings.link != blank %}
          </div>
        </a>
      {% else %}
        </div>
      {% endif %}

      {% if block.settings.cta_label != blank or block.settings.icon != 'none' %}
        <div class="image-bar__text" data-animate>
          {% if block.settings.icon != 'none' %}
            {%- assign icon = 'icon-' | append: block.settings.icon -%}
            {% include icon %}
          {% endif %}
          {% if block.settings.cta_label != blank %}
            <h3 class="h2 text-title image-bar__caption">{{ block.settings.cta_label | escape }}</h2>
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>

{% if section.blocks.size == 0 %}
  {% include 'no-blocks' %}
{% endif %}

{% schema %}
{
  "name": {
    "da": "Galleri",
    "de": "Galerie",
    "en": "Gallery",
    "es": "Galería",
    "fi": "Galleria",
    "fr": "Galerie",
    "hi": "गैलरी",
    "it": "Galleria",
    "ja": "ギャラリー",
    "ko": "갤러리",
    "nb": "Galleri",
    "nl": "Galerie",
    "pt-BR": "Galeria",
    "pt-PT": "Galeria",
    "sv": "Galleri",
    "th": "แกลเลอรี",
    "zh-CN": "图库",
    "zh-TW": "圖庫"
  },
  "class": "index-section index-section--gallery",
  "max_blocks": 3,
  "settings": [
    {
      "type": "select",
      "id": "section_height",
      "label": {
        "da": "Højde på afsnit",
        "de": "Bereichs-Höhe",
        "en": "Section height",
        "es": "Altura de la sección",
        "fi": "Osan korkeus",
        "fr": "Hauteur de la section",
        "hi": "सेक्शन की ऊंचाई",
        "it": "Altezza sezione",
        "ja": "セクションの高さ",
        "ko": "섹션 높이",
        "nb": "Høyde på del",
        "nl": "Sectiehoogte",
        "pt-BR": "Altura da seção",
        "pt-PT": "Altura da secção",
        "sv": "Sektionshöjd",
        "th": "ความสูงของส่วน",
        "zh-CN": "分区高度",
        "zh-TW": "區塊高度"
      },
      "default": "medium",
      "options": [
        {
          "label": {
            "da": "Ekstra lille",
            "de": "Extra klein",
            "en": "Extra Small",
            "es": "Extra pequeña",
            "fi": "Erikoispieni",
            "fr": "Très petite",
            "hi": "अतिरिक्त छोटा",
            "it": "Molto piccola",
            "ja": "極小",
            "ko": "특소",
            "nb": "Ekstra liten",
            "nl": "Extra klein",
            "pt-BR": "Extrapequeno",
            "pt-PT": "Extra pequeno",
            "sv": "Extra liten",
            "th": "ขนาดเล็กพิเศษ",
            "zh-CN": "特小",
            "zh-TW": "超小型"
          },
          "value": "x-small"
        },
        {
          "label": {
            "da": "Lille",
            "de": "Klein",
            "en": "Small",
            "es": "Pequeña",
            "fi": "Pieni",
            "fr": "Petite",
            "hi": "छोटा",
            "it": "Piccolo",
            "ja": "小",
            "ko": "스몰",
            "nb": "Liten",
            "nl": "Klein",
            "pt-BR": "Pequeno",
            "pt-PT": "Pequeno",
            "sv": "Liten",
            "th": "เล็ก",
            "zh-CN": "小",
            "zh-TW": "小型"
          },
          "value": "small"
        },
        {
          "label": {
            "da": "Medium",
            "de": "Mitte",
            "en": "Medium",
            "es": "Mediana",
            "fi": "Keskisuuri",
            "fr": "Moyenne",
            "hi": "मध्यम",
            "it": "Medio",
            "ja": "中",
            "ko": "보통",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pt-BR": "Médio",
            "pt-PT": "Médio",
            "sv": "Medium",
            "th": "ปานกลาง",
            "zh-CN": "中等",
            "zh-TW": "中等"
          },
          "value": "medium"
        },
        {
          "label": {
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fi": "Suuri",
            "fr": "Grande",
            "hi": "बड़ा",
            "it": "Grande",
            "ja": "大",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "zh-CN": "大",
            "zh-TW": "大型"
          },
          "value": "large"
        },
        {
          "label": {
            "da": "Ekstra stor",
            "de": "Extra groß",
            "en": "Extra Large",
            "es": "Extra grande",
            "fi": "Erikoissuuri",
            "fr": "Très grande",
            "hi": "अतिरिक्त बड़ा",
            "it": "Molto grande",
            "ja": "特大",
            "ko": "특대",
            "nb": "Ekstra stort",
            "nl": "Extra groot",
            "pt-BR": "Extragrande",
            "pt-PT": "Extra grande",
            "sv": "Extra stor",
            "th": "ขนาดใหญ่พิเศษ",
            "zh-CN": "特大",
            "zh-TW": "超大型"
          },
          "value": "x-large"
        }
      ]
    },
    {
      "type": "header",
      "content": {
        "da": "Overlejring",
        "de": "Überlagerung",
        "en": "Overlay",
        "es": "Superposición",
        "fi": "Peitto",
        "fr": "Superposition",
        "hi": "ओवरले",
        "it": "Sovrapposizione",
        "ja": "オーバーレイ",
        "ko": "오버레이",
        "nb": "Overlegg",
        "nl": "Overlay",
        "pt-BR": "Sobreposição",
        "pt-PT": "Sobreposição",
        "sv": "Överlagring",
        "th": "การวางซ้อน",
        "zh-CN": "叠加",
        "zh-TW": "疊加層"
      }
    },
    {
      "type": "checkbox",
      "id": "show_overlay",
      "label": {
        "da": "Vis overlejring",
        "de": "Überlagerung anzeigen",
        "en": "Show overlay",
        "es": "Mostrar superposición",
        "fi": "Näytä peittokuva",
        "fr": "Afficher la superposition",
        "hi": "ओवरले दिखाएं",
        "it": "Mostra sovrapposizione",
        "ja": "オーバーレイを表示する",
        "ko": "오버레이 표시",
        "nb": "Vis overlegg",
        "nl": "Overlay weergeven",
        "pt-BR": "Exibir sobreposição",
        "pt-PT": "Mostrar sobreposição",
        "sv": "Visa överlagring",
        "th": "แสดงการวางซ้อน",
        "zh-CN": "显示叠加",
        "zh-TW": "顯示疊加層"
      },
      "default": true
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": {
        "da": "Farve på overlejring",
        "de": "Überlagerungsfarbe",
        "en": "Overlay Color",
        "es": "Color de superposición",
        "fi": "Värikerros",
        "fr": "Couleur de superposition",
        "hi": "ओवरले रंग",
        "it": "Colore sovrapposizione",
        "ja": "オーバーレイの色",
        "ko": "오버레이 색상",
        "nb": "Overleggsfarge",
        "nl": "Kleur van overlay",
        "pt-BR": "Cor de sobreposição",
        "pt-PT": "Cor de sobreposição",
        "sv": "Överlagringsfärg",
        "th": "สีซ้อนทับ",
        "zh-CN": "叠加颜色",
        "zh-TW": "疊加層顏色"
      },
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "overlay_text",
      "label": {
        "da": "Tekstfarve",
        "de": "Textfarbe",
        "en": "Text color",
        "es": "Color de la fuente",
        "fi": "Tekstin väri",
        "fr": "Couleur du texte",
        "hi": "टेक्स्ट का रंग",
        "it": "Colore del testo",
        "ja": "テキストの配色",
        "ko": "텍스트 색상",
        "nb": "Tekstfarge",
        "nl": "Tekstkleur",
        "pt-BR": "Cor do texto",
        "pt-PT": "Cor do texto",
        "sv": "Textfärg",
        "th": "สีข้อความ",
        "zh-CN": "文本颜色",
        "zh-TW": "文字顏色"
      },
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "font_size",
      "label": "Font Size",
      "default": "1.2em"
    },
    {
      "type": "select",
      "id": "overlay_opacity",
      "label": {
        "da": "Uigennemsigtighed",
        "de": "Opazität",
        "en": "Opacity",
        "es": "Opacidad",
        "fi": "Sameus",
        "fr": "Opacité",
        "hi": "अस्पष्टता",
        "it": "Opacità",
        "ja": "不透過率",
        "ko": "불투명도",
        "nb": "Gjennomsiktighet",
        "nl": "Doorschijnendheid",
        "pt-BR": "Opacidade",
        "pt-PT": "Opacidade",
        "sv": "Opacitet",
        "th": "ความทึบ",
        "zh-CN": "不透明度",
        "zh-TW": "透明度"
      },
      "default": "0.3",
      "options": [
        {
          "label": {
            "da": "100 %",
            "de": "100%",
            "en": "100%",
            "es": "100%",
            "fi": "100 %",
            "fr": "100 %",
            "hi": "100%",
            "it": "100%",
            "ja": "100%",
            "ko": "100%",
            "nb": "100 %",
            "nl": "100%",
            "pt-BR": "100%",
            "pt-PT": "100%",
            "sv": "100 %",
            "th": "100%",
            "zh-CN": "100%",
            "zh-TW": "100%"
          },
          "value": "1"
        },
        {
          "label": {
            "da": "95 %",
            "de": "95 %",
            "en": "95%",
            "es": "95%",
            "fi": "95 %",
            "fr": "95 %",
            "hi": "95%",
            "it": "95%",
            "ja": "95%",
            "ko": "95%",
            "nb": "95 %",
            "nl": "95%",
            "pt-BR": "95%",
            "pt-PT": "95%",
            "sv": "95%",
            "th": "95%",
            "zh-CN": "95%",
            "zh-TW": "95%"
          },
          "value": "0.95"
        },
        {
          "label": {
            "da": "90 %",
            "de": "90 %",
            "en": "90%",
            "es": "90%",
            "fi": "90 %",
            "fr": "90 %",
            "hi": "90%",
            "it": "90%",
            "ja": "90%",
            "ko": "90%",
            "nb": "90 %",
            "nl": "90%",
            "pt-BR": "90%",
            "pt-PT": "90%",
            "sv": "90%",
            "th": "90%",
            "zh-CN": "90%",
            "zh-TW": "90%"
          },
          "value": "0.9"
        },
        {
          "label": {
            "da": "85 %",
            "de": "85 %",
            "en": "85%",
            "es": "85%",
            "fi": "85 %",
            "fr": "85 %",
            "hi": "85%",
            "it": "85%",
            "ja": "85%",
            "ko": "85%",
            "nb": "85 %",
            "nl": "85%",
            "pt-BR": "85%",
            "pt-PT": "85%",
            "sv": "85%",
            "th": "85%",
            "zh-CN": "85%",
            "zh-TW": "85%"
          },
          "value": "0.85"
        },
        {
          "label": {
            "da": "80 %",
            "de": "80 %",
            "en": "80%",
            "es": "80%",
            "fi": "80 %",
            "fr": "80 %",
            "hi": "80%",
            "it": "80%",
            "ja": "80%",
            "ko": "80%",
            "nb": "80 %",
            "nl": "80%",
            "pt-BR": "80%",
            "pt-PT": "80%",
            "sv": "80%",
            "th": "80%",
            "zh-CN": "80%",
            "zh-TW": "80%"
          },
          "value": "0.8"
        },
        {
          "label": {
            "da": "75 %",
            "de": "75%",
            "en": "75%",
            "es": "75%",
            "fi": "75 %",
            "fr": "75 %",
            "hi": "75%",
            "it": "75%",
            "ja": "75%",
            "ko": "75%",
            "nb": "75 %",
            "nl": "75%",
            "pt-BR": "75%",
            "pt-PT": "75%",
            "sv": "75 %",
            "th": "75%",
            "zh-CN": "75%",
            "zh-TW": "75%"
          },
          "value": "0.75"
        },
        {
          "label": {
            "da": "70 %",
            "de": "70 %",
            "en": "70%",
            "es": "70%",
            "fi": "70 %",
            "fr": "70 %",
            "hi": "70%",
            "it": "70%",
            "ja": "70%",
            "ko": "70%",
            "nb": "70 %",
            "nl": "70%",
            "pt-BR": "70%",
            "pt-PT": "70%",
            "sv": "70%",
            "th": "70%",
            "zh-CN": "70%",
            "zh-TW": "70%"
          },
          "value": "0.7"
        },
        {
          "label": {
            "da": "65 %",
            "de": "65 %",
            "en": "65%",
            "es": "65%",
            "fi": "65 %",
            "fr": "65 %",
            "hi": "65%",
            "it": "65%",
            "ja": "65%",
            "ko": "65%",
            "nb": "65 %",
            "nl": "65%",
            "pt-BR": "65%",
            "pt-PT": "65%",
            "sv": "65%",
            "th": "65%",
            "zh-CN": "65%",
            "zh-TW": "65%"
          },
          "value": "0.65"
        },
        {
          "label": {
            "da": "60 %",
            "de": "60 %",
            "en": "60%",
            "es": "60%",
            "fi": "60 %",
            "fr": "60 %",
            "hi": "60%",
            "it": "60%",
            "ja": "60%",
            "ko": "60%",
            "nb": "60 %",
            "nl": "60%",
            "pt-BR": "60%",
            "pt-PT": "60%",
            "sv": "60%",
            "th": "60%",
            "zh-CN": "60%",
            "zh-TW": "60%"
          },
          "value": "0.6"
        },
        {
          "label": {
            "da": "55 %",
            "de": "55 %",
            "en": "55%",
            "es": "55%",
            "fi": "55 %",
            "fr": "55 %",
            "hi": "55%",
            "it": "55%",
            "ja": "55%",
            "ko": "55%",
            "nb": "55 %",
            "nl": "55%",
            "pt-BR": "55%",
            "pt-PT": "55%",
            "sv": "55%",
            "th": "55%",
            "zh-CN": "55%",
            "zh-TW": "55%"
          },
          "value": "0.55"
        },
        {
          "label": {
            "da": "50 %",
            "de": "50%",
            "en": "50%",
            "es": "50%",
            "fi": "50 %",
            "fr": "50 %",
            "hi": "50%",
            "it": "50%",
            "ja": "50%",
            "ko": "50%",
            "nb": "50 %",
            "nl": "50%",
            "pt-BR": "50%",
            "pt-PT": "50%",
            "sv": "50 %",
            "th": "50%",
            "zh-CN": "50%",
            "zh-TW": "50%"
          },
          "value": "0.5"
        },
        {
          "label": {
            "da": "45 %",
            "de": "45 %",
            "en": "45%",
            "es": "45%",
            "fi": "45 %",
            "fr": "45 %",
            "hi": "45%",
            "it": "45%",
            "ja": "45%",
            "ko": "45%",
            "nb": "45 %",
            "nl": "45%",
            "pt-BR": "45%",
            "pt-PT": "45%",
            "sv": "45%",
            "th": "45%",
            "zh-CN": "45%",
            "zh-TW": "45%"
          },
          "value": "0.45"
        },
        {
          "label": {
            "da": "40 %",
            "de": "40 %",
            "en": "40%",
            "es": "40%",
            "fi": "40 %",
            "fr": "40 %",
            "hi": "40%",
            "it": "40%",
            "ja": "40%",
            "ko": "40%",
            "nb": "40 %",
            "nl": "40%",
            "pt-BR": "40%",
            "pt-PT": "40%",
            "sv": "40%",
            "th": "40%",
            "zh-CN": "40%",
            "zh-TW": "40%"
          },
          "value": "0.4"
        },
        {
          "label": {
            "da": "35 %",
            "de": "35 %",
            "en": "35%",
            "es": "35%",
            "fi": "35 %",
            "fr": "35 %",
            "hi": "35%",
            "it": "35%",
            "ja": "35%",
            "ko": "35%",
            "nb": "35 %",
            "nl": "35%",
            "pt-BR": "35%",
            "pt-PT": "35%",
            "sv": "35%",
            "th": "35%",
            "zh-CN": "35%",
            "zh-TW": "35%"
          },
          "value": "0.35"
        },
        {
          "label": {
            "da": "30 %",
            "de": "30 %",
            "en": "30%",
            "es": "30%",
            "fi": "30 %",
            "fr": "30 %",
            "hi": "30%",
            "it": "30%",
            "ja": "30%",
            "ko": "35%",
            "nb": "30 %",
            "nl": "30%",
            "pt-BR": "30%",
            "pt-PT": "30%",
            "sv": "30%",
            "th": "30%",
            "zh-CN": "30%",
            "zh-TW": "30%"
          },
          "value": "0.3"
        },
        {
          "label": {
            "da": "25 %",
            "de": "25%",
            "en": "25%",
            "es": "25%",
            "fi": "25 %",
            "fr": "25 %",
            "hi": "25%",
            "it": "25%",
            "ja": "25%",
            "ko": "25%",
            "nb": "25 %",
            "nl": "25%",
            "pt-BR": "25%",
            "pt-PT": "25%",
            "sv": "25 %",
            "th": "25%",
            "zh-CN": "25％",
            "zh-TW": "25%"
          },
          "value": "0.25"
        },
        {
          "label": {
            "da": "20 %",
            "de": "20 %",
            "en": "20%",
            "es": "20%",
            "fi": "20 %",
            "fr": "20 %",
            "hi": "20%",
            "it": "20%",
            "ja": "20%",
            "ko": "20%",
            "nb": "20 %",
            "nl": "20%",
            "pt-BR": "20%",
            "pt-PT": "20%",
            "sv": "20%",
            "th": "20%",
            "zh-CN": "20%",
            "zh-TW": "20%"
          },
          "value": "0.2"
        },
        {
          "label": {
            "da": "0 %",
            "de": "0 %",
            "en": "0%",
            "es": "0%",
            "fi": "0 %",
            "fr": "0 %",
            "hi": "0%",
            "it": "0%",
            "ja": "0%",
            "ko": "0%",
            "nb": "0 %",
            "nl": "0%",
            "pt-BR": "0%",
            "pt-PT": "0%",
            "sv": "0%",
            "th": "0%",
            "zh-CN": "0%",
            "zh-TW": "0%"
          },
          "value": "0"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "da": "Billede",
            "de": "Foto",
            "en": "Image",
            "es": "Imagen",
            "fi": "Kuva",
            "fr": "Image",
            "hi": "इमेज",
            "it": "Immagine",
            "ja": "画像",
            "ko": "이미지",
            "nb": "Bilde",
            "nl": "Afbeelding",
            "pt-BR": "Imagem",
            "pt-PT": "Imagem",
            "sv": "Bild",
            "th": "รูปภาพ",
            "zh-CN": "图片",
            "zh-TW": "圖片"
          },
          "info": "Recommended size: 1493x447 pixel"
        },
        {
          "type": "image_picker",
          "id": "mimage",
          "label": {
            "da": "Billede",
            "de": "Foto",
            "en": "Mobile Image",
            "es": "Imagen",
            "fi": "Kuva",
            "fr": "Image",
            "hi": "इमेज",
            "it": "Immagine",
            "ja": "画像",
            "ko": "이미지",
            "nb": "Bilde",
            "nl": "Afbeelding",
            "pt-BR": "Imagem",
            "pt-PT": "Imagem",
            "sv": "Bild",
            "th": "รูปภาพ",
            "zh-CN": "图片",
            "zh-TW": "圖片"
          },
          "info": "Recommended size: 360x357 pixel"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": {
            "da": "Justering af billede",
            "de": "Fotoausrichtung",
            "en": "Image alignment",
            "es": "Alineación de imagen",
            "fi": "Kuvan tasaus",
            "fr": "Alignement de l'image",
            "hi": "इमेज पंक्तिबद्ध करना",
            "it": "Allineamento immagine",
            "ja": "画像アラインメント",
            "ko": "이미지 정렬",
            "nb": "Bildejustering",
            "nl": "Afbeelding uitlijnen",
            "pt-BR": "Alinhamento da imagem",
            "pt-PT": "Alinhamento da imagem",
            "sv": "Bildjustering",
            "th": "การจัดวางรูปภาพ",
            "zh-CN": "图片对齐方式",
            "zh-TW": "圖片對齊"
          },
          "info": {
            "da": "Bruges når billeder ikke beskæres",
            "de": "Wird verwendet, wenn Bilder nicht abgeschnitten werden",
            "en": "Used when images are not cropped",
            "es": "Se utiliza cuando las imágenes no están recortadas.",
            "fi": "Käytössä silloin, kun kuvia ei ole rajattu",
            "fr": "S'utilise lorsque les images ne sont pas recadrées",
            "hi": "उपयोग किया जाता है जब इमेज क्रॉप नहीं होती हैं",
            "it": "Usato quando le immagini non sono ritagliate",
            "ja": "画像がトリミングされていないときに使用されます。",
            "ko": "이미지가 잘리지 않을 때 사용됨",
            "nb": "Brukes når bilder ikke er beskåret",
            "nl": "Wordt gebruikt wanneer afbeeldingen niet zijn bijgesneden",
            "pt-BR": "Usado quando as imagens não são cortadas",
            "pt-PT": "Utilizado quando as imagens não são cortadas",
            "sv": "Används när bilder inte är beskärda",
            "th": "ใช้เมื่อรูปภาพไม่ถูกครอบตัด",
            "zh-CN": "在未裁剪图片时使用",
            "zh-TW": "當圖片未經裁剪時使用"
          },
          "default": "center center",
          "options": [
            {
              "label": {
                "da": "Øverst til venstre",
                "de": "Oben links",
                "en": "Top left",
                "es": "Superior izquierda",
                "fi": "Ylhäällä vasemmalla",
                "fr": "En haut à gauche",
                "hi": "शीर्ष पर बाईं ओर",
                "it": "In alto a sinistra",
                "ja": "左上",
                "ko": "왼쪽 상단",
                "nb": "Øverst til venstre",
                "nl": "Linksboven",
                "pt-BR": "Superior esquerdo",
                "pt-PT": "Canto superior esquerdo",
                "sv": "Överst till vänster",
                "th": "ซ้ายบน",
                "zh-CN": "左上方",
                "zh-TW": "左上角"
              },
              "value": "top left"
            },
            {
              "label": {
                "da": "Øverst i midten",
                "de": "Oben Mitte",
                "en": "Top center",
                "es": "Superior centrada",
                "fi": "Keskellä ylhäällä",
                "fr": "En haut au centre",
                "hi": "शीर्ष केंद्र",
                "it": "In alto al centro",
                "ja": "中央上",
                "ko": "맨 위 중간",
                "nb": "Toppsentrert",
                "nl": "Midden boven",
                "pt-BR": "Superior centro",
                "pt-PT": "Superior centro",
                "sv": "Längst upp i mitten",
                "th": "กลางบน",
                "zh-CN": "顶部居中",
                "zh-TW": "中央上方"
              },
              "value": "top center"
            },
            {
              "label": {
                "da": "Øverst til højre",
                "de": "Oben rechts",
                "en": "Top right",
                "es": "Superior derecha",
                "fi": "Ylhäällä oikealla",
                "fr": "En haut à droite",
                "hi": "शीर्ष पर दाईं ओर",
                "it": "In alto a destra",
                "ja": "右上",
                "ko": "오른쪽 상단",
                "nb": "Øverst til høyre",
                "nl": "Rechtsboven",
                "pt-BR": "Superior direito",
                "pt-PT": "Canto superior direito",
                "sv": "Överst till höger",
                "th": "ขวาบน",
                "zh-CN": "右上方",
                "zh-TW": "右上角"
              },
              "value": "top right"
            },
            {
              "label": {
                "da": "Midt på til venstre",
                "de": "Mitte links",
                "en": "Middle left",
                "es": "Al medio a la izquierda",
                "fi": "Keskellä vasemmalla",
                "fr": "Au milieu à gauche",
                "hi": "मध्य में बाईं ओर",
                "it": "In mezzo a sinistra",
                "ja": "中央部左側",
                "ko": "왼쪽 중간",
                "nb": "Midt til venstre",
                "nl": "Links midden",
                "pt-BR": "Meio esquerdo",
                "pt-PT": "Intermédio à esquerda",
                "sv": "Mitten till vänster",
                "th": "ซ้ายกลาง",
                "zh-CN": "中间居左",
                "zh-TW": "中央左方"
              },
              "value": "center left"
            },
            {
              "label": {
                "da": "Midt på centreret",
                "de": "Mitte mittig",
                "en": "Middle center",
                "es": "Centrada en el medio",
                "fi": "Keskellä keskellä",
                "fr": "Centrée au milieu",
                "hi": "मध्य केंद्र",
                "it": "In mezzo al centro",
                "ja": "中心",
                "ko": "가운데 중간",
                "nb": "Midt i senter",
                "nl": "Centraal midden",
                "pt-BR": "Meio centro",
                "pt-PT": "Intermédio ao centro",
                "sv": "Mitten centrerat",
                "th": "กึ่งกลาง",
                "zh-CN": "中间居中",
                "zh-TW": "正中央"
              },
              "value": "center center"
            },
            {
              "label": {
                "da": "Midt på til højre",
                "de": "Mitte rechts",
                "en": "Middle right",
                "es": "Centrado a la derecha",
                "fi": "Keskellä oikealla",
                "fr": "Au milieu à droite",
                "hi": "मध्य में दाईं ओर",
                "it": "In centro a destra",
                "ja": "中央部右側",
                "ko": "오른쪽 중간",
                "nb": "Midt til høyre",
                "nl": "Rechts midden",
                "pt-BR": "Meio direito",
                "pt-PT": "Intermédio à direita",
                "sv": "Mitten till höger",
                "th": "ขวากลาง",
                "zh-CN": "中间居右",
                "zh-TW": "中央右方"
              },
              "value": "center right"
            },
            {
              "label": {
                "da": "Nederst til venstre",
                "de": "Unten links",
                "en": "Bottom left",
                "es": "Inferior izquierda",
                "fi": "Alhaalla vasemmalla",
                "fr": "En bas à gauche",
                "hi": "सबसे नीचे बाईं ओर",
                "it": "In basso a sinistra",
                "ja": "左下",
                "ko": "왼쪽 하단",
                "nb": "Nederst til venstre",
                "nl": "Linksonder",
                "pt-BR": "Inferior esquerdo",
                "pt-PT": "Canto inferior esquerdo",
                "sv": "Nere till vänster",
                "th": "ซ้ายล่าง",
                "zh-CN": "左下方",
                "zh-TW": "左下角"
              },
              "value": "bottom left"
            },
            {
              "label": {
                "da": "Nederst i midten",
                "de": "Unten mittig",
                "en": "Bottom center",
                "es": "Inferior centrada",
                "fi": "Keskellä alhaalla",
                "fr": "En bas au centre",
                "hi": "निचला केंद्र",
                "it": "In basso al centro",
                "ja": "中央下",
                "ko": "맨아래 중간",
                "nb": "Bunnsentrert",
                "nl": "Middenonder",
                "pt-BR": "Inferior centro",
                "pt-PT": "Inferior centro",
                "sv": "Längst ner i mitten",
                "th": "กลางล่าง",
                "zh-CN": "底部居中",
                "zh-TW": "中央下方"
              },
              "value": "bottom center"
            },
            {
              "label": {
                "da": "Nederst til højre",
                "de": "Unten rechts",
                "en": "Bottom right",
                "es": "Inferior derecha",
                "fi": "Alhaalla oikealla",
                "fr": "En bas à droite",
                "hi": "सबसे नीचे दाईं ओर",
                "it": "In basso a destra",
                "ja": "右下",
                "ko": "오른쪽 아래",
                "nb": "Nederst til høyre",
                "nl": "Rechtsonder",
                "pt-BR": "Inferior direito",
                "pt-PT": "Canto inferior direito",
                "sv": "Nere till höger",
                "th": "ขวาล่าง",
                "zh-CN": "右下方",
                "zh-TW": "右下角"
              },
              "value": "bottom right"
            }
          ]
        },
        {
          "type": "select",
          "id": "icon",
          "label": {
            "da": "Ikon",
            "de": "Symbol",
            "en": "Icon",
            "es": "Ícono",
            "fi": "Kuvake",
            "fr": "Icône",
            "hi": "आइकन",
            "it": "Icona",
            "ja": "アイコン",
            "ko": "아이콘",
            "nb": "Ikon",
            "nl": "Pictogram",
            "pt-BR": "Ícone",
            "pt-PT": "Ícone",
            "sv": "Ikon",
            "th": "ไอคอน",
            "zh-CN": "图标",
            "zh-TW": "圖示"
          },
          "default": "checkmark",
          "options": [
            {
              "label": {
                "da": "Ingen",
                "de": "Keine",
                "en": "None",
                "es": "Ninguna",
                "fi": "Ei mitään",
                "fr": "Aucune",
                "hi": "कोई नहीं",
                "it": "Nessuno",
                "ja": "なし",
                "ko": "없음",
                "nb": "Ingen",
                "nl": "Geen",
                "pt-BR": "Nenhum",
                "pt-PT": "Nenhum",
                "sv": "Inga",
                "th": "ไม่มี",
                "zh-CN": "无",
                "zh-TW": "無"
              },
              "value": "none"
            },
            {
              "label": {
                "da": "postboks",
                "de": "Kiste",
                "en": "Box",
                "es": "Caja",
                "fi": "lokero",
                "fr": "Colis",
                "hi": "बॉक्स",
                "it": "Scatola",
                "ja": "箱",
                "ko": "상자",
                "nb": "Boks",
                "nl": "Doos",
                "pt-BR": "Caixa",
                "pt-PT": "Caixa",
                "sv": "Låda",
                "th": "กล่อง",
                "zh-CN": "包装箱",
                "zh-TW": "裝運箱"
              },
              "value": "box"
            },
            {
              "label": {
                "da": "Kort",
                "de": "Karte",
                "en": "Card",
                "es": "Tarjeta",
                "fi": "Kortti",
                "fr": "Carte",
                "hi": "कार्ड",
                "it": "Cartolina",
                "ja": "カード",
                "ko": "카드",
                "nb": "Kort",
                "nl": "Kaart",
                "pt-BR": "Cartão",
                "pt-PT": "Cartão",
                "sv": "Kort",
                "th": "การ์ด",
                "zh-CN": "卡",
                "zh-TW": "卡片"
              },
              "value": "card"
            },
            {
              "label": {
                "da": "Indkøbskurv",
                "de": "Warenkorb",
                "en": "Cart",
                "es": "Carrito",
                "fi": "Ostoskori",
                "fr": "Panier",
                "hi": "कार्ट",
                "it": "Carrello",
                "ja": "カート",
                "ko": "카트",
                "nb": "Handlekurv",
                "nl": "Winkelwagen",
                "pt-BR": "Carrinho",
                "pt-PT": "Carrinho",
                "sv": "Varukorg",
                "th": "ตะกร้าสินค้า",
                "zh-CN": "购物车",
                "zh-TW": "購物車"
              },
              "value": "cart"
            },
            {
              "label": {
                "da": "Afkrydsning",
                "de": "Häkchen",
                "en": "Checkmark",
                "es": "Marca de verificación",
                "fi": "Valintamerkki",
                "fr": "Coche",
                "hi": "चेकमार्क",
                "it": "Segno di spunta",
                "ja": "チェックマーク",
                "ko": "확인 표시",
                "nb": "Avmerking",
                "nl": "Vinkje",
                "pt-BR": "Marca de seleção",
                "pt-PT": "Marca de verificação",
                "sv": "Markering",
                "th": "เครื่องหมายถูก",
                "zh-CN": "复选标记",
                "zh-TW": "勾號"
              },
              "value": "checkmark"
            },
            {
              "label": {
                "da": "Ur",
                "de": "Uhr",
                "en": "Clock",
                "es": "Reloj",
                "fi": "Kello",
                "fr": "Horloge",
                "hi": "घड़ी",
                "it": "Orologio",
                "ja": "時計",
                "ko": "시계",
                "nb": "Klokke",
                "nl": "Klok",
                "pt-BR": "Relógio",
                "pt-PT": "Relógio",
                "sv": "Klocka",
                "th": "นาฬิกา",
                "zh-CN": "时钟",
                "zh-TW": "時鐘"
              },
              "value": "clock"
            },
            {
              "label": {
                "da": "Konvolut",
                "de": "Briefumschlag",
                "en": "Envelope",
                "es": "Sobre",
                "fi": "Kirjekuori",
                "fr": "Enveloppe",
                "hi": "लिफ़ाफ़ा",
                "it": "Busta",
                "ja": "封筒",
                "ko": "봉투",
                "nb": "Konvolutt",
                "nl": "Enveloppe",
                "pt-BR": "Envelope",
                "pt-PT": "Envelope",
                "sv": "Kuvert",
                "th": "ซอง",
                "zh-CN": "信封",
                "zh-TW": "信封"
              },
              "value": "envelope"
            },
            {
              "label": {
                "da": "Globus",
                "de": "Globus",
                "en": "Globe",
                "es": "Globo",
                "fi": "Maapallo",
                "fr": "Globe",
                "hi": "ग्लोब",
                "it": "Globo",
                "ja": "地球",
                "ko": "글로브",
                "nb": "Globus",
                "nl": "Wereldbol",
                "pt-BR": "Globo",
                "pt-PT": "Globo",
                "sv": "Glob",
                "th": "ลูกโลก",
                "zh-CN": "地球",
                "zh-TW": "地球"
              },
              "value": "globe"
            },
            {
              "label": {
                "da": "Blad",
                "de": "Leaf",
                "en": "Leaf",
                "es": "Hoja",
                "fi": "Lehti",
                "fr": "Feuille",
                "hi": "लीफ",
                "it": "Foglia",
                "ja": "葉",
                "ko": "리프",
                "nb": "Blad",
                "nl": "Blad",
                "pt-BR": "Folha",
                "pt-PT": "Folha",
                "sv": "Blad",
                "th": "ใบไม้",
                "zh-CN": "树叶",
                "zh-TW": "葉片"
              },
              "value": "leaf"
            },
            {
              "label": {
                "da": "Hængelås",
                "de": "Vorhängeschloss",
                "en": "Padlock",
                "es": "Candado",
                "fi": "Lukko",
                "fr": "Cadenas",
                "hi": "पेडलॉक",
                "it": "Lucchetto",
                "ja": "南京錠",
                "ko": "패드락",
                "nb": "Hengelås",
                "nl": "Hangslot",
                "pt-BR": "Cadeado",
                "pt-PT": "Cadeado",
                "sv": "Hänglås",
                "th": "กุญแจ",
                "zh-CN": "挂锁",
                "zh-TW": "掛鎖"
              },
              "value": "padlock"
            },
            {
              "label": {
                "da": "Prismærke",
                "de": "Preisschild",
                "en": "Price Tag",
                "es": "Etiqueta de precio",
                "fi": "Hintatunniste",
                "fr": "Balise de prix",
                "hi": "कीमत का टैग",
                "it": "Cartellino del prezzo",
                "ja": "値札",
                "ko": "가격 태그",
                "nb": "Prislapp",
                "nl": "Prijskaartje",
                "pt-BR": "Etiqueta de preço",
                "pt-PT": "Etiqueta de preço",
                "sv": "Prislapp",
                "th": "ป้ายราคา",
                "zh-CN": "价格标签",
                "zh-TW": "價格標籤"
              },
              "value": "pricetag"
            },
            {
              "label": {
                "da": "Silhuet",
                "de": "Silhouette",
                "en": "Silhouette",
                "es": "Silueta",
                "fi": "Siluetti",
                "fr": "Silhouette",
                "hi": "सिल्हूट",
                "it": "Silhouette",
                "ja": "シルエット",
                "ko": "실루엣",
                "nb": "Silhuett",
                "nl": "Silhouet",
                "pt-BR": "Silhueta",
                "pt-PT": "Silhueta",
                "sv": "Siluett",
                "th": "ภาพเงา",
                "zh-CN": "剪影",
                "zh-TW": "剪影"
              },
              "value": "silhouette"
            },
            {
              "label": {
                "da": "Trofæ",
                "de": "Trophäe",
                "en": "Trophy",
                "es": "Trofeo",
                "fi": "Palkinto",
                "fr": "Trophée",
                "hi": "ट्रॉफी",
                "it": "Trofeo",
                "ja": "トロフィー",
                "ko": "트로피",
                "nb": "Trofé",
                "nl": "Trofee",
                "pt-BR": "Troféu",
                "pt-PT": "Troféu",
                "sv": "Trophy",
                "th": "ถ้วยรางวัล",
                "zh-CN": "奖杯",
                "zh-TW": "獎盃"
              },
              "value": "trophy"
            },
            {
              "label": {
                "da": "Lastbil",
                "de": "Lieferwagen",
                "en": "Truck",
                "es": "Camión",
                "fi": "Kuljetusajoneuvo",
                "fr": "Camion",
                "hi": "ट्रक",
                "it": "Camion",
                "ja": "トラック",
                "ko": "트럭",
                "nb": "Varebil",
                "nl": "Vrachtwagen",
                "pt-BR": "Caminhão",
                "pt-PT": "Camião",
                "sv": "Lastbil",
                "th": "รถบรรทุก",
                "zh-CN": "卡车",
                "zh-TW": "卡車"
              },
              "value": "truck"
            }
          ]
        },
        {
          "type": "header",
          "content": {
            "da": "Tekst",
            "de": "Text",
            "en": "Text",
            "es": "Texto",
            "fi": "Teksti",
            "fr": "Texte",
            "hi": "टेक्स्ट",
            "it": "Testo",
            "ja": "テキスト",
            "ko": "텍스트",
            "nb": "Tekst",
            "nl": "Tekst",
            "pt-BR": "Texto",
            "pt-PT": "Texto",
            "sv": "Text",
            "th": "ข้อความ",
            "zh-CN": "文本",
            "zh-TW": "文字"
          }
        },
        {
          "type": "text",
          "id": "cta_label",
          "label": {
            "da": "Billedtekst",
            "de": "Unterschrift",
            "en": "Caption",
            "es": "Leyenda",
            "fi": "Kuvateksti",
            "fr": "Légende",
            "hi": "कैप्शन",
            "it": "Didascalia",
            "ja": "キャプション",
            "ko": "캡션",
            "nb": "Bildetekst",
            "nl": "Bijschrift",
            "pt-BR": "Legenda",
            "pt-PT": "Legenda",
            "sv": "Rubrik",
            "th": "คำบรรยาย",
            "zh-CN": "字幕",
            "zh-TW": "說明"
          },
          "default": {
            "da": "Fortæl om dit brand",
            "de": "Über Ihre Marke sprechen",
            "en": "Talk about your brand",
            "es": "Habla de tu marca",
            "fi": "Kerro brändistäsi",
            "fr": "Parlez de votre marque",
            "hi": "अपने ब्रांड के बारे में बात करें",
            "it": "Parla del tuo brand",
            "ja": "あなたのブランドについて語る",
            "ko": "브랜드에 대해 이야기하기",
            "nb": "Snakk om merkevaren din",
            "nl": "Vertel over je merk",
            "pt-BR": "Fale sobre a sua marca",
            "pt-PT": "Fale sobre a sua marca",
            "sv": "Prata om ditt varumärke",
            "th": "พูดถึงแบรนด์ของคุณ",
            "zh-CN": "介绍您的品牌",
            "zh-TW": "描述您的品牌"
          }
        },
        {
          "type": "url",
          "id": "link",
          "label": {
            "da": "Link",
            "de": "Link",
            "en": "Link",
            "es": "Enlace",
            "fi": "Linkki",
            "fr": "Lien",
            "hi": "लिंक",
            "it": "Link",
            "ja": "リンク",
            "ko": "링크",
            "nb": "Kobling",
            "nl": "Link",
            "pt-BR": "Link",
            "pt-PT": "Ligação",
            "sv": "Länk",
            "th": "ลิงก์",
            "zh-CN": "链接",
            "zh-TW": "連結"
          },
          "info": {
            "da": "Valgfri",
            "de": "Optional",
            "en": "Optional",
            "es": "Opcional",
            "fi": "Valinnainen",
            "fr": "Facultatif",
            "hi": "वैकल्पिक",
            "it": "Facoltativo",
            "ja": "オプション",
            "ko": "선택 사항",
            "nb": "Valgfritt",
            "nl": "Optioneel",
            "pt-BR": "Opcional",
            "pt-PT": "Opcional",
            "sv": "Valfritt",
            "th": "ไม่จำเป็น",
            "zh-CN": "可选",
            "zh-TW": "(選填)"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "da": "Galleri",
        "de": "Galerie",
        "en": "Gallery",
        "es": "Galería",
        "fi": "Galleria",
        "fr": "Galerie",
        "hi": "गैलरी",
        "it": "Galleria",
        "ja": "ギャラリー",
        "ko": "갤러리",
        "nb": "Galleri",
        "nl": "Galerie",
        "pt-BR": "Galeria",
        "pt-PT": "Galeria",
        "sv": "Galleri",
        "th": "แกลเลอรี",
        "zh-CN": "图库",
        "zh-TW": "圖庫"
      },
      "category": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
