<style>
  .highlight--{{ section.id }} .highlight__line {
    background-color: {{ section.settings.border_color }};
  }
</style>

<div class="highlight highlight--{{ section.id }} highlight--align-{{ section.settings.content_alignment }}" data-section-id="{{ section.id }}" data-section-type="highlight-section">
  <div class="page-width page-width--narrow">
    <div class="highlight__wrapper">
      <div class="highlight__image-container highlight__image-container--{{ section.settings.image_position }}">
        {% if section.settings.image == blank %}
          {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg highlight__image highlight__image--placeholder' }}
        {% else %}
          <div class="highlight__image-wrapper" style="padding-top:{{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100}}%">
            <img class="highlight__image"
              src="{{ section.settings.image | img_url: '800x' }}"
              alt="{{ section.settings.image.alt | escape }}">
          </div>
        {% endif %}
      </div>
      <div class="highlight__content-container">
        <h2 class="h3">{{ section.settings.heading }}</h2>
        <p>{{ section.settings.text }}</p>
        {% if section.settings.button_text != blank %}
          <a class="btn{% if section.settings.use_second_button %} btn--secondary{% endif %}" href="{{ section.settings.button_link }}">{{ section.settings.button_text }}</a>
        {% endif %}
      </div>

      <div class="highlight__border" data-animate>
        <div class="highlight__line highlight__line--top"></div>
        <div class="highlight__line highlight__line--right"></div>
        <div class="highlight__line highlight__line--bottom"></div>
        <div class="highlight__line highlight__line--left"></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": {
    "da": "Fremhæv",
    "de": "Markieren",
    "en": "Highlight",
    "es": "Resaltar",
    "fi": "Kohokohdat",
    "fr": "Surligner",
    "hi": "हाइलाइट",
    "it": "In evidenza",
    "ja": "ハイライト",
    "ko": "강조 표시",
    "nb": "Fremhev",
    "nl": "Markeren",
    "pt-BR": "Destaque",
    "pt-PT": "Destaque",
    "sv": "Markera",
    "th": "ไฮไลท์",
    "zh-CN": "突出显示",
    "zh-TW": "醒目顯示"
  },
  "class": "index-section index-section--highlight",
  "settings": [
    {
      "type": "color",
      "id": "border_color",
      "label": {
        "da": "Kantfarve",
        "de": "Randfarbe",
        "en": "Border Color",
        "es": "Color del borde",
        "fi": "Reunaviivan väri",
        "fr": "Couleur de la bordure",
        "hi": "बॉर्डर का रंग",
        "it": "Colore bordo",
        "ja": "枠線の色",
        "ko": "테두리 색상",
        "nb": "Rammefarge",
        "nl": "Randkleur",
        "pt-BR": "Cor da borda",
        "pt-PT": "Cor do limite",
        "sv": "Gränsfärg",
        "th": "สีเส้นขอบ",
        "zh-CN": "边框颜色",
        "zh-TW": "邊框顏色"
      },
      "default": "#758560"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": {
        "da": "Indholdsjustering",
        "de": "Inhaltsausrichtung",
        "en": "Content alignment",
        "es": "Alineación de contenido",
        "fi": "Sisällön kohdistus",
        "fr": "Alignement du contenu",
        "hi": "सामग्री संरेखण",
        "it": "Allineamento contenuto",
        "ja": "コンテンツアラインメント",
        "ko": "콘텐츠 정렬",
        "nb": "Innholdsjustering",
        "nl": "Content uitlijnen",
        "pt-BR": "Alinhamento de conteúdo",
        "pt-PT": "Alinhamento de conteúdo",
        "sv": "Innehållsjustering",
        "th": "การจัดวางเนื้อหา",
        "zh-CN": "内容对齐方式",
        "zh-TW": "內容對齊"
      },
      "default": "middle",
      "options": [
        {
          "label": {
            "da": "Top",
            "de": "Oben",
            "en": "Top",
            "es": "Superior",
            "fi": "Ylös",
            "fr": "En haut",
            "hi": "सबसे ऊपर",
            "it": "In alto",
            "ja": "上",
            "ko": "위쪽",
            "nb": "Topp",
            "nl": "Boven",
            "pt-BR": "Acima",
            "pt-PT": "Acima",
            "sv": "Högst upp",
            "th": "ด้านบน",
            "zh-CN": "顶部",
            "zh-TW": "頂部"
          },
          "value": "top"
        },
        {
          "label": {
            "da": "I midten",
            "de": "Mitte",
            "en": "Middle",
            "es": "Centrada",
            "fi": "Keskelle",
            "fr": "Au milieu",
            "hi": "मध्य में",
            "it": "Al centro",
            "ja": "中央",
            "ko": "중간",
            "nb": "Midten",
            "nl": "Midden",
            "pt-BR": "Meio",
            "pt-PT": "Meio",
            "sv": "Mitten",
            "th": "ตรงกลาง",
            "zh-CN": "中间",
            "zh-TW": "中央"
          },
          "value": "middle"
        },
        {
          "label": {
            "da": "Bund",
            "de": "Unten",
            "en": "Bottom",
            "es": "Inferior",
            "fi": "Alas",
            "fr": "En bas",
            "hi": "नीचे का",
            "it": "In basso",
            "ja": "下",
            "ko": "아래쪽",
            "nb": "Bunn",
            "nl": "Onder",
            "pt-BR": "Abaixo",
            "pt-PT": "Abaixo",
            "sv": "Längst ner",
            "th": "ด้านล่าง",
            "zh-CN": "底部",
            "zh-TW": "底部"
          },
          "value": "bottom"
        }
      ]
    },
    {
      "type": "header",
      "content": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    },
    {
      "type": "select",
      "id": "image_position",
      "label": {
        "da": "Placering af billede",
        "de": "Foto-Position",
        "en": "Image position",
        "es": "Posición de la imagen",
        "fi": "Kuvan sijainti",
        "fr": "Position de l'image",
        "hi": "इमेज स्थिति",
        "it": "Posizione Immagine",
        "ja": "画像の位置",
        "ko": "이미지 위치",
        "nb": "Bildeposisjon",
        "nl": "Positie afbeelding",
        "pt-BR": "Posição da imagem",
        "pt-PT": "Posição da imagem",
        "sv": "Bildposition",
        "th": "ตำแหน่งรูปภาพ",
        "zh-CN": "图片位置",
        "zh-TW": "圖片位置"
      },
      "default": "back",
      "options": [
        {
          "label": {
            "da": "Forfra",
            "de": "Vorne",
            "en": "Front",
            "es": "Frente",
            "fi": "Etupuoli",
            "fr": "Avant",
            "hi": "सामने",
            "it": "Fronte",
            "ja": "フロント",
            "ko": "앞면",
            "nb": "Forside",
            "nl": "Voorkant",
            "pt-BR": "Frente",
            "pt-PT": "Frente",
            "sv": "Fram",
            "th": "ด้านหน้า",
            "zh-CN": "正面",
            "zh-TW": "正面"
          },
          "value": "front"
        },
        {
          "label": {
            "da": "Tilbage",
            "de": "Zurück",
            "en": "Back",
            "es": "Regresar",
            "fi": "Takaisin",
            "fr": "Arrière",
            "hi": "पीछे जाएँ",
            "it": "Indietro",
            "ja": "戻る",
            "ko": "뒤로",
            "nb": "Tilbake",
            "nl": "Terug",
            "pt-BR": "Voltar",
            "pt-PT": "Verso",
            "sv": "Backa",
            "th": "ย้อนกลับ",
            "zh-CN": "返回",
            "zh-TW": "返回"
          },
          "value": "back"
        }
      ]
    },
    {
      "type": "header",
      "content": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      }
    },
    {
      "type": "text",
      "id": "heading",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "Titre",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Gavekort",
        "de": "Geschenkgutschein",
        "en": "Gift card",
        "es": "Tarjeta de regalo",
        "fi": "Lahjakortti",
        "fr": "Carte-cadeau",
        "hi": "गिफ़्ट कार्ड",
        "it": "Buono regalo",
        "ja": "ギフトカード",
        "ko": "기프트 카드",
        "nb": "Gavekort",
        "nl": "Cadeaubon",
        "pt-BR": "Cartão-presente",
        "pt-PT": "Cartão de oferta",
        "sv": "Presentkort",
        "th": "บัตรของขวัญ",
        "zh-CN": "礼品卡",
        "zh-TW": "禮品卡"
      }
    },
    {
      "type": "textarea",
      "id": "text",
      "label": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": {
        "da": "Leder du efter noget til en helt særlig person? Et gavekort til vores butik er den helt perfekte idé!",
        "de": "Suchen Sie etwas Besonderes? Dann ist ein Geschenkgutschein für unseren Shop genau das Richtige!",
        "en": "Looking for something for someone special? A gift card to our store is the perfect idea!",
        "es": "¿Estás buscando algo para alguien especial? Una tarjeta de regalo de nuestra tienda es el mejor regalo.",
        "fi": "Etsitkö jotain jollekin erityiselle? Lahjakortti kauppaamme on täydellinen lahjaidea!",
        "fr": "Vous cherchez quelque chose pour quelqu'un de spécial ? Une carte-cadeau à utiliser dans notre boutique, c'est ce qu'il vous faut !",
        "hi": "किसी विशेष के लिए कुछ खोज रहे हैं? हमारे स्टोर के लिए एक गिफ़्ट कार्ड सही विचार है!",
        "it": "Cerchi qualcosa per una persona speciale? Un buono regalo per il nostro negozio è una bellissima idea!",
        "ja": "特別な人のために何かをお探しですか?私たちのストアのギフトカードは、完璧なアイデアです!",
        "ko": "특별한 분을 위한 것을 찾고 계십니까? 저희 스토어의 기프트 카드는 완벽한 아이디어입니다!",
        "nb": "På jakt etter noe spesielt til en spesiell person? Et gavekort til butikken vår er en perfekt idé!",
        "nl": "Ben je op zoek naar het perfecte cadeau voor die ene speciale persoon? Koop dan een cadeaubon voor onze winkel!",
        "pt-BR": "À procura de algo para alguém especial? Um cartão-presente de nossa loja é a escolha perfeita!",
        "pt-PT": "À procura de algo para alguém especial? Um cartão de oferta da nossa loja é a escolha perfeita!",
        "sv": "Letar du efter något för någon speciell? Ett presentkort till vår butik är den perfekta idén!",
        "th": "กำลังหาของสุดล้ำให้คนสำคัญอยู่หรือเปล่า บัตรของขวัญร้านค้าของเราคือตัวเลือกยอดเยี่ยม!",
        "zh-CN": "要为特别的人买些东西？我们商店的礼品卡是一个绝妙的主意！",
        "zh-TW": "您想為特別的那個人挑選禮品嗎？我們的禮品卡就是您的完美選擇！"
      }
    },
    {
      "type": "checkbox",
      "id": "use_second_button",
      "label": {
        "da": "Brug sekundær knaptypografi",
        "de": "Stil für sekundäre Schaltflächen verwenden",
        "en": "Use secondary button style",
        "es": "Utiliza el estilo de botón secundario",
        "fi": "Käytä toissijaista painikkeen tyyliä",
        "fr": "Utiliser le style de bouton secondaire",
        "hi": "द्वितीयक बटन स्टाइल का उपयोग करें",
        "it": "Usa stile pulsante secondario",
        "ja": "サブボタンのスタイルを使用する",
        "ko": "보조 버튼 스타일 사용",
        "nb": "Bruk sekundær knappestil",
        "nl": "Secundaire knopstijl gebruiken",
        "pt-BR": "Usar o estilo de botão secundário",
        "pt-PT": "Utilizar estilo de botão secundário",
        "sv": "Använd sekundärknappsstil",
        "th": "ใช้รูปแบบปุ่มรอง",
        "zh-CN": "使用辅助按钮样式",
        "zh-TW": "使用次要按鈕樣式"
      },
      "default": false
    },
    {
      "type": "text",
      "id": "button_text",
      "label": {
        "da": "Knaptekst",
        "de": "Button-Etikett",
        "en": "Button label",
        "es": "Etiqueta de botón",
        "fi": "Tekstipainike",
        "fr": "Texte du bouton",
        "hi": "बटन लेबल",
        "it": "Etichetta pulsante",
        "ja": "ボタンのラベル",
        "ko": "버튼 레이블",
        "nb": "Knappetikett",
        "nl": "Knoplabel",
        "pt-BR": "Etiqueta de botão",
        "pt-PT": "Etiqueta do botão",
        "sv": "Knappetikett",
        "th": "ป้ายกำกับปุ่ม",
        "zh-CN": "按钮标签",
        "zh-TW": "按鈕標籤"
      },
      "default": {
        "da": "Se",
        "de": "Ansicht",
        "en": "View",
        "es": "Ver",
        "fi": "Näytä",
        "fr": "Afficher",
        "hi": "देखें",
        "it": "Visualizza",
        "ja": "表示する",
        "ko": "보기",
        "nb": "Vis",
        "nl": "Bekijken",
        "pt-BR": "Visualizar",
        "pt-PT": "Ver",
        "sv": "Visa",
        "th": "ดู",
        "zh-CN": "预览",
        "zh-TW": "檢視"
      }
    },
    {
      "type": "url",
      "id": "button_link",
      "label": {
        "da": "Knaplink",
        "de": "Button-Etikett",
        "en": "Button link",
        "es": "Enlace de botón",
        "fi": "Painikelinkki",
        "fr": "Lien du bouton",
        "hi": "बटन लिंक",
        "it": "Link pulsante",
        "ja": "ボタンのリンク",
        "ko": "버튼 링크",
        "nb": "Kobling for knapp",
        "nl": "Knoplink",
        "pt-BR": "Link de botão",
        "pt-PT": "Ligação do botão",
        "sv": "Knapplänk",
        "th": "ลิงก์ปุ่ม",
        "zh-CN": "按钮链接",
        "zh-TW": "按鈕連結"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "da": "Fremhæv",
        "de": "Markieren",
        "en": "Highlight",
        "es": "Resaltar",
        "fi": "Kohokohdat",
        "fr": "Surligner",
        "hi": "हाइलाइट",
        "it": "In evidenza",
        "ja": "ハイライト",
        "ko": "강조 표시",
        "nb": "Fremhev",
        "nl": "Markeren",
        "pt-BR": "Destaque",
        "pt-PT": "Destaque",
        "sv": "Markera",
        "th": "ไฮไลท์",
        "zh-CN": "突出显示",
        "zh-TW": "醒目顯示"
      },
      "category": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    }
  ]
}
{% endschema %}
