<style>
  .content-for-layout {background-color: #fff; padding-bottom: 0;}
  {% if section.settings.image_header %}
    .site-header__wrapper {background: url('https:{{ section.settings.image_header | split: '/' | reverse | first | file_url }}')}
  {% endif %}
  
  #shopify-section-{{section.id}} .wholesale-inquiries {padding-top: 0.5em;}
  #shopify-section-{{section.id}} .wholesale-inquiries .text {margin-bottom: 6em;}
  
  @media all and (max-width: 600px) {
    #shopify-section-{{section.id}} .wholesale-inquiries .text {margin-bottom: 0; color: #515151;}
    #shopify-section-{{section.id}} .wholesale-inquiries {margin-top: -1.5em; padding-top: 0;}
  }
</style>

<section class="wholesale-inquiries">
  <div class="wi-script">
    <iframe src="https://www.faire.com/embed/bw_97y1s3frqx" width="500" height="700" scrolling="no" style="margin:0 auto;border:none;display:block;max-width:100%;"></iframe>
  </div>
</section>

{% schema %}
  {
    "name": "Wholesale Inquiries",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_header",
        "label": "Image Header"
      }
	]
  }
{% endschema %}
