<div class="custom-page-width page-form-price-quotation-div">
    <div class="form-price-header">
        <div class="form-price-header-block">
        <h2 class="page-form-price-title">{{ section.settings.form_title }}</h2>
        <p class="page-form-price-sub-title">{{ section.settings.form_sub_title }}</p>
        </div>
    </div>
    <div class="form-price-quotation">
    <form method="post" action="/contact#contact_form" id="contact_form_page" accept-charset="UTF-8" class="contact-form" onsubmit="window.Shopify.recaptchaV3.addToken(this); return false;">
        <input type="hidden" name="form_type" value="contact">
        <input type="hidden" name="utf8" value="✓">
            {% if form.posted_successfully? %}
              <p class="green-class">
                {{ 'contact.form.post_success' | t }}
              </p>
            {% endif %}
    
            {{ form.errors | default_errors }}
    <div> 
    <label for="ContactFullname">{{ section.settings.form_fullname }} <span class="asterisk">*</span></label>
    <input
        type="text"
        id="ContactFullname"
        name="contact[{{ 'contact.form.name' | t }}]"
        placeholder="{{ 'contact.form.name' | t }}" 
        autocapitalize="words" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}" required >
    <div class="d-flex">
                <label for="ContactPhone">{{ section.settings.form_phone }} <span class="asterisk optional-field">(optional)</span></label>
                <label for="ContactEmail">{{ section.settings.form_email }} <span class="asterisk">*</span></label>
        </div>
        <div class="d-flex">
                <input
                    type="text"
                    id="ContactPhone"
                    name="contact[phone]" 
                    placeholder="Phone" 
                    autocorrect="off" 
                    autocapitalize="off" >    
                <input type="email" 
                value="{% if customer %}{{ customer.email }}{% endif %}" 
                placeholder="Email Address" 
                name="contact[email]" id="ContactEmail"
                autocorrect="off" autocapitalize="off" required >      
        </div>
        <div class="d-flex">
            <label for="ContactQuantity">{{ section.settings.form_quantity }} <span class="asterisk optional-field">(optional)</span></label>
            <p for="ContactUpload">{{ section.settings.form_upload_logo }} <span class="asterisk optional-field">(optional)</span></p>
        </div>
        <div class="d-flex">
        <input
            type="text"
            id="ContactQuantity"
            name="contact[quantity]"
            placeholder="Quantity" >
        <button id="ContactUpload" class="btn_contact_upload" type="button">{{ section.settings.form_upload_button }}</button>
        </div>
    <input type="hidden" name="contact[logo_uploaded_url]" />
    <label for="ContactFormSubject" class="d-none">Subject <span class="asterisk">*</span></label>
    <input type="hidden" id="ContactFormSubject" name="contact[subject]" placeholder="Subject" value="Corporate Orders Form Inquiry">
    <label for="ContactFormMessage">{{ section.settings.form_message }} <span class="asterisk">*</span></label>
    <textarea rows="6" id="ContactFormMessage" name="contact[{{ 'contact.form.message' | t }}]" placeholder="Brief Description">{% if form.body %}{{ form.body }}{% endif %}</textarea>
    <button id="SubmitPriceQuotation" class="btn_submit_quote" type="submit">{{ 'contact.form.send' | t }}</button>
    </form>
      </div>
    </div>
</div>

{% schema %}
{
    "name": "Corporate Gifting",
    "settings": [
    {
        "type": "header",
        "content": "Corporate Gifting"
    },
    {
        "type": "text",
        "id": "form_title",
        "label": "Form Title",
        "default": "REQUEST FOR QUOTE"
    },
    {
        "type": "text",
        "id": "form_sub_title",
        "label": "Form Subtitle",
        "default": "Please take a moment to fill the form."
    },
    {
        "type": "text",
        "id": "form_fullname",
        "label": "Fullname label or placeholder",
        "default": "Fullname"
    },
    {
        "type": "text",
        "id": "form_phone",
        "label": "Phone label or placeholder",
        "default": "Phone"
    },
    {
        "type": "text",
        "id": "form_email",
        "label": "Email label or placeholder",
        "default": "Email"
    },
    {
        "type": "text",
        "id": "form_quantity",
        "label": "Email quantity or placeholder",
        "default": "Quantity"
    },
    {
        "type": "text",
        "id": "form_upload_logo",
        "label": "Uploader Logo label or placeholder",
        "default": "Click `Choose a Logo` to upload your logo. *"
    },
    {
        "type": "text",
        "id": "form_upload_button",
        "label": "Uploader button label or placeholder",
        "default": "Choose a logo"
    },
    {
        "type": "text",
        "id": "form_message",
        "label": "Message label or placeholder",
        "default": "Comments/Special Requests."
    }
    ]
}
{% endschema %}