@media(min-width: 1025px) {
.custom-order-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.custom-order-whole-form {
    position: relative;
    display: flex;
}
.custom-order-form-w60 {
    width: 50%;
    height: 100vh;
    background-color: #f7f7f7;
    padding-top: 38px;
    padding-left: 18px;
}
.custom-order-form-w40 {
    position: relative;
    width: 50%;
    max-height: 100vh;
}
.custom-order-product-form {
    width: calc(100% - 11px); 
    height: 100%;
    background-color: #fff;
    margin-top: 38px;
    box-shadow: -1px -3px 11px 16px #ddd;
    overflow-y: overlay;
}
.custom-order-product-head {
    font-weight: 400;
    font-size: 1em;
    line-height: 22px;
}
.custom-order-product-msg {
    background-color: #3a3a3a;
    color: #fff;
    font-size: 13px;
    line-height: 1.42857;  
    padding: 13px 20px;
    text-align: center;
    font-size: 14px;
    padding-left: 44px;
    padding-right: 44px;
}
.custom-order-product-form h1 {
    flex-basis: calc(100% - 120px);
    font-weight: 400;
    font-size: 38px;
    line-height: 22px;
    margin: auto;
    text-align: left;
}
.d-flex {
    display: flex;
}
.col-10 {
    width: 83.33%;
}
.col-2 {
    width: 16.66%;
}
.col-8 {
    width: 66.64%;
}
.col-6 {
    width: 49.98%;
}
.col-4 {
    width: 33.32%;
}
.w-58 {
    width: 58%;
}
.w-42 {
    width: 42%;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.custom-product-title {
    font-size: 28px;
    font-weight: 600;
    padding: 21px 28px;
    text-align: left;
    margin: auto;
}
.custom-product-price {
    font-weight: 600;
    padding: 18px 0;
    padding-right: 0;
    text-align: right;
    margin-right: 28px;
    display: inline-grid;
}
.custom-product-border-bottom {
    border-bottom: 1px solid #ddd;
}
.custom-product-option-div {
    cursor: pointer;
}
.custom-product-option-div:hover {
    background-color: #fbfbfb;
}
.custom-product-option-title {
    font-size: 18px;
    padding: 8px;
    padding-left: 28px;
    text-align: left;
    display: inline-block;
    position: relative;
}
.custom-product-option-title:after {
    border-color: #3a3a3a transparent transparent;
    border-width: 6px;
    height: 3px;
    position: absolute;
    right: -22px;
    top: 18px;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    width: 11px;
}
.custom-product-option-title:after {
    border-style: solid;
    content: "";
}
.active .custom-product-option-title:after {
    -webkit-transform: rotate(
    -180deg
    ) translateY(3px);
        transform: rotate(
    -180deg
    ) translateY(3px);
    top: 15px;

}
.custom-product-option-variant {
    font-size: 16px;
    line-height: 1;
    text-align: center;
    padding: 4px;
}
.custom-product-option-wood {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 18px;
    list-style: none;
    text-align: center;
}
.custom-product-option-wood img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.custom-product-option-serveware {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 18px;
    list-style: none;
    text-align: center;
    padding-right: 28px;
}
.custom-product-option-color {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 18px;
    list-style: none;
    padding-right: 38px;
    text-align: center;
}
.custom-product-option-word {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 8px;
    margin-left: 28px;
    margin-right: 28px;
}
.custom-product-option-word-input {
    display: flex;
}
.custom-product-option-word-choice {
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    color: #979797;
    cursor: pointer;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-column-gap: 8px;
    list-style: none;
    text-align: left;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    padding: 8px;
    position: relative;
    text-align: left;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}
.custom-product-option-word-choice:hover {
    border: 1px solid #cda079;
    color: #8b5d34;
    background: #fff0e3;
}
.custom-product-option-word-choice:before {
    background: #fff0e3;
    border-radius: 2px;
    bottom: 0;
    content: "";
    position: absolute;
    top: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: 250ms ease-in-out,opacity 0s 250ms;
    transition: 250ms ease-in-out,opacity 0s 250ms;
    width: 100%;
    z-index: 0;
}
.custom-product-option-word-choice:hover:before, .custom-product-option-word-choice:focus:before {
    opacity: 0;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.custom-product-option-word .active {
    border: 1px solid #cda079;
    color: #8b5d34;
    background: #fff0e3;
}
.custom-product-option-word-choice:after, .custom-product-option-word-choice:before {
    background: #fff0e3;
    border-radius: 2px;
    bottom: 0;
    content: "";
    position: absolute;
    top: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: 250ms ease-in-out,opacity 0s 250ms;
    transition: 250ms ease-in-out,opacity 0s 250ms;
    width: 100%;
    z-index: 0;
}
.custom-product-option-word-choice:before {
    left: 0;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}
.custom-product-option-word-input-choice input {
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 2px;
    min-height: 31px;
    padding: 8px;
    color: #3a3a3a;
    font-weight: 500;
    font-size: 14px;
}
.customizer__header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 72px;
    padding: 14px 0;
    position: relative;
}
.d-none {
    display: none !important;
}
.custom-product-one-input {
    margin-left: 28px;
    padding-top: 8px;
    width: 100%;
    margin-right: 28px;
}
.custom-product-two-first-input {
    padding-left:28px;
    padding-top: 8px;
    width: 50%;
    padding-right: 8px;
}
.custom-product-two-second-input {
    padding-left: 8px;
    padding-top: 8px;
    width: 50%;
    margin-right: 28px;
}
.custom-product-three-first-input {
    padding-left:28px;
    padding-top: 8px;
    width: 33.33%;
    padding-right: 8px;
}
.custom-product-three-second-input {
    padding-left: 8px;
    padding-top: 8px;
    width: 33.33%;
    padding-right: 8px;
}
.custom-product-three-third-input {
    padding-left: 8px;
    padding-top: 8px;
    width: 33.33%;
    margin-right: 28px;
}
.custom-order-form-w60 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.custom_option_selected {
    display: inline-grid;
    justify-content: right;
    padding-right: 30px;
}
.custom-product-option-fonts {
    font-size: 16px;
    line-height: 1;
    text-align: right;
    padding-right: 28px;
    margin: auto;
    justify-content: flex-end;
}
.custom-product-option-words {
    font-size: 16px;
    line-height: 1;
    text-align: right;
    padding-right: 28px;
    margin: auto;
    justify-content: flex-end;
}
.words_engrave_example {
   margin-top: 13px;
}
.custom-select-wrapper {
    position: relative;
    user-select: none;
    margin-left: 28px;
    margin-top: 8px;
    margin-bottom: 28px;
}
.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    border-width: 0 2px 0 2px;
    border-style: solid;
    border-color: #ddd;
}
.custom-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 20px;
    font-weight: 300;
    color: #000;
    height: 38px;
    line-height: 60px;
    background: #ffffff;
    cursor: pointer;
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: #ddd;
}
.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 2px solid #ddd;
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}
.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 22px;
    font-weight: 300;
    color: #000;
    line-height: 38px;
    cursor: pointer;
    transition: all 0.5s;
}
.custom-option:hover {
    cursor: pointer;
    background-color: #fff0e3;
}
.custom-option.selected {
    color: #ffffff;
    background-color: #cda079;
}
.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}
.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: #000;
}
.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: #000;
}
.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}
.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}
.custom-order-price-label {
    display: flex;
    margin: 0 28px;
    margin-top: 28px;    
}
.custom-order-price-label .custom-regular-price-label {
    font-size: 18px;
    text-align: left;
    width: 50%;
}
.custom-order-price-label .custom-discount-label {
    font-size: 18px;
    text-align: left;
    width: 50%;   
}
.custom-order-price {
    display: flex;
    margin: 0 28px;  
}
.custom-regular-price {
    font-size: 18px;
    text-align: left;
    width: calc(50% - 16px);
    border: 1px solid #cda079;
    color: #8b5d34;
    border-radius: 3px;
    padding: 6px;
    margin-right: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #fff0e3;
}
.custom-regular-price:before {
    background: #fff0e3;
    border-radius: 2px;
    bottom: 0;
    position: absolute;
    top: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: 250ms ease-in-out,opacity 0s 250ms;
    transition: 250ms ease-in-out,opacity 0s 250ms;
    width: 100%;
    z-index: 0;
}
.custom-regular-price:after {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    right: 0;
    -webkit-transform-origin: right center;
    transform-origin: right center;
}
.custom-regular-price:hover {
    border: 1px solid #cda079;
    color: #8b5d34;
}
.custom-order-price .custom-discount {
    font-size: 18px;
    text-align: left;
    width: 50%;
    border: 1px solid #cda079;
    color: #8b5d34;
    border-radius: 3px;
    padding: 6px;
    display: flex;
}
.custom-order-review {
    margin: 0 28px;
    margin-top: 18px;
    margin-bottom: 48px;
    position: relative;  
}
.custom-order-review-button {
    border: 1px solid #cda079;
    background-color: #8b5d34;
    border-color: #8b5d34;
    color: #fff;
    font-weight: 400;
    padding: 15px 66px 14px;
    width: 100%;
    font-size: 18px;
    line-height: 1.11111;
    border-radius: 4px;
}
.custom-order-review-button:hover {
    border: 1px solid #cda079;
    color: #fef4e9;
}
.custom-order-review-button:focus:before, .custom-order-review-button:hover:before {
    opacity: 0;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.custom-order-review-button:focus:after, .custom-order-review-button:hover:after {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.custom-order-review-button:before {
    left: -1px;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    background: #cda079;
    border-radius: 2px;
    bottom: 0;
    content: "";
    position: absolute;
    top: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: 250ms ease-in-out,opacity 0s 250ms;
    transition: 250ms ease-in-out,opacity 0s 250ms;
    width: calc(100% + 2px);
    z-index: 0;
}
.custom-order-review-button:after {
    opacity: 0;
    right: -1px;
    -webkit-transform-origin: right center;
    transform-origin: right center;
    background: #cda079;
    border-radius: 2px;
    bottom: 0;
    content: "";
    position: absolute;
    top: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: 250ms ease-in-out,opacity 0s 250ms;
    transition: 250ms ease-in-out,opacity 0s 250ms;
    width: calc(100% + 2px);
    z-index: 0;
}
.custom-order-button-text {
    position: relative;
    z-index: 1;
}
.custom-order-text-right {
    text-align: right;
    font-size: 18px;
    font-weight: 800;
    margin: auto 0;
}
.custom-order-text-left {
    text-align: left;
    margin: auto 0;
}
.custom-order-product-form::-webkit-scrollbar {
    display: none;
  }
.custom-order-product-form {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}
.customizer__disclaimer-input:checked {
    border-color: #8b5d34;
    -webkit-box-shadow: 0 0 0 10px #8b5d34 inset;
    box-shadow: 0 0 0 10px #8b5d34 inset;
}
.customizer__disclaimer-input {
    margin-right: 13px;
    top: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #d9d9d9;
    -webkit-box-shadow: 0 0 0 0 #197bbd inset;
    box-shadow: 0 0 0 0 #197bbd inset;
    cursor: pointer;
    height: 18px;
    position: relative;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    vertical-align: -4px;
    width: 18px;
}
.customizer__words-input {
    margin-right: 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #d9d9d9;
    -webkit-box-shadow: 0 0 0 0 #197bbd inset;
    box-shadow: 0 0 0 0 #197bbd inset;
    cursor: pointer;
    height: 18px;
    position: relative;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    width: 18px;
    vertical-align: -4px;
}
.customizer__words-input:checked {
    border-color: #8b5d34;
    -webkit-box-shadow: 0 0 0 10px #8b5d34 inset;
    box-shadow: 0 0 0 10px #8b5d34 inset;
}
.customizer__disclaimer {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 18px;
    margin-left: 28px;
    margin-right: 28px;
}
.customizer__disclaimer-label {
    color: #979797;
    font-size: 14px !important;
    letter-spacing: 0;
}
.custom-option-font1 {
    font-family: "Poor Richard";
}
.custom-option-font2 {
    font-family: "Century Gothic";
}
.custom-option-font3 {
    font-family: "Autography";
}
.custom_option_selected img {
    margin-left: auto;
}
.js-custom-first-word-render {
    font-size: 28px;
    text-align: center;
    color: #000;
    margin: 0;
    margin-top: 4px;
}
.js-custom-second-word-render {
    font-size: 38px;
    text-align: center;
    color: #000;
    margin: 0;
}
.js-custom-third-word-render {
    font-size: 28px;
    text-align: center;
    color: #000;
    margin: 0;
}
.js-custom-first-word-render-div {
    font-size: 28px;
    text-align: center;
    color: #000;
    margin: 0;
    margin-top: 12px;
}
.js-custom-second-word-render-div {
    font-size: 38px;
    text-align: center;
    color: #000;
    margin: 0;
}
.js-custom-third-word-render-div {
    font-size: 28px;
    text-align: center;
    color: #000;
    margin: 0;    
}
.custom_order_regular_price {
    text-decoration-line: line-through;
    margin: auto;
    font-style: italic;
}
.custom_order_discounted_price {
    font-weight: 800;
    margin: auto;
}
.custom_order_variant_font_title {
    margin: auto;
}
.custom_order_saved_price {
    display: inline-block;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 900;
    padding: 0 4px;
    border-radius: 3px;
    vertical-align: text-bottom;
    color: #e6a03e;
    border: 2px solid #e6a03e;
    text-align: center;
    line-height: 14px;
    margin: auto;
}
.custom_order_total_regular_price {
    text-decoration: line-through;
    font-size: 24px;
    padding-right: 4px;
    font-weight: 800;
    color: #333;
}
.custom_order_total_discount_price {
    font-size: 24px;
}
.custom_order_total_saved_price {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 900;
    padding: 2px;
    border-radius: 3px;
    vertical-align: text-bottom;
    color: #e6a03e;
    border: 2px solid #e6a03e;
    text-align: center;
    margin-left: auto;
}
.custom_order_bottom_total_regular_price {
    text-align: left;
    text-decoration: line-through;
    font-size: 18px;
    margin: auto 8px;
    color: #000;
}
.custom_order_bottom_total_discount_price {
    text-align: left;
    font-size: 18px;
    font-weight: 800;
    margin: auto 8px;
}
.custom_order_bottom_total_saved_price {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    padding: 6px;
    border-radius: 3px;
    vertical-align: text-bottom;
    color: #e6a03e;
    border: 2px solid #e6a03e;
    text-align: center;
    line-height: 14px;
    margin-left: auto;
}
.disabled {
    pointer-events: none;
    opacity: 0.4;
  }
.custom_label_regular_price {
    font-size: 9px;
    -webkit-text-stroke: thick;
    margin: auto 0;
}
.custom_label_sale_price {
    font-size: 9px;
    -webkit-text-stroke: thick;
    margin: auto 0;
}
.custom_order_total_out_of_stock {
    display: inline-block;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 900;
    border-radius: 3px;
    vertical-align: text-bottom;
    color: #fff;
    border: 2px solid orange;
    background-color: orange;
    text-align: center;
    padding: 8px;
    margin-top: auto;
}
.checkcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
[type=checkbox], [type=radio] {
    padding: 0;
}
.checkcontainer input:checked ~ .checkmark {
    background-color: #8b5d34;
}
.customizer__disclaimer-label .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 2px solid #8b5d34;
}
.words_engrave_example .checkmark {
    position: absolute;
    top: 3px;
    left: 42px;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 2px solid #8b5d34;
}
.checkcontainer input:checked ~ .checkmark:after {
    display: block;
}
.checkcontainer .checkmark:after {
    left: 7px;
    top: 3px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(
45deg
);
    -ms-transform: rotate(45deg);
    transform: rotate(
45deg
);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.custom_words_variant_mr {
    margin-right: 8px;
}
.js-variant-value {
    border: 1px solid transparent;
}
.js-variant-value:hover {
    background: #fff0e3;
    border-radius: 2px;
}
.custom-product-option-wood .active {
    background: #fff0e3;
    border-radius: 2px;
}
.custom-product-option-serveware .active {
    background: #fff0e3;
    border-radius: 2px;
}
.custom-product-option-color .active {
    background: #fff0e3;
    border-radius: 2px;
}
.custom_order_total_out_of_stock_shake {
    animation: shake 0.5s;
    animation-iteration-count: 2;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.js-variant-value img {
    width: 100%;
    object-fit: scale-down;
}
.option2-size-label {
    text-align: center;
    border: 1px solid #cda079;
    border-radius: 2px;
    background-color: wheat;
    margin: 0 auto;
    padding: 0 8px;
    display: block;
    min-width: 108px;
}
.option2-value-text {
    display: block;
    min-height: 40px;
}
.custom_order_note_engraving {
    border: 1px solid #333;
    padding: 2px 6px;
    text-align: revert;
    margin-top: 8px;
    font-size: 10px;
    border-radius: 2px;
    margin-left: auto;
    background: wheat;
    color: #333;
}
.note-engraving-position {
    margin-left: 28px;
    margin-right: 28px;
    text-align: left;
    font-size: 10px;
    font-weight: 600;
    font-style: italic;
    color: #82693c;
    display: inline-block;
}
.product_hover_customiser {
    position: absolute;
    width: 100%;
    height: 38px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background: #ddd;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
.product_hover_customiser_visible {
    visibility: visible;
    opacity: 1;
}
.product_customiser_button {
    margin-bottom: 40px;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
    transform: translate(-50%, -50%);
}
.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 4px;
    outline: 0;
}
.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
    background-color: #cda079;   
}
.modal-title {
    font-size: 18px;
    color: black;
    margin: 0;
}
.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}
.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-start;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}
.modal-footer>* {
    margin: .25rem;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.modal-backdrop.show {
    opacity: .5;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
.container {
    max-width: 1140px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.modal-open {
    overflow: hidden;
}
.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
}
.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}
.no-engraving-services {
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    color: #82693c;
    display: inline-block;
}
.popup_btn_continue, .popup_btn_back {
    background: #fff0e3;
    border: 0;
    min-width: 88px;
    min-height: 28px;
    margin-left: 28px;
}
.popup_btn_continue:hover, .popup_btn_back:hover {
    border: 0;
    background-color: #cda079;
    color: #000;
}
}
@media(max-width: 1024px) {
    .custom-order-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .custom-order-whole-form {
        position: inherit;
    }
    .custom-order-form-w60 {
        width: 100%;
        background-color: #f7f7f7;
        height: 268px;
    }
    .custom-order-form-w40 {
        position: relative;
        width: 100%;
        height: 68vh;       
    }
    .custom-order-product-form {
        width: 100%;
        height: 100%;
        background-color: #fff;
        margin-top: 25px;
        overflow-y: overlay;
    }
    .custom-order-product-head {
        font-weight: 400;
        font-size: 1em;
        line-height: 22px;
    }
    .custom-order-product-msg {
        background-color: #3a3a3a;
        color: #fff;
        font-size: 16px;
        line-height: 1.42857;
        padding: 12px;
        text-align: center;
    }
    .custom-order-product-form h1 {
        flex-basis: calc(100% - 120px);
        font-weight: 400;
        font-size: 38px;
        line-height: 22px;
        margin: auto;
        text-align: left;
    }
    .d-flex {
        display: flex;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-8 {
        width: 66.64%;
    }
    .col-4 {
        width: 33.32%;
    }
    .w-58 {
        width: 58%;
    }
    .w-42 {
        width: 42%;
    }
    .text-right {
        text-align: right;
    }
    .text-left {
        text-align: left;
    }
    .text-center {
        text-align: center;
    }
    .custom-product-title {
        font-size: 28px;
        font-weight: 600;
        padding: 8px;
        text-align: left;
        margin: auto;
        width: 50%;
        line-height: 25px;
    }
    .custom-product-price {
        font-weight: 600;
        text-align: right;
        display: block;
        position: relative;
        width: 50%;    
        padding-right: 8px;
    }
    .custom-product-border-bottom {
        border-bottom: 1px solid #ddd;
    }
    .custom-product-option-div {
        cursor: pointer;
    }
    .custom-product-option-div:hover {
        background-color: #fbfbfb;
    }
.custom-product-option-title {
    font-size: 16px;
    padding: 8px;
    padding-left: 28px;
    text-align: left;
    display: inline-block;
    position: relative;
    margin: 0;
}
.custom-product-option-title:after {
    border-color: #3a3a3a transparent transparent;
    border-width: 6px;
    height: 3px;
    position: absolute;
    right: -22px;
    top: 15px;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    width: 11px;
}
.custom-product-option-title:after {
    border-style: solid;
    content: "";
}
.active .custom-product-option-title:after {
    -webkit-transform: rotate(
-180deg
) translateY(6px);
    transform: rotate(
-180deg
) translateY(6px);
}
.custom-product-option-variant {
    font-size: 16px;
    line-height: 1;
    text-align: center;
    padding: 4px;
}
.custom-product-option-wood {
    display: flex;
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    list-style: none;
    text-align: center;
}
.custom-product-option-wood img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.custom-product-option-serveware {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    list-style: none;
    text-align: center;
    padding-right: 28px;
}
.custom-product-option-color {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    list-style: none;
    padding-right: 38px;
    text-align: center;
}
.custom-product-option-word {
    display: grid;
    grid-row-gap: 8px;
    margin-left: 28px;
    margin-right: 28px;
}
.custom-product-option-word-input {
    display: grid;
}
.custom-product-option-word-choice {
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    color: #979797;
    cursor: pointer;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-column-gap: 8px;
    list-style: none;
    text-align: left;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    padding: 8px;
    position: relative;
    text-align: left;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}
.custom-product-option-word-choice:hover {
    border: 1px solid #cda079;
    color: #8b5d34;
    background: #fff0e3;
}
.custom-product-option-word-choice:before {
    background: #fff0e3;
    border-radius: 2px;
    bottom: 0;
    content: "";
    position: absolute;
    top: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: 250ms ease-in-out,opacity 0s 250ms;
    transition: 250ms ease-in-out,opacity 0s 250ms;
    width: 100%;
    z-index: 0;
}
.custom-product-option-word-choice:hover:before, .custom-product-option-word-choice:focus:before {
    opacity: 0;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.custom-product-option-word .active {
    border: 1px solid #cda079;
    color: #8b5d34;
    background: #fff0e3;
}
.custom-product-option-word-choice:after, .custom-product-option-word-choice:before {
    background: #fff0e3;
    border-radius: 2px;
    bottom: 0;
    content: "";
    position: absolute;
    top: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: 250ms ease-in-out,opacity 0s 250ms;
    transition: 250ms ease-in-out,opacity 0s 250ms;
    width: 100%;
    z-index: 0;
}
.custom-product-option-word-choice:before {
    left: 0;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}
.custom-product-option-word-input-choice input {
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 2px;
    min-height: 31px;
    padding: 8px;
    color: #3a3a3a;
    font-weight: 500;
    font-size: 14px;
}
.customizer__header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 72px;
    padding: 14px 0;
    position: relative;
}
.d-none {
    display: none !important;
}
.custom-product-one-input {
    margin-left: 28px;
    padding-top: 8px;
    margin-right: 28px;
}
.custom-product-one-input input {
    margin-bottom: 8px;
}
.custom-product-two-first-input {
    padding-left:28px;
    padding-top: 8px;
    padding-right: 28px;
}
.custom-product-two-first-input input {
    margin-bottom: 0;
}  
.custom-product-two-second-input {
    padding-left: 28px;
    padding-top: 8px;
    margin-right: 28px;
}
.custom-product-two-second-input input {
    margin-bottom: 8px;
}
.custom-product-three-first-input {
    padding-left:28px;
    padding-top: 8px;
    padding-right: 28px;
}
.custom-product-three-first-input input {
    margin-bottom: 0;
}
.custom-product-three-second-input {
    padding-left: 28px;
    padding-top: 8px;
    padding-right: 28px;
}
.custom-product-three-second-input input {
    margin-bottom: 0;
}
.custom-product-three-third-input {
    padding-left: 28px;
    padding-top: 8px;
    margin-right: 28px;
}
.custom-product-three-third-input input {
    margin-bottom: 8px;
}
.custom-order-form-w60 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}
.custom_option_selected {
    display: inline-grid;
    justify-content: right;
    padding-right: 30px;
}
.custom-product-option-fonts {
    position: relative;
    font-size: 16px;
    line-height: 1;
    text-align: right;
    padding-right: 28px;
    margin: auto;
    justify-content: flex-end;
}
.custom-product-option-words {
    font-size: 16px;
    line-height: 1;
    text-align: right;
    padding-right: 28px;
    margin: auto;
    justify-content: flex-end;
}
.words_engrave_example {
    margin: 0;
    margin-top: 13px;
}
.custom-select-wrapper {
    user-select: none;
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 8px;
    margin-bottom: 28px;
    width: 91%;
}
.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    border-width: 0 2px 0 2px;
    border-style: solid;
    border-color: #ddd;
}
.custom-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 20px;
    font-weight: 300;
    color: #000;
    height: 38px;
    line-height: 60px;
    background: #ffffff;
    cursor: pointer;
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: #ddd;
}
.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 2px solid #ddd;
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}
.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 22px;
    font-weight: 300;
    color: #000;
    line-height: 38px;
    cursor: pointer;
    transition: all 0.5s;
}
.custom-option.selected {
    color: #ffffff;
    background-color: #cda079;
}
.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}
.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: #000;
}
.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: #000;
}
.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}
.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}
.custom-order-price-label {
    display: flex;
    margin: 0 28px;
    margin-top: 28px;    
}
.custom-order-price-label .custom-regular-price-label {
    font-size: 18px;
    text-align: left;
    width: 50%;
}
.custom-order-price-label .custom-discount-label {
    font-size: 18px;
    text-align: left;
    width: 50%;   
}
.custom-order-price {
    display: flex;
    margin: 0 28px;  
}
.custom-regular-price {
    font-size: 18px;
    text-align: right;
    width: calc(50%);
    border: 1px solid #cda079;
    color: #8b5d34;
    border-radius: 3px;
    padding: 6px;
    margin-right: 16px;
    display: grid;
    background: #fff0e3;
}
.custom-regular-price:before {
    background: #fff0e3;
    border-radius: 2px;
    bottom: 0;
    position: absolute;
    top: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: 250ms ease-in-out,opacity 0s 250ms;
    transition: 250ms ease-in-out,opacity 0s 250ms;
    width: 100%;
    z-index: 0;
}
.custom-regular-price:after {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    right: 0;
    -webkit-transform-origin: right center;
    transform-origin: right center;
}
.custom-order-price .custom-discount {
    font-size: 18px;
    text-align: right;
    width: 50%;
    border: 1px solid #cda079;
    color: #8b5d34;
    border-radius: 3px;
    padding: 6px;
    display: grid;
}
.custom-order-review {
    margin: 0 28px;
    margin-top: 18px;
    margin-bottom: 48px;
    position: relative;  
}
.custom-order-review-button {
    border: 1px solid #cda079;
    background-color: #8b5d34;
    border-color: #8b5d34;
    color: #fff;
    font-weight: 400;
    padding: 15px 66px 14px;
    width: 100%;
    font-size: 18px;
    line-height: 1.11111;
    border-radius: 4px;
}
.custom-order-review-button:focus:before, .custom-order-review-button:hover:before {
    opacity: 0;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.custom-order-review-button:focus:after, .custom-order-review-button:hover:after {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.custom-order-review-button:before {
    left: -1px;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    background: #cda079;
    border-radius: 2px;
    bottom: 0;
    content: "";
    position: absolute;
    top: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: 250ms ease-in-out,opacity 0s 250ms;
    transition: 250ms ease-in-out,opacity 0s 250ms;
    width: calc(100% + 2px);
    z-index: 0;
}
.custom-order-review-button:after {
    opacity: 0;
    right: -1px;
    -webkit-transform-origin: right center;
    transform-origin: right center;
    background: #cda079;
    border-radius: 2px;
    bottom: 0;
    content: "";
    position: absolute;
    top: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: 250ms ease-in-out,opacity 0s 250ms;
    transition: 250ms ease-in-out,opacity 0s 250ms;
    width: calc(100% + 2px);
    z-index: 0;
}
.custom-order-button-text {
    position: relative;
    z-index: 1;
}
.custom-order-text-right {
    text-align: right;
    font-size: 24px;
    font-weight: 800;
    margin-top: auto;
    color: #000;
}
.custom-order-text-left {
    text-align: right;
    margin-bottom: auto;
}
.custom-order-product-form::-webkit-scrollbar {
    display: none;
  }
.custom-order-product-form {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}
.customizer__disclaimer-input:checked {
    border-color: #8b5d34;
    -webkit-box-shadow: 0 0 0 10px #8b5d34 inset;
    box-shadow: 0 0 0 10px #8b5d34 inset;
}
.customizer__disclaimer-input {
    margin-right: 13px;
    top: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #d9d9d9;
    -webkit-box-shadow: 0 0 0 0 #197bbd inset;
    box-shadow: 0 0 0 0 #197bbd inset;
    cursor: pointer;
    height: 18px;
    position: relative;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    vertical-align: -4px;
    width: 18px;
}
.customizer__words-input {
    margin-right: 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #d9d9d9;
    -webkit-box-shadow: 0 0 0 0 #197bbd inset;
    box-shadow: 0 0 0 0 #197bbd inset;
    cursor: pointer;
    height: 18px;
    position: relative;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    width: 18px;
    vertical-align: -4px;
}
.customizer__words-input:checked {
    border-color: #8b5d34;
    -webkit-box-shadow: 0 0 0 10px #8b5d34 inset;
    box-shadow: 0 0 0 10px #8b5d34 inset;
}
.customizer__disclaimer {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 18px;
    margin-left: 28px;
    margin-right: 28px;
}
.customizer__disclaimer-label {
    color: #000;
    font-size: 16px !important;
    letter-spacing: 0;
}
.custom-option-font1 {
    font-family: "Poor Richard";
}
.custom-option-font2 {
    font-family: "Century Gothic";
}
.custom-option-font3 {
    font-family: "Autography";
}
.custom_option_selected img {
    margin-left: auto;
}
.custom_order_regular_price {
    text-decoration-line: line-through;
    margin: auto;
    font-size: 16px;
    color: #000;
}
.custom_order_discounted_price {
    font-size: 16px;
    color: #000;
    margin: auto;
}
.custom_order_variant_font_title {
    margin: auto;
    font-size: 16px;
}
.custom_order_saved_price {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    padding: 0 4px;
    padding-top: 5px;
    border-radius: 3px;
    vertical-align: text-bottom;
    color: #e6a03e;
    border: 2px solid #e6a03e;
    text-align: center;
    line-height: 13px;
    margin: auto;
}
.custom_order_total_regular_price {
    text-decoration: line-through;
    font-size: 24px;
    padding-right: 4px;
    font-weight: 800;
    color: #333;
}
.custom_order_total_discount_price {
    font-size: 24px;
}
.custom_order_total_saved_price {
    display: block;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 900;
    padding: 0;
    border-radius: 3px;
    color: #e6a03e;
    border: 2px solid #e6a03e;
    text-align: center;
    margin-left: auto;
    width: 58%;
}
.custom_order_bottom_total_regular_price {
    text-align: right;
    text-decoration: line-through;
    font-size: 18px;
    font-style: italic;
    color: #cacaca;
}
.custom_order_bottom_total_discount_price {
    text-align: right;
    font-size: 18px;
    font-weight: 800;
    color: #000;
}
.custom_order_bottom_total_saved_price {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    padding: 6px;
    border-radius: 3px;
    vertical-align: text-bottom;
    color: #e6a03e;
    border: 2px solid #e6a03e;
    text-align: center;
    line-height: 14px;
    margin-left: auto;
}
.disabled {
    pointer-events: none;
    opacity: 0.4;
  }
.custom_label_regular_price {
    font-size: 9px;
    -webkit-text-stroke: thick;
    margin: auto 0;
}
.custom_label_sale_price {
    font-size: 9px;
    -webkit-text-stroke: thick;
    margin: auto 0;
}
.custom_order_total_out_of_stock {
    display: inline-block;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 900;
    border-radius: 3px;
    vertical-align: text-bottom;
    color: #fff;
    border: 2px solid orange;
    background-color: orange;
    text-align: center;
    line-height: 14px;
}
.checkcontainer {
    display: grid;
    position: relative;
    padding-left: 38px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 18px;
}
.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.words_engrave_example input {
    opacity: 1;
}
[type=checkbox], [type=radio] {
    padding: 0;
}
.checkcontainer input:checked ~ .checkmark {
    background-color: #8b5d34;
}
.customizer__disclaimer-label .checkmark {
    position: absolute;
    top: 6px;
    left: 4px;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 2px solid #8b5d34;
}
.words_engrave_example .checkmark .checkmark {
    position: absolute;
    top: 6px;
    left: 12px;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 2px solid #8b5d34;
}

.checkcontainer input:checked ~ .checkmark:after {
    display: block;
}
.checkcontainer .checkmark:after {
    left: 7px;
    top: 3px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(
45deg
);
    -ms-transform: rotate(45deg);
    transform: rotate(
45deg
);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.custom_words_variant_mr {
    margin-left: 12px
}
.js-variant-value {
    border: 1px solid transparent;
}
.js-variant-value:hover {
    background: #fff0e3;
    border-radius: 2px;
}
.custom-product-option-wood .active {
    background: #fff0e3;
    border-radius: 2px;
}
.custom-product-option-serveware .active {
    background: #fff0e3;
    border-radius: 2px;
}
.custom-product-option-color .active {
    background: #fff0e3;
    border-radius: 2px;
}    
.js-custom-first-word-render {
    font-size: 28px;
    text-align: center;
    color: #000;
    font-weight: 600;
    margin: 0;
    padding-top: 10px;
}
.js-custom-second-word-render {
    font-size: 38px;
    text-align: center;
    color: #000;
    margin: 0;
    font-weight: 800;
}
.js-custom-third-word-render {
    font-size: 28px;
    text-align: center;
    color: #000;
    margin: 0;
}
.custom-product-option-input-mobile {
    width: 93%;
}
.custom-mobile-d-flex {
    display: block;
}
.option2-size-label {
    text-align: center;
    border: 1px solid #cda079;
    border-radius: 2px;
    background-color: wheat;
    margin: 0 auto;
    padding: 0 8px;
    display: block;
    min-width: 108px;
}
.option2-value-text {
    display: block;
    min-height: 40px;
}
.custom_order_note_engraving {
    border: 1px solid #333;
    padding: 2px;
    text-align: right;
    font-size: 10px;
    border-radius: 2px;
    background: wheat;
    color: #333;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: auto;
}
.note-engraving-position {
    margin-left: 28px;
    margin-right: 28px;
    text-align: left;
    font-size: 16px;
    color: #82693c;
    line-height: 14px;
}
.product_hover_customiser {
    position: absolute;
    width: 100%;
    height: 38px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background: #ddd;
}
.product_customiser_button {
    margin-bottom: 40px;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
    transform: translate(-50%, -50%);
    min-width: 328px;
}
.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 4px;
    outline: 0;
}
.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
    background-color: #cda079;   
}
.modal-title {
    font-size: 18px;
    color: black;
    margin: 0;
}
.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}
.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-start;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}
.modal-footer>* {
    margin: .25rem;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.modal-backdrop.show {
    opacity: .5;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
.container {
    max-width: 1140px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.modal-open {
    overflow: hidden;
}
.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
}
.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}
.no-engraving-services {
    text-align: right;
    font-size: 16px;
    color: #82693c;
    display: inline-block;
    line-height: 12px;
}
.popup_btn_continue, .popup_btn_back {
    background: #fff0e3;
    border: 0;
    min-width: 88px;
    min-height: 28px;
    margin-left: 28px;
}
.popup_btn_continue:hover, .popup_btn_back:hover {
    border: 0;
    background-color: #cda079;
    color: #000;
}
.custom-order-saved-badge {
    display: block;
}
}