@mixin opacity($value) {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$value)"; filter: alpha(opacity=$value); -moz-opacity: $value/100; -khtml-opacity: $value/100; opacity: $value/100;}
@mixin animation($duration){-webkit-transition: all $duration linear; -moz-transition: all $duration linear; -o-transition: all $duration linear; -ms-transition: all $duration linear; transition: all $duration linear;}
@mixin ease-animation($duration){-webkit-transition: all $duration ease-out; -moz-transition: all $duration ease-out; -o-transition: all $duration ease-out; -ms-transition: all $duration ease-out; transition: all $duration ease-out;}
@mixin transition($value){-webkit-transition: $value; -moz-transition: $value; -o-transition: $value; -ms-transition: $value; transition: $value;}

@mixin rotate($value) {-ms-transform: rotate($value); -webkit-transform: rotate($value); transform: rotate($value);}
@keyframes spin45L {0% {-ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg);}}
@keyframes spin45R {0% {-ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg);}}
@mixin rotateFix($spinName){animation: $spinName 1ms; animation-play-state: paused;} /*useful to rotate elements that contains emoji and other special things that doesn't work with native 'transform: rotate...' */

body {color: #515151;}
.main-content {padding: 0 20px;}

.account .note a {display: inline-block; margin-bottom: 1em; font-size: 100%; text-decoration: underline;}
.account .note input {display: inline-block; width: auto; margin: 0; text-decoration: underline;}
.login-page.reset-password div.note {margin-top: 2em;}
.new-customer-cta {margin-top: 2em;}

.login-page {padding: 50px 0; text-align: center;}
.login-page .container {max-width: 400px;}
.login-page input {width: 100%; margin-bottom: 1em;}
.login-page .social_front {overflow: hidden;}
.login-page .social {padding: 0;}
.login-page .social ul {overflow: hidden;}
.login-page .social h4 {font-size: 1.5em; margin: 0 0 1em;}
.login-page .social ul li {list-style: none;}
.login-page .social ul li a {color: #fff; font-size: 14px !important; text-align: center;}
.isNotMobile .login-page .social ul li a:hover {color: #fff;}
.login-page .register-btn {width: 100%;}

.my-account {margin-top: -3em;}
.my-account .content h1 {font-size: 25px; font-weight: 500; letter-spacing: normal; margin-bottom: 1em; color: #001B40;}
.my-account .content h2 {font-size: 18px; margin-bottom: 1em; letter-spacing: normal; font-family: Avenir; font-weight: bold; color: #001B40;}
.my-account .content {width:70%; padding: 40px 0 40px 5%; margin-top: 0; text-align: left;}
.my-account .content a {color: #008BB4 !important;}
.my-account .presentation {font-size: 18px; font-weight: 300; line-height: 1.7em; max-width: 40em;}
.my-account p {font-weight: 300; font-size: 1.07em; line-height: 1.9em; color: #515151 !important;}
.my-account .content input, .my-account .content select {margin-bottom: 1em;}
.my-account .content a:not(.btn) {text-decoration: underline;}
.my-account .grid {margin-top: 4em;}
.my-account .orders {margin-top: 3em;}
.my-account .note {border: none;}
.my-account table {max-width: 80%;}
.my-account table th {font-weight: 600; border-bottom: 1px solid #ddd; text-transform: uppercase; background-color: #bda960; color: #fff; padding: 0.8em; font-size: 0.925em;}
.my-account table th:first-child {padding-left: 2.5em;}
.my-account table td {padding: 2em 0.8em; border-bottom: 1px solid #ddd;}
.my-account table td:first-child {padding-left: 2.5em;}
.my-account table tbody tr:first-child td {padding-top: 1.5em;}
.my-account table td a {text-decoration: underline;}
.my-account table tfoot td {padding: 0.3em 0;}
.my-account table tfoot tr:first-child td {padding-top: 2em;}
.my-account table tfoot .total {font-size: 1.3em; font-weight: 700; padding-top: 1.1em;}
.my-account .address-item {margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #ddd;}
.my-account .address-item:last-child {margin: 0; border: 0; padding: 0;}
.my-account .address-title {float: left; font-size: 20px; margin-bottom: 0.3em;}
.my-account .address-actions{font-weight: 700; text-align: right; }
.my-account .address-actions a {font-size: 0.9em;}
.my-account .address-actions .action.edit {padding-right: 1em; margin-right: 1em; }
.my-account .action {display: inline-block;}
.my-account .action svg {margin-right: 0.5em;}
//.isNotMobile .my-account .action:hover svg path {color: {{settings.content_main_color}};}
.my-account .edit-address {margin-bottom: 1em; margin-top: 2em; max-width: 50%;}
.my-account .add-address {margin-bottom: 3em; padding-bottom: 2em; border-bottom: 1px solid #ddd; margin-top: 2em; max-width: 50%;}
.my-account .customer-addresses .error {color: red; border-color: red;}
.my-account .address-book {padding-left: 5em;}
.my-account .heading {margin-top:0.2em;}
.my-account #view_address {color: #3027E8; font-size: 1.07em;}

//.customer-addresses {position: relative;}
.customer-addresses .view_address {font-size: 16px; margin-bottom: 1em}
.customer-addresses .btn::after {border: none; outline: none;}
.customer-addresses .btn::after:hover {outline: none;}
.btn:not(.disabled):hover::after {outline: none;}
.customer-addresses a.btn {color: #fff !important;}
.customer-addresses .btn {letter-spacing: normal; padding: 1.3em 1.8em; color: #fff !important; background-color: #000; border: none; position: absolute; right: 10em; padding: 0.5em 3em; font-size: 1em;}
.customer-addresses .btn:hover {color: #fff !important; background-color: #000 !important;}

.default-address {margin: 1em 0 2em;}
.default-address input {@include opacity(0); position: absolute;}
.default-address input, .default-address label {display: inline-block; vertical-align: middle; cursor: pointer;}
.default-address label { position: relative;}
.default-address label:before {content: ''; background: #fff url({{"checked.png" | asset_url}}) no-repeat center; background-size: 0%; border: 2px solid #ddd; width: 18px; height: 18px; margin-right: 15px; text-align: center; @include animation(0.2s); }
.default-address input:checked + label:before {background-color: #ddd; background-size: 70%;}

/******** menu *******/
.my-account-menu h2 {font-size: 2.15em; font-weight: 500; letter-spacing: normal;}
.my-account-menu {width:25%; margin-top: 40px; margin-left: 3em;}
.my-account-menu .links a {display: block; width: 100%; padding: 0.7em 0; font-size: 1em; color: #515151; text-decoration: none;}
.my-account-menu .btn {margin-top: 2em; font-size: 14px; letter-spacing: normal; background-color: #fff; color: #000; padding: 0.4em 5.2em; font-size: 1em; outline: 2px solid #000; border: none;}
.my-account-menu .btn::after {outline: none; }
.my-account-menu .btn::after:hover {outline: 4px solid #000;}
.my-account-menu .lower-menu {padding: 2em; padding-top: 0;}

@media all and (max-width: 900px) {
  .content-for-layout {padding-bottom: 0;}
  .my-account .content {width: 100%; margin: 0; background: none; padding: 3em 0 0; border: none;}
  .my-account .content h1 {font-size: 20px;}
  .my-account .content h2 {font-size: 16px;}
  .my-account .heading .btn {font-size: 0.6em;}
  .my-account table {font-size: 1em; }
  .my-account .grid .grid__item {margin-bottom: 1.5em; padding-bottom: 0.5em; border-bottom: 1px solid #d9d9d9; margin-left: 20px; padding-left: 0;}
  .my-account .grid .grid__item.address-book {padding-bottom: 1.5em;}
  .my-account .address-title {width: 60%; line-height: 160%; font-size: 1.07em;}
  .my-account .address-actions {width: 40%; font-size: 1em; line-height: 120%;}
  .my-account .address-item p, .my-account .info p {font-size: 0.9em;}
  .my-account-menu {width: 100%; padding: 2em 0 0; margin: 0; }
  .my-account-menu .goto {position: relative; font-size: 15px;}
  .my-account-menu .goto .trigger {cursor: pointer; width: 100%; height: 100%; border: 2px solid #000; padding: 0.6em 3em 0.6em 1em; position: relative;}
  .my-account-menu .goto .trigger svg {position: absolute; right: 10px; top: 50%; margin-top: -0.5em; display: flex; align-items: center; font-size: 1.1em;}
  .my-account-menu .goto .trigger.open svg {@include rotate(180deg);}
  .my-account-menu .goto .links {display: none; background: #fff; box-sizing: border-box; position: absolute; left: 0; top: 100%; width: 100%; padding: 1em 0 1em 2em; border: 1px solid #ddd; border-top: 0; }
  .my-account-menu .goto .links a {text-decoration: none !important;}
  .my-account-menu .logout {width: 35%; padding: 0; margin: 0; padding-left: 1em;}
  .my-account-menu .logout .btn {margin: 0; padding: 0.9em 0; width: 100%; max-width: 100%;}
  .my-account .address-book {padding-left: 20px;}
  .my-account-menu .lower-menu {background-color: #fff; width: 100%; padding: 0;}
  .my-account-menu .lower-menu .logout {display: none;}
  .my-account .presentation {font-size: 1.08em; padding-bottom: 2em; border-bottom: 1px solid #d9d9d9; line-height: 2em;}
  .my-account .grid {margin-top: 2em;}
  .my-account .orders {margin-top: 1em;}
  .my-account .address-items div:last-child {border: 0;}
  .my-account .address-items {margin-bottom: 2em;}
  .my-account table td {display: block; padding: 0 !important; margin-bottom: 1em;}
  .my-account table td:last-child {padding-bottom: 1.5em !important;}
  .my-account table tr td:first-child {margin-top: 0.5em !important;}
  .my-account table tr td:not(:last-child) {border: 0;}
  .my-account table tr:last-child td {border: 0;}
  .my-account table td[data-td]:before {content: attr(data-td); text-transform: uppercase;}
  .my-account .edit-address {margin-top: 1em;}
  //.customer-addresses > .btn {top: 1em; left: 50%; transform: translateX(-50%);}
  .customer-addresses .btn {position: static; width: 100%;}
  .customer-addresses .btn::after {width: auto; height: auto;}
}