.swatch {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: inline-block;
  border: 2px solid #fff;
  padding: 0;
  touch-action: manipulation;
  box-shadow: 0 0 0 1px #e3e3e3;
}
.swatch:hover { 
  box-shadow: 0 0 0 2px #999;
  transition: box-shadow 1s;
}
.swatches .active {
box-shadow: 0 0 0 2px #000;
}
.swatch--active {
  border-radius: 50%;
  border: 2px solid rgba(0,0,0,0.1);
  box-sizing: border-box;
  content: "";
  height: 26px;
  left: -2px;
  position: absolute;
  top: 1px;
  width: 26px;
}
.swatches button {
  cursor: pointer;
  -webkit-appearance: button;
}
.card__swatches {
  width: 100%;
  text-align: left;
  overflow: hidden;
  min-height: 38px;
  max-height: 68px;
}
.swatches {
  padding: 2px;
  list-style: none;
  transition: left 400ms ease;
  position: relative;
}
.swatches li {
  margin-top: 8px;
  background: inherit;
  display: inline-block;  
  margin-right: 8px; 
  margin-bottom: 8px;
}
.card__image-wrapper .product-second-image {
  transition: transform 2s; 
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
.card__image-wrapper .product-second-image:hover {
  transform: scale(1.2); 
}
.product-image-d-none {
  visibility: hidden;
  transition: opacity 1s ease-out;
  opacity: 0;
}
.product-image-d-block {
  visibility: visible;    
  transition: opacity 1s ease-in;
  opacity: 1;    
}
.card__swatches .choose {
  min-height: 40px;
}
.card__swatches .choose p {
  margin: 0;
}
.page-width {
  max-width: 1200px;
}
.collection-template .grid {
  margin-left: 0;
}
.collection-template .card {
  padding-right: 1em;
}
.collection-template .card__info {
  padding: 0 0 4em;
}
.collection-template .card__name {
  color: #000;
  font-size: 18px;
  text-align: left;
  font-weight: 500;
  line-height: 18px;
  min-height: 38px;
}
.collection-template .card__price {
  color: #000; 
  font-size: 18px;
  margin-top: 10px;
  text-align: left;
}
.collection-template .card__availability {
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  background-color: #fb2a3f;
  width: fit-content;
  padding: 0 8px;
  border-radius: 4px;
  border: 2px solid #fff;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  height: 28px;
  line-height: 29px;
}
.site-header__logo-image { 
  margin-bottom: 0;
}
.collection-template .mobile-title {
  font-size: 22px; 
  max-width: 90%; 
  margin: 0 auto 1em;
}
.card__info {
  text-align: left;
}
.card__price--sale {
  margin-right: 10px;
  font-size: 18px;
  letter-spacing: 2.2px;
  color: #000;
}
.jdgm-preview-badge {
  padding-top:8px;
  padding-bottom:8px;
  text-align: left;
 }
.jdgm-rev-widg[data-number-of-reviews="0"] {
     display:none !important;
 }
.jdgm-carousel-item__product-title {
     color: #001B40 !important;
     text-decoration: none !important;    
 }
.jdgm-carousel-title {
     margin-bottom:25px !important;   
 }
.jdgm-all-reviews-rating-wrapper {
     display:none !important;
}
.sale_price {
    cursor: default;
    background: #f4f1ec;
    padding: 3px 7px;
    border: thin inset #404040;
    white-space: nowrap;
    height: 28px;
    margin: 0;
    border-radius: 2px;
    margin-right: 8px;
}
.sale_price_title {
height: 28px;
line-height: 26px;
}
.sale_title {
color: #bda960;
height: 28px;
}
.card__badge {
position: absolute;
top: 0;
right: 5px;
padding: 0px 18px 8px;
cursor: default;
background: #f4f1ec;
border: 0;
white-space: nowrap;
height: 28px;
margin: auto 0;
border-radius: 2px;
margin-right: 8px;
border: thin inset #404040;
}
.card__badge .sale_title {
color: #bda960;
height: 28px;
font-size: 18px;
font-weight: 800;
line-height: 33px;
}
a.card__name {
color: #000;
cursor: pointer;
text-decoration: none;
background-color: transparent;
}
.card__price--regular {
color: #333;
}
a.card__name::after {
transition: all ease-in-out .8s;
background: none repeat scroll 0 0 #000;
content: "";
display: block;
height: 2px;
width: 0;
}
.card__price--regular-strike {
text-decoration: line-through;
color: #333;
padding-right: 8px;
}
a.card__name:hover::after {
width: 100%;
}
.product_card_url_fit_border {
width: fit-content;
margin-right: auto;
text-align: left;
}
.mt-89 {
margin-top: 89px;
}
.product-template-featured-image {
width: 50%;
position: relative;
}
.product-template-details {
width: 50%;
}
.product-form__item .swatches {
margin-left: 0px !important;
}
.btn--secondary:not(.disabled):hover::after {outline: 4px solid #000;}
.btn--secondary::after {outline: 2px solid #000;}
.btn--secondary {color: #000; font-size: 16px; letter-spacing: normal; padding: 0.4em;}
.social-sharing__icon .icon {fill: #000;}
.btn--primary-color {color: #000;}
.product__description {color: #515151; font-size: 16px; margin-top: 0;}
.product__content {padding-bottom: 0;}
.product-form__quantity-input {border: 2px solid #ddd !important; min-height: 51px;}
.product-form__item ~ .shopify-payment-btn {margin-top: 0;}
.product-form__item {margin-bottom: 0;}
.product__notification {margin: 20px;} 
.choose {display: none;}
.social-sharing__toggle-text {font-weight: 400; font-size: 14px; letter-spacing: normal;}
.product__submedia-list {margin-bottom: 0;}
.product-slideshow__arrow .icon {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); margin-top: 1px;}
.site-header__logo-image {margin-bottom: 0;}
.back-button {display: block; padding: 0 30px; text-decoration: none; color: #000; display: flex; align-items: center;}
.back-button svg {margin-right: 1em;}
.back-button:hover {color: #c8b77b; transition: all 0.2s ease;}
.back-button:hover svg path {fill: #c8b77b; transition: all 0.2s ease;}
.product-template-details .swatch {
width: 28px;
height: 28px;
}
.product__title {font-size: 32px; color: #001B40;}
.product__price {font-size: 18px; color: #001B40; margin-bottom: 8px;}
.product-form__quantity-label {color: #000; font-weight: 400; line-height: 30px; font-size: 16px;}
/*the container must be positioned relative:*/
.product-custom-select {
position: relative;
}
.product-custom-select select {
display: none; /*hide original SELECT element:*/
}   
.product-custom-select .select-selected {
background-color: #fff;
}   
/*style the arrow inside the select element:*/
.product-custom-select .select-selected:after {
position: absolute;
content: "";
top: 18px;
right: 21px;
width: 0;
height: 0;
border: 6px solid transparent;
border-color: #c8b77b transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.product-custom-select .select-selected.select-arrow-active:after {
border-color: transparent transparent #ddd transparent;
top: 16px;
}
/*style the items (options), including the selected item:*/
.product-custom-select .select-selected {
color: #000;
padding: 8px 16px;
border: 2px solid #ddd;
cursor: pointer;
user-select: none;
border-radius: 4px;
}
/*style items (options):*/
.product-custom-select .select-items {
position: absolute;
background-color: #fff;
top: 100%;
left: 0;
right: 0;
z-index: 99;
}   
.product-custom-select .select-items div {
border-bottom: 1px solid #ddd;
border-left: 1px solid #ddd;
border-right: 1px solid #ddd;
line-height: 38px;
padding-left: 16px;
}   
/*hide the items when the select box is closed:*/
.product-custom-select .select-hide {
display: none;
}
.product-custom-select .select-items div:hover, .product-custom-select .same-as-selected {
background-color: #e8d9a4;
color: #000;
transition: background-color 1s;
}
/* Style the tab */
.tab {
overflow: hidden;
}
/* Style the buttons that are used to open the tab content */
.tab button {
display: inherit;
border: none;
outline: none;
cursor: pointer;
padding: 4px 16px;
transition: 0.3s;
width: 100%;
text-align: left;
font-size: 16px;
font-weight: 800;
color: #000;
background-color: transparent;
border: 1px solid transparent;
border-bottom: 1px solid #bda960;
position: relative;
height: 30px;
}
.tab button:after {
position: absolute;
content: "";
top: 14px;
right: 21px;
width: 0;
height: 0;
border: 6px solid transparent;
border-color: #000 transparent transparent transparent;
}
/* Change background color of buttons on hover */
.tab button:hover {
background-color: #bda960;
border: 1px solid #bda960;
border-radius: 4px;
transition: background-color 1s;
}
/* Create an active/current tablink class */
.tab button.active {
background-color: #bda960;
border: 1px solid #bda960;
border-radius: 4px;
}
.tab button.active:after {
position: absolute;
content: "";
top: 5px;
right: 21px;
width: 0;
height: 0;
border: 6px solid transparent;
border-color: #000 transparent transparent transparent;
transform: rotate(180deg);
}

/* Style the tab content */
.tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid transparent;
border-top: none;
}
.tabcontent.active {
display: block;
}
.product__media-container {
margin-top: 38px;
}
.m8_btn {
  border: 2px solid #bda960;
  border-radius: 2px;
  color: #333;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1.2px;
  text-decoration: none;
  padding: 8px;
  font-weight: 600;
  background-color: transparent;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, white 50%, #bda960 50%);
  -webkit-transition: background-position 0.5s;
  -moz-transition: background-position 0.5s;
  transition: background-position 0.5s;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;
  display: flex;
  height: 28px;
  line-height: 14px;
}
.m8_btn:hover {
  background-position: 0 -25px;
  transition: background-position 1s;
}
.shopify-payment-button__button {
background-size: 100% 202%;
border: 1px solid black;
background-image: linear-gradient(to bottom, black 50%, white 50%);
-webkit-transition: background-position 0.5s;
-moz-transition: background-position 0.5s;
transition: background-position 0.5s;
font-size: 18px;
font-weight: 500;
height: 37px;
}
.shopify-payment-button__button--unbranded {
padding: 0;
}
.shopify-payment-button__button:hover {
background-position: 0 -35px;
border: 1px solid black;
color: black;
transition: background-position 1s;
}
.featured-collection__view-all {
width: 188px;
margin: 0 auto;
}
.product__current-price .product__price--sale {
color: #000;
margin-right: 10px;
}
.select-option-item.active {
background-color: #bda960;
color: #000;
transition: background-color 1s;
}
.select-option-item {
cursor: pointer;
}
.product__compare-price {
margin-left: 8px;
}
.product-d-flex {
display: flex;
}
.product-form__item .swatches {
margin-top: 4px;
}
.product-form__quantity-input {
font-size: 16px !important;
}
.product__current-price {
font-size: 38px;
font-weight: bolder;
margin-left: 8px;
}
.product__title {
margin-bottom: 0;
}
.select-selected.open:after {
position: absolute;
content: "";
top: 10px;
right: 21px;
width: 0;
height: 0;
border: 6px solid transparent;
border-color: #bda960 transparent transparent transparent;
transform: rotate(180deg);
}
.jdgm-ask-question-btn, .jdgm-write-rev-link {
border: 1px solid #bda960 !important;
padding: 5px 10px !important;
text-align: center !important;
display: inline-block;
text-decoration: none;
color: #000;
border-radius: 4px;
}
.shopify-cleanslate div[role="button"] {
border-radius: 4px !important;
min-height: 38px !important;
max-height: 38px !important;
}
.shopify-payment-button__button--branded {
min-height: unset !important;
}
[for="ContactPhone"] {
width: 50%;
}
[for="ContactEmail"] {
width: 50%;
}
#ContactFullname, #ContactPhone, #ContactEmail, #ContactQuantity, #ContactFormMessage {
border: 1px solid #ddd;
border-radius: 4px !important;
}
#ContactPhone {
margin-right: 8px;
}
[for="ContactPhone"] {
margin-right: 8px;
}
[for="ContactQuantity"] {
width: 50%;
margin-right: 8px;
}
[for="ContactUpload"] {
width: 50%;
}
#ContactQuantity {
width: 50%;
margin-right: 8px;
}
#ContactUpload {
width: 50%;
height: 41px;
}
#SubmitPriceQuotation {
width: 100%;
min-height: 40px;
}
input[type=number].product-form__quantity-input {
border-radius: 4px;
}
.product-form__quantity-selector {
display: flex;
margin: 0;
width: 28%;
margin-right: 8px;
margin-bottom: 0;
}
.product-form__item:last-of-type {
margin-bottom: 0;
}
.product-form-d-flex {
display: flex;
}
.product-form__minus {
height: 33px;
padding: 11px 13px 12px 12px;
border-bottom-left-radius: 22px;
border-top-left-radius: 22px;
border: 2px solid #bda960;
background-color: transparent;
font-size: 44px;
line-height: 16px;
}
.product-form__minus:hover {
background-color: #bda960;
color: #fff;
transition: background-color 1s;
}
.product-form__plus {
height: 33px;
padding: 8px 14px 0px 10px;
border-bottom-right-radius: 22px;
border-top-right-radius: 22px;
border: 2px solid #bda960;
background-color: transparent;
font-size: 28px;
line-height: 8px;
}
.product-form__plus:hover {
background-color: #bda960;
color: #fff;
transition: background-color 1s;
}
.product-form__btn {
width: 72%;
}
[name="quantity"]::-webkit-outer-spin-button,
[name="quantity"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
[name="quantity"] {
-moz-appearance: textfield;
font-size: 18px !important;
text-align: center;
}
.product__add-to-cart-button-ajax {
border: 2px solid #bda960;
border-radius: 18px;
color: #333;
text-align: center;
font-size: 18px;
letter-spacing: 1.2px;
text-decoration: none;
font-weight: 600;
padding: 2px 0;
background-color: transparent;
background-size: 100% 200%;
background-image: linear-gradient(to bottom, #bda960 50%, #fff 50%);
-webkit-transition: background-position 0.5s;
-moz-transition: background-position 0.5s;
transition: background-position 0.5s;
justify-content: center;
margin: 0 auto;
line-height: 26px;
height: 31px;
}
.product__add-to-cart-button:hover {
background-position: 0 -27px;
transition: background-position 1s;
}
[name="quantity"] {
margin-bottom: 0 !important;
border-top: 2px solid #bda960 !important;
border-bottom: 2px solid #bda960 !important;
line-height: 14px !important;
height: 33px;
}
.shopify-payment-button .shopify-payment-button__more-options, .text-small {
font-size: 16px !important;
margin-bottom: 8px !important;
}
.shopify-payment-button__more-options {
margin-top: 8px !important;
}
.product-form__item .card__swatches {
min-height: 28px;
max-height: 58px;
}
.asterisk {
color: red;
}
.form-price-title {
transition: 0.3s;
width: 100%;
text-align: left;
font-size: 18px;
font-weight: 800;
color: #000;
border-bottom: 1px solid #bda960;
margin: 0;
text-transform: uppercase;
cursor: pointer;
}
.form-price-title::after {
content: '';
display: block;
width: 0%;
height: 1px;
background: #bda960;
transition: width .3s;
}
.form-price-title:hover::after {
width: 100%;
}
.form-price-sub-title {
  transition: 0.3s;
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.btn_contact_upload {
  border: 2px solid #bda960;
  border-radius: 4px;
  color: #333;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1.2px;
  text-decoration: none;
  padding: 6px;
  font-weight: 600;
  background-color: transparent;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, white 50%, #bda960 50%);
  -webkit-transition: background-position 0.5s;
  -moz-transition: background-position 0.5s;
  transition: background-position 0.5s;
  justify-content: center;
  margin: 0 auto;
}
.btn_contact_upload:hover {
background-position: 0 -37px;
transition: background-position 1s;
}
.btn_submit_quote {
border: 2px solid #bda960;
border-radius: 4px;
color: #333;
text-align: center;
font-size: 16px;
letter-spacing: 1.2px;
text-decoration: none;
padding: 4px;
font-weight: 600;
background-color: transparent;
background-size: 100% 200%;
background-image: linear-gradient(to bottom, white 50%, #bda960 50%);
-webkit-transition: background-position 0.5s;
-moz-transition: background-position 0.5s;
transition: background-position 0.5s;
justify-content: center;
margin: 0 auto;
}
.btn_submit_quote:hover {
background-position: 0 -36px;
transition: background-position 1s;
}
.form-price-header {
background-color: transparent;
border-top-left-radius: 24px;
border-bottom-left-radius: 24px;
display: flex;
}
.form-price-quotation-div {
width: 100%;
background-color: transparent;
border: 1px solid #bda960;
border-radius: 4px;
padding: 8px;
margin-left: 20px;
}
.form-price-header-block {
width: 100%;
}
.form-price-header-plus {
width: 68px;
position: relative;
}
.form-price-expand {
position: absolute;
top: 0;
right: 0;
width: 100%;
background-color: #bda960;
height: 100%;
border: 0;
}
.form-price-expand.open {
position: absolute;
top: 0;
right: 0;
width: 100%;
background-color: #bda960;
height: 100%;
border: 0;
border-radius: 2px;
}
.form-price-expand::after {
position: absolute;
content: "";
top: 21px;
right: 21px;
width: 18px;
height: 25px;
border: 10px solid transparent;
border-color: #fff transparent transparent transparent;
}
.form-price-expand.open::after {
position: absolute;
content: "";
top: 5px;
right: 21px;
width: 18px;
height: 25px;
border: 10px solid transparent;
border-color: #ddd transparent transparent transparent;
transform: rotate(180deg);
}
.form-price-expand:hover {
background-color: #bda960;
border-radius: 2px;
opacity: 0.58;
color: #fff;
}
.form-price-quotation {
-webkit-transition: all 1.2s ease-out;  
-moz-transition: all 1.2s ease-out; 
-o-transition: all 1.2s ease-out; 
transition: all 1.2s ease-out; 
}
.height-opacity-zero {
height: 0;
opacity: 0;
}
input[type=number].cart-drawer__item-quantity {
position: absolute;
top: 28px;
right: 0;
width: 68px;
padding: 5px;
font-weight: 700;
line-height: 1.5;
text-align: center;
border: 1px solid #ddd;
border-radius: 2px;
}
.cart-drawer__item-delete {
top: 68px;
}
.announcement-bar ul {
margin: 0;
}
.announcement-bar__message {
position: relative;
overflow: hidden;
}
.announcement-bar--link {
position: absolute;
animation: 38s slide-right infinite;
width: 100%;
}
@keyframes slide-right {
from {
  left: -888px;
}

to {
  left: 1988px; 
}
}
.product-recommendations__slider {
background: transparent;
margin: 18px;
}

.product-recommendations__slide {
width: 28%;
min-height: 395px;
margin-right: 10px;
border: 1px solid #bda960;
padding: 12px;
padding-bottom: 16px;
border-radius: 4px;
}
.product-recommendations__slide .card {
width: 100%;
}
.product-recommendations__slide .mt-89 {
margin-top: 69px;
}
.product-recommendations__slide .product_customiser_btn {
margin-bottom: 18px;
margin-top: 20px;
}
.product-recommendations__slide .card__wrapper {
max-height: 238px;
margin-bottom: 0;
}
.card__brand, .card__price {
color: #000;
font-size: 24px;
font-weight: 600;
letter-spacing: 1.7px;
}
.product_page_customiser_btn {
border: 1px solid #bda960;
border-radius: 4px;
color: transparent;
text-align: center;
font-size: 16px;
letter-spacing: 1.2px;
text-decoration: none;
padding-top: 108px;
padding-bottom: 4px;
font-weight: 600;
background-color: #bda960;
background-size: 100% 100%;
-webkit-transition: background-position 0.5s;
-moz-transition: background-position 0.5s;
transition: background-position 0.5s;
justify-content: center;
margin: auto 0;
line-height: 18px;
display: flex;
background-image: url('//cdn.shopify.com/s/files/1/0278/7996/4761/t/24/assets/wood_engraved_136x188.JPG?v=12926823093983101427');
background-position: center;
background-repeat: no-repeat;
}
.product_page_customiser_btn:hover {
background-position: 0 -48px;
color:#000;
transition: background-position 1s;
}
.product_upsell_item_checkbox {
width: 8%;
text-align: left;
margin: auto;
}
.product-upsell-item-title {
width: 72%;
text-align: left;
margin: auto;
}
.product_upsell_item_link {
width: 20%;
text-align: right;
margin: auto;
}
.product_gift_checkbox-label {
width: 8%;
text-align: left;
margin: auto;
}
.product_gift_checkbox-input-title {
width: 72%;
text-align: left;
margin: auto;
}
.product_gift_icon {
width: 20%;
text-align: right;
margin: auto;
}
.product_gift_icon svg {
width: 28px;
height: 28px;
}
.product_gift_input_form label, .product_gift_input_form input {
display: block;
margin-bottom: 2px;
}
.product_gift_form {
cursor: pointer;
margin: 8px 0;
padding: 8px;
}
.product_gift_form:hover {
background-color: #e8d9a4;
color:#000;
border-radius: 4px;
transition: background-color 1s;
}
.product-template-details .product_customiser_button {
margin-bottom: 14px;
}
.product_upsell {
cursor: pointer;
padding: 8px;
}
.product_upsell:hover {
background-color: #e8d9a4;
color:#000;
border-radius: 4px;
transition: background-color 1s;
}
input.product_upsell_variant, input.product_gift_checkbox {
transform: scale(1.8);
margin-top: 4px;
cursor: pointer;
}
.product-upsell-item-title span {
font-size: 18px;
color:#000;
font-weight: 800;
}
.product-form .m8_btn {
border: 2px solid #bda960;
border-radius: 22px;
color: #333;
text-align: center;
font-size: 18px;
letter-spacing: 1.2px;
text-decoration: none;
line-height: 18px;
padding: 8px;
font-weight: 600;
background-color: transparent;
background-size: 100% 200%;
background-image: linear-gradient(to bottom, white 50%, #bda960 50%);
-webkit-transition: background-position 0.5s;
-moz-transition: background-position 0.5s;
transition: background-position 0.5s;
justify-content: center;
margin: 0 auto;
width: 100%;
display: flex;
height: 33px;
}
.product-form .m8_btn:hover {
background-position: 0 -29px;
transition: background-position 1s;
}
.jdgm-write-rev-link:hover {
background-color: #bda960;
transition: background-color 1s;
}
.product__compare-price {
text-decoration-line: line-through;
color: #000;
opacity: 0.8;
font-size: 38px;
font-weight: bolder;
}
.page-form-price-quotation-div {
width: 100%;
background-color: transparent;
border: 1px solid #bda960;
border-radius: 4px;
padding: 8px;
margin-left: 20px;
margin: 0 auto;
}
.swiper-container {
  width: 100%;
  height: 28px;
}
.swiper-slide {
  text-align: center;
  font-size: 14px;
  background: transparent; /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide a {
text-decoration: none;
letter-spacing: .25rem;
color: #333;
font-size: 12px;
}
.swiper-slide a:hover {
text-decoration: none;
letter-spacing: .25rem;
color: #bda960;
}
#search .section-header__title {
display: none;
}
.card__customiser {
margin-top: 41px;
margin-bottom: 18px;
}
.not-green-class { 
color:red; 
}
.green-class { 
color:green; 
}
.optional-field { 
color:grey!important
}
.product-template-details .sale_price {
  margin-top: 12px;
}
@media screen and (min-width: 769px) and (max-width:1024px) {
.product__content-header {padding: 0 !important;}
.template-index .content-for-layout {
  padding-top: 0;
}
.template-index .highlight {
  padding-top: 0;
  padding-bottom: 68px;
}
}
@media screen and (min-width: 769px) {
  .image-bar__item {
    background-size: 125% !important;
  }
  .mobile_image_bar {
    display: none;
  }
  .desktop_image_bar {
    display: block;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .image-bar__item {
   background-size: 158%!important;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1281px) {
  .image-bar__item {
   background-size: 168%!important;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1025px) {
  .image-bar__item {
    background-position: center!important;
    background-size: 211%!important;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1601px) {
  .image-bar__item {
    background-position: center!important;
    background-size: 136%!important;
  }
}
@media screen and (min-width: 1536px) and (max-width: 1537px) {
  .image-bar__item {
    background-position: center!important;
    background-size: 134%!important;
  }
}
@media only screen and (min-device-width: 1600px) and (max-device-height: 1601px) and (orientation : portrait) {
  .image-bar__item {
    background-position: center!important;
    background-size: cover!important;
  }
  .navigation {
    top: 208px!important;
  }
}
@media screen and (max-width: 768px) {
  .swatches li {
    margin-right: 5px;
    margin-bottom: 4px;
    margin-left: 5px;
  }
  .swatch {
    width: 24px;
    height: 24px;
  }
  .card__swatches {
    text-align: center;
    max-height: 88px;
  }
  .collection-template .card__name {
    line-height: 28px;
    text-align: center;
    font-size: 20px;
  }
  .collection-template .card__price {
    justify-content: center;
  }
  .jdgm-preview-badge {
    text-align: center;
  }
  .collection-template .card__availability {
    text-align: center;
  }
  .product_card_url_fit_border {
    text-align: center;
  }
  .social-sharing--product {
    margin-bottom: 20px;
  }
  .main-content {
    margin-top: 0 !important;
  }
  .product__description {
    margin-top: 40px;
  }
  .product__content-header {
    padding-top: 46px;
  }
  .product__media-container {
    margin-top: 8px;
  }
  .product-d-flex {
    display: block;
  }
  .product-template-featured-image {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .product-template-details {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .product__description {
    margin-top: 0;
  }
  .product__price {
    margin-bottom: 8px;
    justify-content: center;
  }
  .tab button {
    padding: 4px;
  }
  .collection-template .card__name {
    font-size: 24px;
  }
  .collection-template .card__price {
    font-size: 18px;
  }
  .collection-template .card__availability {
    font-size: 18px;
  }
  .collection-template .card__info {
    padding-bottom: 0;
  }
  .card__info {
    margin-bottom: 3em;
  }
  .card__wrapper {
    margin-bottom: 0;
  }
  .announcement-bar--link {
    position: absolute;
    animation: 18s slide-right infinite;
    width: 100%;
    height: 48px;
    padding: 0;
    margin: 0;
  }
  @keyframes slide-right {
    from {
      left: -488px;
    }
  
    to {
      left: 688px; 
    }
  }
  .announcement-bar__message {
    line-height: 30px;
  }
  .form-price-quotation-div {
    margin-left: 0; 
  }
  .product-form__quantity-selector {
    width: 44%;
  }
  .product-form__btn {
    width: 56%;
  }
  .product__title {
    text-align: center !important;
  }
  .tab button.active:after {
    top: 4px;
  }
  .tab button:after {
    top: 12px;
    right: 14px;
  }
  .back-button {
    margin-top: 18px;
  }
  .form-price-quotation-div {
    padding: 8px;
  }
  .product__title {
    line-height: 28px;
  }
  .product-recommendations__slide {
    max-height: 380px !important;
    min-height: 370px !important;
  }
  .announcement-bar__message {
    width: 100%;
  }
  .text-left {
    text-align: left;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
  .header-center {
    width: 100%;
  }
  .mobile_image_bar {
    display: block;
  }
  .desktop_image_bar {
    display: none;
  }
  .image-bar__item {
    background-position: center !important;
    background-size: cover;
  }
  .site-header__logo-image {
    max-height: 111px;
    max-width: 215px;
    object-fit: cover;
    object-position: center;
  }
  .mobile_image_bar {
    margin-top: unset;
    margin-bottom: unset;
  }
}