.header-left {
    width: 30%;
    margin: auto;
    text-align: left;
    padding-left: 38px;
}
.header-center {
    width: 40%;
}
.header-right {
    width: 30%;
    margin: auto 0;
    text-align: right;
    padding-right: 38px;
}
.header-right ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-right: 28px;
    margin-top: 0;
    margin-bottom: auto;
    margin-left: auto;
}
.header-right li {
    padding: 0 18px;
}
.navigation__entrance-animation {
    opacity: 0;
}
@media screen and (min-width: 769px) {
.navigation {
    position: absolute;
    -webkit-overflow-scrolling: touch;
    transition: opacity .25s ease-out;
    pointer-events: auto;
    top: 238px !important;
    max-height: unset !important;
    min-height: unset !important;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0%);
    }   
.critical-hide {
    opacity: 1;
    }
    .navigation__links li {
        padding: 8px 0;
        text-align: left;
    }
    .navigation__sublinks-container ul.navigation__sublinks {
        padding-top: 24px;
    }
}
[data-navigation-button] {
    display: none;
}
.site-header-sections {
    height: 268px !important;
}
.section-header__title {
    color: #001B40;
    font-size: 38px;
    text-transform: uppercase;
}
.pagination__page {
    font-size: 16px;
}
.announcement-bar {
    font-size: 12px;
}
.announcement-bar--visible {
    display: block;
}
.announcement-bar--visible ul {
    display: flex;
    justify-content: center;
}
.announcement-bar__close {
    display: none;
}
.announcement-bar__message {
    font-size: 16px;
    line-height: 18px;
}
.annoucement-banner-header li:nth-child(2) a {
    border-left: 1px solid #000;
}
.annoucement-banner-header li:nth-child(3) a {
    border-left: 1px solid #000;
}
.annoucement-banner-header li a {
    padding: 0 8px;
}
.announcement-bar {
    margin: 8px 0;
}
.navigation_button_for_mobile {
    display: none;
}
.page-form-price-quotation-div {
    margin-bottom: 48px;
}
.frontpage-custom-logo {
    display: flex;
    margin: 0 auto;
}
.custom-page-width {
    max-width: 888px;
    margin-left: auto;
    margin-right: auto;
}
.custom-corporate-logo {
    position: relative;
}
.custom-page-title {
    position: absolute;
    width: 88%;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 8;
    text-align: center;
}
.custom-page-title:before {
    content: '';
    position: absolute;
    width: 78%;
    border-top: 4px solid #fff;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: -8;
}
.custom-page-title:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: thin inset #bda960;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: -9;
}
.custom-corporate-logo {
    margin-top: 88px;
}
.custom-corporate-logo ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-top: 48px;
}
.custom-corporate-logo li {
    flex: 1 1 264px;
    padding: 8px;
    margin: auto;    
}
.custom-corporate-logo img {
    width: 264px;
    height: auto;    
}
.navigation__link.navigation__has-sublinks--collapsed>button:hover, .navigation__link>a:hover {
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.navigation__expand-sublinks:hover:after {
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.navigation__link.navigation__has-sublinks--collapsed>button:after, .navigation__link>a:after {
    bottom: 0;
}
.navigation__has-sublinks {
    text-align: center;
}
.navigation__expand-sublinks {
    line-height: 18px;
}
.sublinks-container-max-height-zero {
    max-height: 0px !important;
}
.sublinks-container-max-height-hundred {
    max-height: 100% !important;
}
.navigation-max-height-none {
    max-height: none !important;
}
.breadcrumbs ul {
    font-size: 14px;
    list-style: none;
    color: #bda960;
    font-weight: 800;
    height: 28px;
}
.align-items-center {
    align-items: center !important;
}
.flex-wrap {
    flex-wrap: wrap !important;
}
.breadcrumbs ul {
    margin-left: -3px;
    margin-right: -3px;
}
.justify-content-lg-start {
    justify-content: flex-start;
}
.breadcrumbs a, .breadcrumbs a:active, .breadcrumbs a:link, .breadcrumbs a:visited {
    color: #858585;
}
.breadcrumbs a, .breadcrumbs span {
    padding-left: 3px;
    padding-right: 3px;
}
.breadcrumbs li:not(:first-child)::before {
    content: '/';
    padding-left: 3px;
    padding-right: 3px;
}
.pt-15, .py-15 {
    padding-top: 15px !important;
}
.breadcrumbs a, .breadcrumbs span {
    padding-left: 3px;
    padding-right: 3px;
}
.breadcrumbs a:active, .breadcrumbs a:hover, .breadcrumbs a:link, .breadcrumbs a:visited {
    text-decoration: none;
}
.breadcrumbs ol li>a, .breadcrumbs ul li>a {
    transition-property: color;
}
.gift_card_mt {
    padding-top:70px !important;
}
.product-form__item select#Denominations {
    background-image: linear-gradient(
        45deg
         ,transparent 50%,#bda960 50%),linear-gradient(
        135deg
         ,#bda960 50%,transparent 50%);
            background-position: calc(100% - 27px) calc(1rem + 7px),calc(100% - 19px) calc(1rem + 7px);
            background-size: 8px 8px,8px 8px;
}
.product-form__item select#Denominations {
    border: 2px solid #ddd!important;
    min-height: 39px;
    border-radius: 4px;
}
.product-form__item select {
    font-size: 16px;
    line-height: 20px;
    padding: 8px 20px;
    background-color: transparent;
    border: 1px solid #ddd;
}
.product__content-header {
    padding: 0 !important;
}
.product-form__quantity-selector input[type=number] {
    padding: unset !important;
}
.product_gift_input_form input[type=text] {
    padding: 10px 20px !important;
}
.product-recommendations__slide .card__price--sale {
    font-size: 24px;
}
.product-recommendations__slide .card {
    min-height: 449px;
}
#Card-6603641356377 [js-variant-url="6603641356377"], #Card-6571846172761 [js-variant-url="6571846172761"] {
margin-bottom: 88px;
}
.swiper-container .swiper-slide a.content-slide  {
    font-weight: 100;
}
.variant-status-props {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
    width: 100%;
    justify-content: center;
    display: flex;
}
.variant-status-props p {
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    background-color: #fb2a3f;
    width: fit-content;
    padding: 0 8px;
    border-radius: 4px;
    border: 2px solid #fff;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    height: 28px;
    line-height: 29px;
}
li.js-variant-value {
    position: relative;
}
.d-flex-with-gift-apps {
    display: block;
    width: 100%;
}
.input-qty-with-gift-apps {
    width: 100%;
    display: flex;
}
.add-to-cart-with-gift-apps {
    width: 100%;
}
.product__add-to-cart-button-ajax .secondary-text, .product__add-to-cart-button .secondary-text {
    display: none;
}
.btn--to-secondary-transitioned .secondary-text {
    display: block;
}
.product-form__quantity-selector {
    margin-top: auto;
}
@media screen and (max-width: 767px) {
    .site-header__search, .site-header__account, .navigation__social-sharing,.mobile-d-none {
        display: none;
    }
    .navigation-hide {
        opacity: 0;
        max-height: 0 !important;
        min-height: 0 !important;
        z-index: 99;
    }
    [data-navigation-button] {
        display: block;
    }
    .site-header-sections {
        height: auto !important;
    }
    .navigation {
        top: 182px;
        min-height: 0;
        max-height: 0;
    }
    .announcement-bar--visible ul {
        margin-left: -48px;
    }
    .navigation__links {
        text-align: center;
    }
    .product__current-price {
        font-size: 24px;
    }
    .product__compare-price {
        font-size: 24px;
    }
    .cart-drawer__item-delete {
        bottom: 34px;
    }
    .navigation_button_for_mobile {
        display: block;
    }
    .product-recommendations__slide {
        width: 78%;
    }
    .flickity-prev-next-button.next {
        right: 0px !important;
    }
    .flickity-prev-next-button.previous {
        left: -4px !important;
    }
    .product-recommendations {
        padding-bottom: 58px !important;
        max-width: 316px !important;
    }
    .cart-drawer__item-delete {
        top: 88px !important;
        bottom: unset !important;
    }
    .card__price > div:nth-child(1), .card__price > div:nth-child(2) {
        justify-content: center;
    }
    .collection-template .card__price {
        text-align: center;
    }
    .product_card_url_fit_border {
        width: unset;
    }
    .collection-template .card__availability {
        margin: 0 auto;
    }
    .product_card_url_fit_border {
        width: unset !important;
        min-height: unset !important;
    }
    .template-index .content-for-layout {
        padding-top: 0;
    }
    .announcement-bar--visible ul {
        display: block;
        text-align: center;
        line-height: 10px;
        font-size: 18px;
        color: #000;
    }
    .custom-page-title {
        font-size: 24px;
        width: 80%;
    }
    .custom-page-title:after {
        width: 100%;
    }
    .custom-corporate-logo li {
        flex: 50%;
        padding: 8px;
        margin: auto;  
    }
    .custom-corporate-logo ul {        
        padding-inline-start: 0;
    }
    .custom-corporate-logo img {
        width: 158px;
        height: auto;    
    }
    .page-form-price-title {
        text-align: center;
    }
    .custom-page-width {
        width: 88%;
    }
    .mobile-location {
        position: absolute;
        bottom: -34%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .navigation__container {
        padding-top: 48px;
    }
    .product-template-details .sale_price {
        margin-top: unset;
        align-self: center;
    }
    .breadcrumbs ul {
        padding-inline-start: 0;
        justify-content: center;
    }
    .product-form__quantity-selector {
        width: 44%;
        margin-top: auto;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1025px) {
    .navigation__link a, .navigation__expand-sublinks {
        font-size: 16px;
        line-height: 16px;
        font-weight: 600;
    }
    .swiper-container {
        margin-top: -8px !important;
    }   
    .navigation {
        top: 218px!important;
    }
}
@media (min-width: 768px) and (max-width: 768px) {
    .navigation__expand-sublinks {
        text-align: left;
    }
    .navigation__container {
        margin-top: -68px;
    }
    .swiper-container {
        margin-top: -25px!important;
    }
    .navigation__sublinks-container {
        padding-top: 16px;
        text-align: left;
    }
    .navigation__link.navigation__has-sublinks--collapsed>button, .navigation__link>a {
        font-size: 12px;
    }
    .navigation__expand-sublinks, .navigation__link a {
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
    }
    .image-bar__item {
        background-size: 100%!important;
    }
    .navigation {
        position: absolute;
        -webkit-overflow-scrolling: touch;
        transition: opacity .25s ease-out;
        pointer-events: auto;
        top: 271px !important;
        max-height: unset !important;
        min-height: unset !important;
        left: 50%;
        width: 95%;
        transform: translate(-50%, 0%);
        }   
    .critical-hide {
        opacity: 1;
        }
        .navigation__links li {
            padding: 8px 0;
            text-align: left;
        }
        .navigation__sublinks-container ul.navigation__sublinks {
            padding-top: 24px;
        }
        .navigation__expand-sublinks svg {
            right: 11px;
        }
        .header-center {
            height: 100%;
        }
}
@media (min-width: 769px) and (max-width: 1023px) {
    .navigation__expand-sublinks {
        text-align: left;
    }
    .navigation__container {
        margin-top: -68px;
    }
    .swiper-container {
        margin-top: -25px!important;
    }
    .navigation__sublinks-container {
        padding-top: 16px;
        text-align: left;
    }
    .navigation__link.navigation__has-sublinks--collapsed>button, .navigation__link>a {
        font-size: 12px;
    }
    .navigation__expand-sublinks, .navigation__link a {
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
    }
    .image-bar__item {
        background-size: 281%!important;
    }
    .navigation {
        position: absolute;
        -webkit-overflow-scrolling: touch;
        transition: opacity .25s ease-out;
        pointer-events: auto;
        top: 271px !important;
        max-height: unset !important;
        min-height: unset !important;
        left: 50%;
        width: 95%;
        transform: translate(-50%, 0%);
        }   
    .critical-hide {
        opacity: 1;
        }
        .navigation__links li {
            padding: 8px 0;
            text-align: left;
        }
        .navigation__sublinks-container ul.navigation__sublinks {
            padding-top: 24px;
        }
        .navigation__expand-sublinks svg {
            right: 11px;
        }
}
@media (min-width: 841px) and (max-width: 1023px) {
    .navigation__expand-sublinks {
        padding-right: 28px;
    }
}
@media (min-width: 1279px) and (max-width: 1280px) {
    .navigation {
        top: 222px!important;
    }
}
@media (min-width: 1026px) and (max-width: 1278px) {
    .navigation__link a, .navigation__expand-sublinks {
        font-size: 16px;
        line-height: 16px;
        font-weight: 600;
    }
    .swiper-container {
        margin-top: -8px !important;
    }   
    .navigation {
        top: 218px!important;
    }
    .navigation__expand-sublinks {
        text-align: left;
    }
    .image-bar__item {
        background-size: 218%!important;
    }
}
@media (min-width: 1235px) and (max-width: 1278px) {
    .navigation__link a, .navigation__expand-sublinks {
        font-size: 16px;
        line-height: 16px;
        font-weight: 600;
    }
    .swiper-container {
        margin-top: -8px !important;
    }   
    .navigation {
        top: 236px!important;
    }
    .navigation__expand-sublinks {
        text-align: left;
    }
    .image-bar__item {
        background-size: 218%!important;
    }
}
@media (min-width: 1279px) and (max-width: 1293px) {
    .image-bar__item {
        background-size: 170%!important;
    }
    .navigation {
        top: 241px!important;
    }
    .navigation__link a {
            font-size: 16px;
    }  
    .navigation__expand-sublinks svg {
        right: -31px;
    }  
}
@media (min-width: 1294px) and (max-width: 1440px) {
    .image-bar__item {
        background-size: 168%!important;
    }
    .navigation {
        top: 240px!important;
    }
}
@media (min-width: 1294px) and (max-width: 1440px) {
    .image-bar__item {
        background-size: 168%!important;
    }
    .navigation {
        top: 240px!important;
    }
}
@media screen and (min-width: 1440px) {
    .image-bar__item {
        background-size: 150%!important;
    }
}