{% comment %}
  The contents of the cart.liquid template can be found in /sections/cart-template/
{% endcomment %}
{% include 'breadcrumbs' %}
{% section 'cart-template' %}
{% if settings.mlvedaACS_isMessageDisplay %}
<p class="mlvedaCartNote" style="display:none">
  {{ settings.mlvedaACS_messageContent | replace: "<<shop.name>>", shop.name | replace:"<<shop.currency>>",shop.currency|replace:"<<shop.selected_currency>>","<span class='selected-currency'></span>"}}
</p>
{% endif %}
<script src="https://widget.sezzle.com/v1/javascript/price-widget?uuid="></script>
<script src="https://widget.sezzle.com/v1/javascript/price-widget?uuid=d6d00773-62b6-4034-9944-1b730c464978"></script>