<!-- /templates/gift_card.liquid -->
{% include 'breadcrumbs' %}
{% layout 'giftcard' %}

<header class="giftcard-header text-center">
  <h1 class="giftcard-header__shop-name h5">
    <a href="{{ shop.url }}" itemprop="url">{{ shop.name }}</a>
  </h1>
  <div class="giftcard__shop-url">{{ shop.url | escape }}</div>
</header>

<div class="text-center">
  <main class="giftcard__wrapper{% if gift_card.expired or gift_card.enabled != true %} giftcard__disabled{% endif %}" role="main">
    <div class="giftcard__content">

      <h1 class="giftcard__title h2">{{ 'gift_cards.issued.subtext' | t }}</h1>
      {% unless gift_card.enabled %}
      <span class="giftcard__tag">{{ 'gift_cards.issued.disabled' | t }}</span>
      {% endunless %}
      {% assign gift_card_expiry_date = gift_card.expires_on | date: format: 'basic' %}
      {% if gift_card.expired and gift_card.enabled %}
        <span class="giftcard__tag">{{ 'gift_cards.issued.expired' | t: expiry: gift_card_expiry_date }}</span>
      {% endif %}
      {% if gift_card.expired != true and gift_card.expires_on and gift_card.enabled %}
        <span class="giftcard__tag giftcard__tag--active">{{ 'gift_cards.issued.active' | t: expiry: gift_card_expiry_date }}</span>
      {% endif %}

      <p class="giftcard__instructions rte">
        {% capture print_link %}
        <a href="#" id="PrintGiftCard">{{ 'gift_cards.issued.print' | t }}</a>
        {% endcapture %}
        {{ 'gift_cards.issued.redeem_html' | t: print: print_link }}
      </p>

      <div class="giftcard__wrap">
        <img src="{{ 'gift-card/card.jpg' | shopify_asset_url }}" alt="Gift card illustration">

        {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency -%}
        <h2 class="giftcard__amount h3">{{ formatted_initial_value | strip_html }}</h2>

        {% if gift_card.balance != gift_card.initial_value %}
          <p>{{ 'gift_cards.issued.remaining_html' | t: balance: gift_card.balance | money }}</p>
        {% endif %}

        {% assign code_size = gift_card.code | format_code | size %}
        <div class="giftcard__code">
          <div class="giftcard__code-bubble">
            <strong class="giftcard__code-text" id="GiftCardDigits">{{ gift_card.code | format_code }}</strong>
          </div>
        </div>
      </div>

      <div id="QrCode" class="giftcard__qr-code" data-identifier="{{ gift_card.qr_identifier }}"></div>

      {% if gift_card.pass_url %}
        <a class="giftcard__apple-wallet" href="{{ gift_card.pass_url }}">
          <img class="giftcard__apple-wallet-image" src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}">
        </a>
      {% endif %}

      <a href="{{ shop.url }}" class="giftcard__start-shopping btn btn--clear" target="_blank">
        {{ 'gift_cards.issued.shop_link' | t }}
        {% include 'icon-arrow-right' %}
      </a>

    </div>
  </main>
</div>

