<style>
  li {list-style: none;}
  ul {padding-left: 0;}
  a {color: #008BB4; font-weight: bold; word-break: break-word;}
  .site-footer__copyright a {font-weight: 400;}
</style>
{% include 'breadcrumbs' %}
<div class="page-width">
  {{ page.content }}
</div>
