{% include 'breadcrumbs' %}
<div class="page-width">

  <div class="grid">
    <div class="grid__item medium-up--four-fifths medium-up--push-one-tenth">
      <div class="rte">
        
        <div class="newsletter-wrapper  one-whole"  data-section-type="newsletter">
  <div class="page-width">
    {% form 'customer' %}
  
     
        <div class="newsletter__subheading rte" style="text-transform:uppercase;">Be the first to know about upcoming promotions and sales! Subscribe via email below. </div>
 
      <input type="hidden" name="contact[tags]" value="newsletter">
      <div class="input-group--underline" data-animate>
        <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_placeholder' | t }}" name="contact[email]" class="input-group__field" id="EmailField_Page" aria-label="{{ 'general.newsletter_form.newsletter_placeholder' | t }}" autocorrect="off" autocapitalize="off">
        <div class="input-group__btn input-group__btn--newsletter">
          <button type="submit" class="btn--newsletter__submit">
            {{ 'general.newsletter_form.submit' | t }}
            {% include 'icon-arrow-right' %}
          </button>
        </div>
      </div>
      <div class="newsletter__message" aria-role="alert">
        {% if form.posted_successfully? %}
          <p class="form-success" aria-role="alert">
            Thank you!
          </p>
        {% endif %}
        {{ form.errors | default_errors }}
      </div>
    {% endform %}
  </div>
</div>
        
        
      </div>
    </div>
  </div>
</div>
