<style>
  .contact-section.page-width a {color: #008BB4 !important;}
  .contact-section.page-width a::after {border-bottom: 1px solid #008BB4 !important;}
  .contact-section .rte {text-align: center;}
  .contact-section #contact_form {max-width: 500px; margin: 0 auto;}
  .contact-section #contact_form input, #contact_form textarea {border: 2px solid #000; border-radius: 0; resize: none;}
  .contact-section #contact_form input::placeholder, #contact_form textarea::placeholder {color: #515151; opacity: 1; font-size: 1.143em;}
  .contact-section #contact_form input[type="submit"] {background-color: #fff; color: #000; width: 100%; font-size: 1em; letter-spacing: normal; padding: 0.5em; margin-bottom: 2em;}

  @media all and (max-width: 600px) {
    .contact-section .rte {margin-top: -2em;}
    .contact-section #contact_form input[type="submit"] {margin-bottom: 0;}
  }
</style>
{% include 'breadcrumbs' %}
{% section 'contact-form-header' %}
<div class="page-width contact-section">
  <div class="grid">
    <div class="grid__item medium-up--four-fifths medium-up--push-one-tenth">
      {% if page.content != blank %}
        <div class="rte rte--contact">
          {{ page.content }}
        </div>
      {% endif %}

      <form method="post" action="/contact#contact_form" id="contact_form_page" accept-charset="UTF-8" class="contact-form" onsubmit="window.Shopify.recaptchaV3.addToken(this); return false;"><input type="hidden" name="form_type" value="contact"><input type="hidden" name="utf8" value="✓">
        {% if form.posted_successfully? %}
          <p class="form-success">
            {{ 'contact.form.post_success' | t }}
          </p>
        {% endif %}

        {{ form.errors | default_errors }}

      	<label for="ContactFormName" class="label--hidden">{{ 'contact.form.name' | t }}</label>
      	<input type="text" id="ContactFormName" name="contact[{{ 'contact.form.name' | t }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">

      	<label for="ContactFormEmail" class="label--hidden">{{ 'contact.form.email' | t }}</label>
      	<input type="email" id="ContactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

        <label for="ContactFormSubject" class="label--hidden">Subject</label>
        <input type="tel" id="ContactFormSubject" name="contact[subject]" placeholder="Subject" value="{% if form[subject] %}{{ form[subject] }}{% endif %}">

        <label for="ContactFormMessage" class="label--hidden">Brief Description</label>
        <textarea rows="6" id="ContactFormMessage" name="contact[{{ 'contact.form.message' | t }}]" placeholder="Brief Description">{% if form.body %}{{ form.body }}{% endif %}</textarea>

        <input type="submit" class="btn" value="{{ 'contact.form.send' | t }}">
      </form>
    </div>
  </div>
</div>
